[2020-02-28 20:29] jbphet opened #1 "Greenhouse Effect - Main checklist"
# Greenhouse Effect master checklist

## Design
- [x] **Sim folder and design doc created** (Date: 12/04/2019)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [ ] **Legacy sim docs/info gathered**
  - [x] [Sim suggestions doc](https://phet.unfuddle.com/a#/

[2020-02-28 21:45] jbphet commented on #1
Assigning to @arouinfar the add dates and check boxes for the design items that have been done to date.

[2020-03-03 00:45] samreid opened #2 "Move prototype from scenery-phet to greenhouse-effect repo"
We developed a prototype in the scenery-phet repo before the greenhouse-effect repo existed.  We should move it here.

UPDATE: The prototype from scenery-phet only has 2 commits, so we may not need to migrate the history.

[2020-03-03 01:22] samreid commented on #2
I published a blank dev-1 version here: https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.1/phet/greenhouse-effect_en_phet.html

[2020-03-03 01:28] samreid commented on #2
Published prototype here: https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.2/phet/greenhouse-effect_en_phet.html

Closing.

[2020-03-03 01:28] #2 closed

[2020-03-03 01:40] samreid opened #3 "Add clouds to greenhouse waves prototype"
Requests from meeting with @kathy-phet and @arouinfar:

* Cloud node reflection slider 0-100%
* Slider for reflection angle.
* Could make it reflect off the surface too
* Number of Red Waves
* Reflection Balance
* The red waves going back to the ground are less transparent.

![image](https://user-images.githubusercontent.com/679486/75734265-b8a65a80-5cb4-11ea-866a-562ddd1cf8bd.png)

![image](https

[2020-03-03 23:15] arouinfar commented on #3
KP: Maybe opacity or line width

@samreid for the "Initial Red Intensity" controls, we'll want NumberControls for stroke weight and opacity.

[2020-03-06 02:15] samreid commented on #3
Notes from today's design meeting:

Sun rays Accordion box
* Amplitude of sun
* K of sun
* omega of sun
* Get rid of resolution control
* stroke of sun
* transmitted opacity
* transmitted line width
* reflected opacity
* reflected line width
* incoming opacity
* incoming line width

Same for red, then for reflected red.

Instead of reflecting off cloud.
Choose split point, a high one, a low one.

[2020-03-06 04:45] samreid commented on #3
I added the changes from the preceding comment and published https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.4/phet/greenhouse-effect_en_phet.html

Some notes:
1. I slowed down the waves a bit
2. I wasn't sure about the angles.  I put incoming and emanating rays at 0 degrees.  The "angle" control is only wired up for "red"
3. I like how the leftmost red "incident" and "reflected" wa

[2020-03-19 04:40] arouinfar commented on #3
Thanks @samreid! The waves demo has been very helpful. We reviewed dev.4 in design meeting, and have decided to continue pursuing the wave representation. There are few changes we would like to see made to help us further the design.

- [ ] ComboBoxes are too tall and get hidden by the navbar unless the window aspect ratio is made narrower. Could probably prevent this if slider thumbs are all made

[2020-03-20 00:22] samreid opened #4 "Reduce height of slider thumbs"
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

[2020-03-20 00:22] samreid opened #5 "Reduce the number of waves to 3 visible & 4 IR."
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

[2020-03-20 00:23] samreid opened #6 "Depict the time-based propagation of the waves"
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

[2020-03-20 00:24] samreid opened #7 "Change the IR ground angle to 30 degrees"
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

Change angle of IR coming out of the ground to something like this
<img src="https://user-images.githubusercontent.com/8419308/77031392-1dc1a780-6967-11ea-813b-b7bd5bb75e28.png" width=100>

[2020-03-20 00:25] samreid opened #8 "Add ResetAllButton to the grass."
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

[2020-03-20 00:25] samreid opened #9 "Add checkbox to hide clouds (could go in the grass)"
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

[2020-03-20 00:27] samreid opened #10 "Make the wave split points in phase"
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

[2020-03-20 00:29] samreid commented on #10
From my prior work on this, I would estimate this would take 2-4 hours for this.  Also, the way it is implemented for the prototype may be different than how it is eventually implemented for the production simulation.

[2020-03-20 00:31] samreid opened #11 "Test some options for viewing one dynamic wave type at a time"
From https://github.com/phetsims/greenhouse-effect/issues/3#issuecomment-600985079.  @arouinfar said:

Watching visible and IR at the same time can be challenging, and we would like to test some options for viewing one dynamic wave type at a time. One option would be to simply pause the motion of the waves. Another option would be to view it a diffuse beam in the background of the sim, similar to

[2020-03-20 00:32] samreid commented on #3
I moved the requests to separate issues.  @arouinfar anything else for this issue?

[2020-03-20 13:22] samreid commented on #4
Fixed and ready for review.

[2020-03-20 14:25] samreid commented on #5
Can you please be more specific about this?  For the yellow rays, do you want me to remove a triplet (incoming + transmitted + reflected) or one that doesn't hit a cloud?  Same question for the reds, do you want me to remove the single (2nd from the left) or one of the triplets?

[2020-03-20 14:28] samreid commented on #6
Can you be more specific?  Do you mean the yellow waves that strike the ground, emits a red wave from the same point?  Is this from the "transmitted" part that goes through clouds as well as the yellow waves that don't strike clouds at all?  Do these need to be in phase (as part of #10)?  Does the ground emit any IR from places where yellow waves don't strike?

[2020-03-20 14:49] samreid commented on #7
I turned the IR from the ground to be 30 degrees.  I could use some help rearranging them so they don't overlap too much, perhaps after we finish #5?  What do you think?

[2020-03-20 15:09] samreid commented on #8
Added and ready for review.

[2020-03-20 15:11] samreid commented on #9
Will hiding the clouds change the yellow beam "transmission" and "reflection"?  Or will that remain the same and this will just hide/show the cloud ellipses?

[2020-03-20 15:40] samreid commented on #11
Implemented and ready for review.

[2020-03-20 15:56] kathy-phet commented on #9
For now just hiding the cloud themselves is fine.

[2020-03-20 15:58] kathy-phet commented on #5
@arouinfar - what do you think?

[2020-03-20 15:59] kathy-phet commented on #10
OK, can you please go ahead an invest the time to do this for the prototype. Thanks!

[2020-03-20 16:07] arouinfar commented on #11
@samreid this is looking good in master. If possible, can you layer the wave representations on top of the beam representation?

[2020-03-20 16:08] arouinfar commented on #8
👍

[2020-03-20 16:08] #8 closed

[2020-03-20 16:10] arouinfar commented on #7
This is looking pretty good @samreid. I'll review again once #5 has been completed.

[2020-03-20 16:12] arouinfar commented on #5
Visible: remove one of the beams that doesn't hit a cloud
IR: remove the beam that doesn't split

How does that sound @kathy-phet?

[2020-03-20 16:13] arouinfar commented on #4
Looks great, thanks!

[2020-03-20 16:13] #4 closed

[2020-03-20 16:13] kathy-phet commented on #5
Sounds good to me.

[2020-03-20 16:13] arouinfar commented on #3
Thanks @samreid. Let's close this issue.

[2020-03-20 16:13] #3 closed

[2020-03-20 16:15] arouinfar commented on #6
@samreid does @kathy-phet's description clarify things for you? If not, let me know. I'd be happy to hop on a quick zoom chat with you.

[2020-03-20 21:19] samreid commented on #6
This prototype was developed with the simplifying assumption that we would not need to depict the propagation of the waves and that everything would be in a steady state.  It sounds like that requirement is changing.  I would estimate 2-6 hours for this part and will plan to work on it unless I hear it's not worth that amount of time.

[2020-03-20 21:37] samreid commented on #9
The commit adds a checkbox that hides and shows the clouds without changing any of the other physics.  Ready for review.

[2020-03-20 21:41] arouinfar commented on #9
Looks good in master. Thanks @samreid!

[2020-03-20 21:41] #9 closed

[2020-03-20 21:53] samreid commented on #11
I moved the beams to the back, @arouinfar can you please review?

[2020-03-20 23:13] arouinfar commented on #11
Thanks @samreid, closing.

[2020-03-20 23:13] #11 closed

[2020-03-22 14:27] samreid commented on #5
I removed the waves that don't split (one red and one yellow).  This leaves an empty space where they used to be.  Please open a new issue if you would like the other wave positions to be adjusted.  This issue is ready for review.

[2020-03-22 16:48] samreid commented on #6
Implemented in the commits.  I also added a "reset time" button which restarts propagation.  Please review.

[2020-03-22 17:53] samreid commented on #10
I manually tuned the phases to put the waves in sync.  It's not perfect because they aren't at the same angle.  If we use something like this for production, we may want to put a "band-aid" stitch between the end of the incoming wave and the beginning of the transmitted/reflected waves.

@arouinfar and @kathy-phet can you please review?

[2020-03-23 20:23] arouinfar commented on #10
@samreid I'd say this is good enough for now. The incident wave will end up out-of-phase if k is adjusted, but we can review things at the default k.

![image](https://user-images.githubusercontent.com/8419308/77359600-700d1a80-6d11-11ea-9f5a-ad0b631f96ec.png) ![image](https://user-images.githubusercontent.com/8419308/77359668-8e731600-6d11-11ea-8d0e-fe567337df40.png)

[2020-03-23 20:31] arouinfar commented on #6
Thanks @samreid. I think this should be good enough to get the idea across.

If this code ends up being used in the sim, there is some odd behavior we'd want to clean up. A few things I've noticed:
* The right-most visible wave lags a bit behind the other two.
* The IR waves can emerge before the visible reach the ground if visible is set to any of the non-wave options before switching to Wave.

[2020-03-23 20:42] arouinfar opened #12 "Equally space waves"
Extension of #5

@samreid can you equally space the waves so that they are horizontally distributed throughout the screen? I'd also like to move the clouds to be in the path of the 1st and 3rd visible wave. Here's a very rough sketch. Red = IR, Blue = visible/cloud.
![greenhouse](https://user-images.githubusercontent.com/8419308/77361132-57523400-6d14-11ea-9018-fa48789252d8.jpg)

[2020-03-23 20:43] arouinfar commented on #5
Thanks @samreid. I think it would be nice to equally space the waves, so I've opened #12.

[2020-03-23 20:43] #5 closed

[2020-03-23 20:43] arouinfar commented on #7
Final review pending the changes in #12.

[2020-03-23 21:00] samreid commented on #6
I eliminated the lag from the rightmost wave.

[2020-03-23 21:18] samreid commented on #12
I spaced the waves equally (one spacing for yellow and a different spacing for red--matched manually), please review.

[2020-03-23 22:52] arouinfar commented on #12
Thanks @samreid. Looks good in master.

[2020-03-23 22:52] #12 closed

[2020-03-24 15:15] samreid opened #13 "Publish a dev version for Tuesday March 24 Design Meeting"
Over Slack, @arouinfar requested a dev version with the recent changes to use in the Tuesday March 24 design meeting.  I'll publish this.

[2020-03-24 15:16] samreid commented on #13
I published a dev version here: https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.7/phet/greenhouse-effect_en_phet.html?screens=2

Back to @arouinfar to sanity-check, let me know if there is anything else to do for today.  Close if all is well.

[2020-03-24 17:02] arouinfar commented on #13
Thanks @samreid, looks good!

[2020-03-25 20:36] samreid opened #14 "Reduce number of waves"
During design meeting we wanted to see it with a smaller number of waves.

[2020-03-27 20:03] samreid commented on #14
I implemented this during the meeting.  @arouinfar can this issue be closed?

[2020-04-23 16:31] arouinfar commented on #14
Thanks @samreid. This issue can be closed.

[2020-04-23 16:31] #14 closed

[2020-04-29 23:16] #10 closed

[2020-04-29 23:17] arouinfar commented on #7
This angle has been working fine for us during brainstorming meeting, so closing.

[2020-04-29 23:17] #7 closed

[2020-04-29 23:17] #6 closed

[2020-04-29 23:41] arouinfar opened #15 "Add propagation effect to waves"
To make the propagation feel less like an animation and somewhat more random, we'd like to add another propagation effect to the waves demo.

A few seconds after a wave has fully propagated across the screen, we'd like to turn it off. The wave's tail would then be seen approaching the its end point. Here's are some rough sketches of what I think it'd look like for a single wave. Time is progressin

[2020-05-11 16:45] samreid commented on #15
Notes from today's meeting with @kathy-phet and @arouinfar

Make it so that when the yellow tail comes onscreen, that triggers the creation of the next yellow (about an inch away).  Same for reds.

make the left red wave move to the left, so they spread out from the center, to reduce the overlap

Change the reflected red wave on the left to go directly down (0 degress to normal)

Red wave transmit

[2020-05-11 21:33] samreid commented on #15
From slack:

@samreid said:
I’m at a good point on Greenhouse, and thought it might be helpful if you want to take another quick look before tomorrow’s design meeting.

@arouinfar said:
Master is looking nice! I don’t think the Show Gaps checkbox does anything, though. (edited)

@samreid replied:
Right, that is my last checkbox.  I should have that working momentarily.  Is everething else good eno

[2020-05-12 19:50] samreid commented on #15
At today's design meeting, we agreed the prototype is sufficiently advanced for the design of the sim, and no further work was requested.  Closing.

[2020-05-12 19:50] #15 closed

[2021-02-26 23:33] jbphet opened #16 "Remove mockups"
Mockups for the various screens are being added at the moment, and this issue is to remind us to remove them prior to publication.

The "Options..." control that sets the opacity for them should also be removed.

[2021-03-02 18:37] samreid commented on #16
It seems this is sim-specific, so I'll update the label accordingly.  Please correct me if necessary.

[2021-03-24 21:44] jbphet opened #17 "Decide how best to structure the observation window classes"
The first three screens of this simulation have an "observation window", meaning a window that presents a view of the Earth and the sky, and where photons or waves are flitting about doing greenhousey things.  As of this writing, it's early in the development process, and I'm not sure whether it would be best to have one observation window class that handles different models, or a base class into

[2021-03-31 15:44] KatieWoe opened #18 "CT one of the items in the legend is too large"
[code]

[2021-03-31 20:52] jbphet commented on #18
This assertion looks like an explicit test that is being done in the new `EnergyLegend` type.  Since this was recently added by @jessegreenberg, I'm going to turn this over to him.

[2021-04-02 22:19] jbphet commented on #18
I decided to take a look at this and it's a good thing I did - the problem was in the `ObservationWindow` class.  It was ending up very wide to to an unlimited button text width, so I've fixed this.  The `stringTest=xss` test is passing on my local copy now, so I think we're good to go.  Closing.

[2021-04-02 22:19] #18 closed

[2021-04-09 20:51] jbphet opened #19 "Set up shared code between molecules-and-light and greenhouse-effect"
The molecules-and-light sim is a subset of the greenhouse-effect sim, and in other cases that I've worked on where one sim is a subset of another, the more extensive "parent" sim contains all of the code for both.  The atomic-interactions sim has this sort of a relationship with states-of-matter, where pretty much all of the code for the sim is in the states-of-matter repo.  So, if we want to foll

[2021-04-12 16:46] KatieWoe opened #20 "CT false is not a function"
[code]

[2021-04-12 20:34] jbphet commented on #20
I think this was do to a bad assertion statement, and I've fixed it.  I'll check CT in a couple of hours and, if it's clear, I'll close.

[2021-04-12 23:01] jbphet commented on #20
CT has now been clear for four iterations, closing.

[2021-04-12 23:01] #20 closed

[2021-04-14 16:42] jessegreenberg opened #21 "Should dates be translatable?"
@jbphet and I were working on the concentration control panel and were wondering if dates needed to be translatable. They are numerical values, but maybe there are different representations for dates in other languages. "Ice Age" will definitely need to be translatable.

![image](https://user-images.githubusercontent.com/6396244/114747349-be2afc80-9d1e-11eb-8d8f-4a89fdddbf8b.png)

@arouinfar what

[2021-04-14 20:33] arouinfar commented on #21
I wouldn't make the numeric dates translatable. Very few countries use a non-Gregorian calendar, and there isn't necessarily a 1:1 mapping of years. For example, the year 2020 lines up with 1398-1399 in the Iranian calendar (new year starts on the vernal equinox).

[2021-04-20 21:41] jbphet opened #198 "Some of the sound files are larger than they probably need to be"

[2021-04-21 14:50] jessegreenberg commented on #21
Thanks, I added a comment to that effect and they are not translatable.

[2021-04-21 14:50] #21 closed

[2021-04-21 15:00] jessegreenberg commented on #19
Here is the issue where we set up the shared code between energy-skate-park and energy-skate-park-basics https://github.com/phetsims/energy-skate-park/issues/6.

We decided to create one main repo (energy-skate-park) and a thin shell for basics when was dependent on the main repo.

From https://github.com/phetsims/energy-skate-park/issues/6#issuecomment-386120644, I used https://docs.github.com/en

[2021-04-21 15:05] jessegreenberg commented on #19
Perennial now has a copy-history-to-different-repo.sh which looks promising.

[2021-04-21 18:52] jessegreenberg commented on #19
I am using copy-history-to-different-repo.sh now to move things over, going through each subdirectory then moving things around. Taking some notes as I go through.

- Did this for files under /doc, and added TODOs for these files to indicate stuff needs to be filled in for GHE things.

[2021-04-21 21:25] jbphet opened #22 "Add help text"
In a review meeting today, the design team discussed adding help text to the sim.  Some of this text is specified in the description design doc at https://docs.google.com/document/d/1HWVypTlzM5oSUhhcv7gPdx1sSCs0j-xgIF3lbSgzwAQ/edit?usp=sharing, but some of it isn't there yet.  At first the thinking was that we should add the parts that have been defined thus far, but then @jessegreenberg pointed o

[2021-04-22 15:35] jessegreenberg commented on #19
The contents of molecules-and-light have been moved to greenhouse-effect including assets, images, mipmaps, and sounds and code. Most code from molecules-and-light has been moved under the micro subdirectory, since molecules-and-light will mostly borrow from that screen.

I verified that history was preserved by checking history of several files under micro.

I expect some things could move out of

[2021-04-22 21:45] jbphet opened #23 "Decide on wave appearance parameters"
In yesterday's design meeting we decided that it's time to come up with a configuration for the wave representations.  The current dev version at https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.9/phet/greenhouse-effect_en_phet.html has the ability to set various parameters that control how the waves look, and @arouinfar is going to come up with the configurations that we will use.

[2021-04-22 21:53] jbphet opened #24 "Review static description on waves screen and update spec"
@jessegreenberg and I have done the first round of implementation for the static portion of the description for the waves screen.  The work that was done was based on the [Interactive Description Design spec](https://docs.google.com/document/d/1HWVypTlzM5oSUhhcv7gPdx1sSCs0j-xgIF3lbSgzwAQ/edit?usp=sharing), and the a11y view of a dev version can be found at https://phet-dev.colorado.edu/html/greenh

[2021-04-28 16:52] jessegreenberg commented on #22
I discussed this with @zepumph - While there is still some work to be done in https://github.com/phetsims/scenery/issues/867, `helpText` is generally in good shape to be used in greenhouse-effect. During a meeting 4/28/21 @jbphet and I tried it out for a usage in the sim and it is working well. So we are ready to keep adding helpText in this sim, removing `deferred` label.

[2021-05-04 16:51] Ashton-Morris opened #25 "Add sound for Start Sunlight"
There preferred sound was

[1. greenhouse-start-sunlight-chord](https://drive.google.com/file/d/1kPDqx1fWyDpHYhQRZNR_O67-YqaFxxxZ/view?usp=sharing)

followed by

[2. greenhouse-start-sunlight-arpeggio ](https://drive.google.com/file/d/1CQA7IQAny23-Jz12B0IsJcQA3YoygeRQ/view?usp=sharing)

[2021-05-05 19:40] jessegreenberg commented on #19
I think this is done. molecules-and-light is now a shell that pulls almost all code from greenhouse-effect. As mentioned in https://github.com/phetsims/greenhouse-effect/issues/19#issuecomment-824948429 I suspect that things could be moved back into molecules-and-light if there are components that are specific to that sim. We will do that when we have a mockup for the micro screen.

Regarding stri

[2021-05-05 19:41] jessegreenberg commented on #19
@jbphet I wanted to reassign to you in case you wanted to spot check in case I missed anything. Otherwise I think this can be closed.

[2021-05-05 21:09] jbphet commented on #25
I added the two sounds in https://github.com/phetsims/greenhouse-effect/commit/284b213a698626d92005b782b951fa3c682d29a2, but that commit had a lot of other things going on.

The next step is to choose which one we prefer, or iterate and try some others.

[2021-05-06 00:15] jessegreenberg opened #26 "Hook up EnergyBalancePanel to the model"
In https://github.com/phetsims/greenhouse-effect/commit/e3bd34c66a246d2f5b93c1f45ad9aff8c5bc73d5 the EnergyBalancePanel was added, but it currently uses Properties that are not part of the model. This issue is to hook it up once the data is made available . Assigning to @jbphet to do this as he works on the model, or reassign to me when it is ready.

[2021-05-06 17:13] KatieWoe opened #27 "CT repo bamboo missing from package.json's phetLibs"
[code]

[2021-05-11 21:58] jbphet opened #28 "Add sound for Greenhouse Gas Concentration slider"
@Ashton-Morris has mocked up some sounds for the concentration slider, so it's time to start making some prototypes that we can run by the larger design groups.  @Ashton-Morris - please get the sounds to me and I'll start putting them in.

[2021-05-12 15:13] Ashton-Morris commented on #28
[I have added the sounds here.](https://drive.google.com/drive/folders/19bEE-mjkSfpZBq5C6TtlKjP4yJa5zr3C?usp=sharing)

From out conversation the implementation was suggested as follows: attach a sound clip to each "bin" on the slider - 001 being the bottom and 011 being the top. Test with some rules indicating that it can only play the last two bins crossed or to fade out other concentration slide

[2021-05-12 16:12] arouinfar commented on #24
@jbphet @jessegreenberg the help text for the Waves screen is ready for implementation. The help text is highlighted in cyan in this section: https://docs.google.com/document/d/1HWVypTlzM5oSUhhcv7gPdx1sSCs0j-xgIF3lbSgzwAQ/edit#heading=h.enfahlvtbk6h

@Matthew-Moore240 and I also noticed that the heading order in the a11y view does not match the table in https://docs.google.com/document/d/1HWVypTlz

[2021-05-12 19:43] jessegreenberg opened #29 "i18n for the temperature readouts"
While making the thermometer I wasn't sure how to best support i18n for the temperature value, units, and degrees readout. What I have right now are the following:

[code]

The temperature unit can be translated. The order of {{value}} and "K" can be translated when displaying temperature in kelvin. The order of "{{value}} {{degrees}{{units}}" supports order of those things for temperature in celc

[2021-05-12 20:02] jessegreenberg opened #30 "Layout of the surface temperature thermometer"
I recently added the surface temperature thermometer and had a question about the layout. The here is what I have on master:
![image](https://user-images.githubusercontent.com/6396244/118036877-1dd6f080-b33b-11eb-99e4-8961c6727e52.png)

The mockup has it a bit further down on the window frame:
![image](https://user-images.githubusercontent.com/6396244/118036939-2deed000-b33b-11eb-9178-bc4a29a0d243

[2021-05-12 20:08] jessegreenberg opened #31 "Add the flux meter"
The Photons and Model screens both have a Flux Meter that looks like this.

![image](https://user-images.githubusercontent.com/6396244/118037750-427f9800-b33c-11eb-95b4-054c7bf7efb9.png)

Adding it in this issue.

[2021-05-12 20:19] jessegreenberg opened #32 "Different UI for the Thermometer on the Model screen"
I noticed that the Model screen as a UI to change the units of temperature like this:
![image](https://user-images.githubusercontent.com/6396244/118038739-7e672d00-b33d-11eb-8bcb-c6728c88d30b.png)

While the other screens use a ComboBox. @arouinfar was this difference intentional, or should both screens use the same component for this?

[2021-05-12 20:23] jessegreenberg opened #33 "Rename references of "Layer" to "Model""
The third screen is called "Model", there are several references to "Layer" that may have come from the java code. I think they should be renamed to "Model". This could be slightly confusing because we have other "model" folders and "Model" is already used a suffix for many files. We will probably end up with a `model/ModelModel.js`. But I think it could be better to follow the convention.

[2021-05-12 21:03] jessegreenberg commented on #33
@jbphet suggested that we bring this up during developer meeting before proceeding to see if the team has a vote for how we should proceed.

If we rename we will have a model directory for the screen with another model and view subdirectories. Inside we will have ModelModel.js. Maybe that is too confusing and worth breaking the naming convention.

[code]

[2021-05-12 22:12] jessegreenberg opened #34 "Get the ComboBox displaying temperatures in units other than kelvin"
The SurfaceTemperature ComboBox isn't displaying the correct temperatures yet. It sounds like it is now hooked up to the model. IF the model is in kelvin, we should add a couple of DerivedProperties that convert temps in kelvin to temps in C and F for the NumberDisplays of the SufraceTemperatureThermometer.

[2021-05-12 22:40] arouinfar commented on #29
@jessegreenberg this looks a bit more complicated than necessary. I would include the degrees symbol within `temperature.units.celcius` and `temperature.units.fahrenheit` which would eliminate the need for the valueDegreesUnitsPattern.

Perhaps states-of-matter would be a useful reference here? I am pretty sure we included the degrees symbol in the unit itself.

[2021-05-12 22:47] pixelzoom commented on #33
Help me understand the design terminology. What does the screen name "Model" signify?   I don't see a screen with that name in the legacy version, and the HTML5 version isn't fleshed out enough to guess.  "Model" is so vague.  Maybe there's an alternate (better?) name for this screen that would avoid this problem AND be better describe what the screen is about.

[2021-05-12 22:47] arouinfar commented on #32
Great question @jessegreenberg. The needs a bit different for the Model screen, in particular:
* Each temperature readout should be able to be turned on/off independently of the others (supports predictive questioning).
* All temperature readouts should have the same units so that they easily compared.

A ComboBox would not work for this screen. Changing one ComboBox would require changing the oth

[2021-05-12 23:22] arouinfar commented on #33
Here's a mockup of the screen in question:
![image](https://user-images.githubusercontent.com/8419308/118055848-1cf78c00-b346-11eb-9e81-82b2436764f0.png)

In the Java version, the screen was called "Glass Layers". Glass layers are commonly used to model the greenhouse effect, however, that terminology is not preferred. In reality, these are infrared absorbers/blankets, and in the HTML5 version of

[2021-05-12 23:30] arouinfar commented on #30
@jessegreenberg I think the thermometer is a bit too far up. It's important that the entire bulb is in contact with the ground, and it's also nice to be in proximity to the other temperature checkboxes underneath it. I think it'd be fine if the ComboBox exits the Observation Window when opening. Alternatively, it could be open upward instead.

If there's an issue with the behavior when the observa

[2021-05-12 23:59] jessegreenberg commented on #34
Done

[2021-05-12 23:59] #34 closed

[2021-05-13 00:03] jessegreenberg commented on #31
Initial commit made above. Still needs
- Make the sensor draggable.
- Impelement sensor behavior so that it detects flux of photons
- Add the WireNode that visually connects the sensor and the meter display.

[2021-05-13 00:04] jessegreenberg commented on #31
Actually, @arouinfar is the sensor draggable, or is it locked in place? Does it need to be draggable? Making it fixed in place could be a way to significantly simplify accessibility work so just thought I would check.

[2021-05-13 17:56] arouinfar commented on #31
@jessegreenberg the sensor is draggable because it is important for users to be able to sample at any altitude. Also note that while the sensor has a fixed visual width, it would be actually be sensing along a line that spans the entire width of the observation window.

[2021-05-13 18:32] samreid commented on #33
We already have another ModelModel.js for another sim with a "Model" screen.

[2021-05-13 19:01] jbphet commented on #33
Discussed in today's dev meeting, decided to work with the designers to try to come up with a better name but, if we can't, we'll use the standard naming conventions and just live with the `ModelModel.js` and `model/model` oddness.  Until this is resolved, leave it as is.

[2021-05-13 21:44] jbphet commented on #33
@arouinfar and @kathy-phet - Can we potentially come up with a different name for this screen?  It would help us to avoid the naming problem and could potentially tell users a bit more.  "Model" sound a bit generic to me since, after all, every screen in this sim is a model.

[2021-05-14 05:00] kathy-phet commented on #33
Thoughts... “Layer Model” or “Blankets” or “Layers”

Sent from my iPhone

[2021-05-14 16:53] arouinfar commented on #33
I'd be fine with either "Layers" or "Layer Model". We don't use the term "blankets" in the sim, so I think that screen name would be a bit too much of a stretch.

I'll tag this for design meeting, and we can finalize it there.

[2021-05-14 20:18] jbphet commented on #27
@jessegreenberg fixed this in 2b60b82c653bf73705c04b7e4f04589b22470deb, closing.

[2021-05-14 20:18] #27 closed

[2021-05-14 20:36] jbphet opened #35 "CT: Uncaught Error: Assertion failed: one of the items in the legend is too large, extends beyond width"
I've done a bit of investigation on this, and it is is actually a problem caused by the observation window leaving insufficient space for the energy legend.

@jessegreenberg - Two things:
- The root of the problem is that several of the items that were recently added to the observation window, such as the thermometer and the energy balance panel, don't have anything preventing them from getting hu

[2021-05-17 15:48] KatieWoe commented on #35
[code]

[2021-05-18 17:07] jbphet commented on #28
Reviewed in today's sound design meeting:
- It seems pretty good in context, so we'll share it with the full design group
- We should try to figure out a way to get a sound to play on every key movement, and at the moment there is only a sound on every other shift-up-arrow or shift-down-arrow key (which are the finest keyboard movements possible)
- It seems a bit loud - see if the volume can be re

[2021-05-18 17:10] jbphet opened #36 "Create a soundscape for the observation window"
The sound design team has been talking about creating a "soundscape" with multiple layers of sounds to portray/compliment the things that happen in the observation windows on the waves and photons screens (we'll worry about the layers screen later).  This issue is where we will track the requirements and ideas.

[2021-05-18 17:18] jbphet commented on #36
The things that we want to add sound for are:
- ground temperature
- photon absorption and re-emission on the photons screen
- wave absorption and re-emission on the waves screen
- possibly something unique in the background of each time period when in "time period selection" mode

[2021-05-18 21:50] jessegreenberg commented on #35
Thanks for investigating. I went through and made the screen friendly for i18n in general. I can see how that commit message is confusing. It now reads like:

which should hopefully clarify the intention of the assertion.

I think this can be closed now.

[2021-05-18 21:50] #35 closed

[2021-05-18 21:52] jessegreenberg commented on #32
OK, sounds good, thanks @arouinfar.

[2021-05-18 21:52] #32 closed

[2021-05-18 22:18] jessegreenberg commented on #31
I see, thanks @arouinfar. I see a comment in the design document that says "Probe doesn’t need to move left/right", is that still correct? Are there other requirements for this tool?

Good to know, thank you! How does the arrow display work? There is a note that says "For a similar representation, refer to the Particle Flow Rate arrows in the Diffusion simulation". Should it be exactly like that a

[2021-05-19 14:20] jessegreenberg commented on #29
Done in the above commit.

[2021-05-19 14:20] #29 closed

[2021-05-19 14:31] jessegreenberg commented on #30
OK sounds good. When moved down I found it a little too busy to have the ComboBox open over the Checkbox text below the ObservationWindow so I made it open upward. @arouinfar what do you think, can you please review behavior on master?

[2021-05-19 17:26] arouinfar commented on #24
@Matthew-Moore240 and I finished cleaning up the state descriptions for the Waves screen, updates since last time include the H3: Observation Window and H4: Energy Balance.

We started working on defining the ranges/scales in the Parameters for States & Responses section of the doc, but it's not ready for implementation yet. We're currently working on the greenhouse gas concentration ranges, and i

[2021-05-19 18:39] jbphet commented on #28
@Ashton-Morris - I need to get two things from you to continue with this:
1. We need one additional sound.  Here's why: There should be a sound for each bin, which is the space between a given pair of tick marks, and one each for the min a max.  Since there are 11 total tick marks including the end points, that's 10 bins, and thus we need 12 sounds.
2. Have 12 `.mp3` files to the sim increases its

[2021-05-19 19:48] jessegreenberg opened #37 "Add a cloud to the Waves screen"
Discussed 5/19/21, it should appear around the let side of the ObservationWindow, under the left sunlight wave. Should be near the middle of the atmosphere vertically, at around 5km. Will be modelled like an ellipse and we will just draw an elliptical shape for it for now.

[2021-05-19 19:54] jessegreenberg commented on #31
Discussed during a meeting today -
The sensor only needs to be dragged vertically, it will be locked in place horizontally in the center of the ObservationWindow.
The arrow representations won't behave exactly like Diffusion. It will depend how we implement the model. If we have a "Layers" approach, we might have the flux in/out at each layer and hen interpolate between each layer at the position

[2021-05-19 20:22] jbphet commented on #33
Discussed in 5/19/2021 design meeting, decided upon "Layer Model" for the name.

[2021-05-19 20:25] jbphet commented on #28
This was discussed in the 5/19/2021 design meeting and it was basically approved with the list of sounds above.  The next step - after getting the additional sound from @Ashton-Morris and integrating it - is to try to replicate the sound programmatically to reduce the costs in terms of sim size and load time.

[2021-05-19 20:26] jessegreenberg opened #38 "How to handle interactivity with ObservationWindow components before sunlight starts"
The observation window has a dark filter over all components that indicates sunlight is missing, and makes it very clear that the "Start Sunlight" button should be pressed. UI components under this filter are still interactive. We would like these components to be non-interactive until sunlight starts.

Discussed today, we could use pickable: false on the filter, but want to make sure that the com

[2021-05-19 21:12] jbphet commented on #33
@jessegreenberg - I did the rename, but I thought I'd run it by you before closing since you logged the original issue.  Does it look good to you?

[2021-05-21 18:10] jbphet commented on #24
@arouinfar said:

Sounds good.  We could probably benefit from spending some time on phet-io anyway.  I'm going to unassign @jessegreenberg and myself for now, please add us back once there are items that are ready for the next round of implementation.

[2021-05-21 18:12] jbphet commented on #22
I think this issue can safely be closed.  @jessegreenberg and I have been using the API to add the help text, and it is working fine.  Closing.

[2021-05-21 18:12] #22 closed

[2021-05-21 22:38] arouinfar commented on #30
Looks good in master @jessegreenberg.

[2021-05-25 21:45] jbphet commented on #28
We reviewed the programmatic version in today's sound design and we decided it was close, but @Ashton-Morris would like to try one or more different "basis sounds" to see if we like it better.

[2021-05-25 22:03] jbphet commented on #36
@Ashton-Morris demoed some pretty cool demos at this week's sound design meeting, so it's probably time to start trying to put some sounds into the sim.  Can I get the background drone, wave emission, and wave reflection sounds from the demo?

[2021-05-27 21:57] pixelzoom opened #39 "Issues with PDOM-related code comments"
- [x] I see `// pdom` in some places, `// PDOM` in other places.  My understanding is that the former is the convention.  And I missed some important examples until I turned off case-sensitive search.

- [x] This example in WaveScreenView doesn't use either convention:

[code]

- [x] This comment is MicroScreenView.js is incorrect. This code is setting accessible order for play area AND control ar

[2021-05-27 21:59] pixelzoom commented on #39
This is apparently a wide-spread issue.  I see `// PDOM` GFL, GFL:B, and many common code repos. @jessegreenberg @zepumph FYI.

[2021-05-27 22:18] jessegreenberg commented on #39
These were mostly mine (came from molecules-and-light). I also made https://github.com/phetsims/tasks/issues/1087 for common code.

[2021-05-27 23:01] jessegreenberg commented on #39
These three checkboxes and https://github.com/phetsims/tasks/issues/1087 are done, closing.

[2021-05-27 23:01] #39 closed

[2021-05-31 23:49] samreid opened #40 "MoleculeIO needs more specific stateSchema for atoms and atomicBonds"
From https://github.com/phetsims/phet-io/issues/1774, MoleculeIO needs more specific stateSchema for atoms and atomicBonds

[2021-06-01 00:25] Ashton-Morris commented on #36
[Here are some base sounds to start with.
](https://drive.google.com/drive/folders/19bEE-mjkSfpZBq5C6TtlKjP4yJa5zr3C?usp=sharing)
- waves-wave-emission.mp3
- waves-wave-reflection.mp3
- greenhouse-temperature.wav

[2021-06-01 00:27] Ashton-Morris commented on #36
Also, @emily-phet wanted me to export a short mockup video I showed the team of the photons screen. [Here it is.](https://drive.google.com/file/d/1Cqy1gyntJ5YGWmb3gz8UFwLncWCsihpM/view?usp=sharing)

[2021-06-02 19:47] jessegreenberg opened #41 "The concentration slider and concentration graphic in the concentration control panel should match"
Slider is currently a different size from the graphic. They should be the same so that the displayed concentration on the graphic matches where the thumb would be on the slider while they are the same height. @jbphet already changed it so that the box and line on the concentration graphic is placed by the model.

[2021-06-02 19:51] jessegreenberg commented on #41
Also, remove the tick marks in the slider and remove the tick mark in the middle of the box on the graphic.

[2021-06-04 16:55] emily-phet commented on #36
Thanks @Ashton-Morris !

[2021-06-07 15:36] KatieWoe opened #42 "CT required tandems must be supplied"
[code]

[2021-06-07 17:26] jessegreenberg commented on #42
Thanks @KatieWoe Ill take a look, I thought we disabled io validation.

[2021-06-07 18:56] jessegreenberg commented on #42
Our entry in package.json for phet-io is in the wrong spot, it should be under phet. After changing that I can run studio locally. That should resolve this issue on CT

[2021-06-07 18:56] #42 closed

[2021-06-07 20:05] jessegreenberg commented on #41
Done in the above commits. In addition, the track and line width for the meter lines are also the same so that the graphic and slider look like nearly the same component.

@arouinfar can you please review, any other changes to the look of these components?

[2021-06-07 20:42] jessegreenberg commented on #38
This was mostly done in the above commit using `inputEnabled` and changing the scene graph of the observation window slightly.

`inputEnabled` prevents PDOM events and mouse/touch events from reaching contents of the observation window while the "darkness" filter is there. However, everything in the observation window is still available for discovery with tab navigation and with a screen reader. S

[2021-06-07 20:43] jessegreenberg commented on #30
Thanks! Closing.

[2021-06-07 20:43] #30 closed

[2021-06-07 22:07] Ashton-Morris commented on #28
[I have some more basis sounds to try out.](https://drive.google.com/drive/folders/19bEE-mjkSfpZBq5C6TtlKjP4yJa5zr3C?usp=sharing)

- greenhouse-gas-concentration-slider-octave-up.mp3
- greenhouse-gas-concentration-slider-octave-down.mp3
- greenhouse-gas-concentration-slider-sine-woop.mp3
- greenhouse-gas-concentration-slider-pop.mp3
- greenhouse-gas-concentration-bell.mp3 (which is imitating preci

[2021-06-08 18:29] jessegreenberg commented on #37
Basics for a cloud was added to the sim, we can discuss this more at an upcoming design meeting.

[2021-06-08 18:29] #37 closed

[2021-06-09 15:25] jessegreenberg opened #43 "Add missing tandems"
An issue to track adding missing tandems so we can turn on PhET-iO validation

[2021-06-09 16:16] jessegreenberg commented on #43
I spent about 45 minutes on this today and got the number of missing Tandems down to 163.

[2021-06-09 19:29] jessegreenberg opened #44 "Energy in/out bars in Energy Balance plot should match Energy Flux graphic"
During 6/9/21 design meeting @arouinfar mentioned it was strange that the "In" bar grew upwards while the energy "in" grows downwards. We should switch it so that the "In" grows down like the flux meter. We would also like to add arrow heads to the bars in the "Energy Balance" plot.

Bamboo's BarPlot doesn't  support arrow heads so we will need to decide whether to add it to Bamboo, decorate the B

[2021-06-09 19:34] jessegreenberg commented on #38
We discussed this during meeting today and agreed that this behavior is OK as long as the content is signified as disabled to the screen reader user.

[2021-06-09 19:34] #38 closed

[2021-06-10 02:06] jessegreenberg opened #45 "CT error: There already was a PhetioElement attached to this TreeNode with the same phetioID in the tree:"
[code]

Even with validation: false this is showing up, ill take a look.

[2021-06-11 23:45] arouinfar commented on #41
We reviewed this in the 6/9/21 design meeting, and it looks good. Thanks @jessegreenberg!

[2021-06-11 23:45] #41 closed

[2021-06-14 19:02] jessegreenberg commented on #45
To produce, you have to be in studio, go to the Photons screen and start sunlight.

[2021-06-14 19:37] jessegreenberg commented on #45
I think this is because the ObservableArray managing photons is not instrumented, and has no tandem. When I give it a tandem, we need to add `toStateObject`, `fromStateObject` functions. I tried this and it didn't work out easily. I went to the documentation about instrumenting dynamically created elements at https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-gui

[2021-06-14 19:37] #45 closed

[2021-06-14 20:33] jessegreenberg commented on #43
There are no more missing required Tandems with `phetioPrintMissingTandems`. I think this can be closed. Ill see what else needs to be done to remove
[code]

from package.json.

[2021-06-14 21:08] jessegreenberg commented on #43
I don't see anything in https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-guide.md about this specifically. Wrappers are running OK for me locally. I just removed the entry in package.json that enables validation. If anything pops up on CT we will address it then.

[2021-06-14 21:08] #43 closed

[2021-06-14 21:30] jessegreenberg commented on #44
I asked slack for some advice and there was a recommendation to create a new plot in bamboo for this to support arrow heads. Excel has a thing called "up down arrow" charts so the recommendation was to call it "UpDownArrowPlot" to match bamboo plots.

The new plot should have the same API as other plots in bamboo.

[2021-06-14 21:57] jessegreenberg commented on #44
It wasn't documented here, but over slack @arouinfar sumarized the moviviation for this change with:

[2021-06-14 22:37] jessegreenberg commented on #44
I made the new UpDownArrowPlot and flipped the direction of the arrows. @arouinfar can you please review, is there anything else to change?

[2021-06-14 22:40] jessegreenberg commented on #31
I don't actually think there is more I can do here until the model is more fleshed out. We need the layers in place to interpolate between them. The basics of the UI are added and ready for further integration with the model so I think this can be closed.

[2021-06-14 22:40] #31 closed

[2021-06-15 22:38] KatieWoe opened #46 "CT Assertion failed: there should be at least as many PDOMDisplays as Displays"
[code]

[2021-06-16 14:48] jbphet commented on #46
This looks PDOM-related.  I'm assigning to @jessegreenberg for now, and he and I will likely take a look in our meeting today.

[2021-06-16 15:53] Ashton-Morris commented on #36
During yesterdays meeting I showed a mockup of how the audio for the temperature would work. We decided that it was a good starting direction and that we should attempt to replicate it in sim. Here's how the audio functioned in the mockup:

We have 3-4 audio files that fade into one another. Starting from low temperature all the way up to the highest temperature, this works by using a crossfade be

[2021-06-16 19:32] jessegreenberg opened #47 "Add model Tandems"
This is a good next task for me to work on. We went through and added the required Tandems but none of the others. Adding Tandems to more components is necessary and will get other features working with PhET-iO.

Ill start with the basic Properties. Then I'll pass Tandems through major model components like the Sun, Layers (for temperature), and other things. Then for things that are deeper in the

[2021-06-16 23:37] jbphet opened #48 "Variations in DT values causes oscillatory behavior in layer interactions"
@jessegreenberg and I hooked up the energy balance panel on the first screen today.  It worked well, but I noticed some jitter in the output value.  After way more investigation than I expected to do, I found that this is due to oscillations in temperature values in each layer that propagate between the layers when there is variation in the DT (delta time) values that are being fed into the layer

[2021-06-17 00:28] jbphet commented on #48
I added code to step the model at a consistent DT in all circumstances, and it has had a wonderful effect on the temperature stability for the various layers.  I'll leave this open for a while to remind me to keep an eye out for unanticipated side effects, but so far this seems like a decent way to address the problem.

[2021-06-21 14:50] jbphet commented on #26
This is hooked up and working.  We should review its behavior at the next design meeting and, if the designers approve, this issue can be closed.

[2021-06-22 19:07] jessegreenberg commented on #47
Creating a list of things that I have not added Tandems for, with some notes:

- WaveParameterModel - not sure if this is for prototyping or if this model component will be around long term.
- Cloud.js - Nothing about this yet is observable, changeable yet, model component is still being developed.
- PhotonsModel.photons - Not sure if these 'particles' need individual instrumentation?
- EnergySour

[2021-06-23 00:21] Ashton-Morris commented on #36
I am adding [4 ambiences](https://drive.google.com/drive/folders/19bEE-mjkSfpZBq5C6TtlKjP4yJa5zr3C?usp=sharing) to try when @jbphet get's the time to start testing our temperature concept.

- greenhouse-temperature-low.wav
- greenhouse-temperature-high-003.wav
- greenhouse-temperature-medium-human-ideal.wav
- greenhouse-temperature-medium.wav

[2021-06-23 00:46] jessegreenberg commented on #47
An initial pass for this was done today. Reviewed with the team and things are looking OK. We will continue with he above things, we likely have to instrument all of them for state, but we will see.

[2021-06-23 13:13] jbphet commented on #26
The behavior of the panel was reviewed during the 6/22/2021 design meeting for this sim, and the designers thought it looked good.  Closing.

[2021-06-23 13:13] #26 closed

[2021-06-23 13:15] jbphet commented on #48
The behavior seems pretty solid.  I still notice that the temperature transitions aren't always smooth at the ground level, but I think that this might be a natural outcome of the interactions between the layers, and not something caused be variations in the DT values.  So, I think it is safe to close this issue at this point, and I'll re-open if I think it's necessary to do so.

[2021-06-23 13:15] #48 closed

[2021-06-23 16:48] KatieWoe commented on #46
This may be related:
[code]

[2021-06-23 22:11] jbphet commented on #28
We reviewed these sounds in today's sound design meeting and decided to go with greenhouse-gas-concentration-slider-octave-down.  I'll remove the sounds that we've ruled out and will work with @Ashton-Morris to finalize the asset files.

[2021-06-28 22:22] jessegreenberg commented on #46
By placing a debugger in PDOMDisplaysInfo, it looks like this happens when the WavesScreenView becomes invisible (switching to the PhotonsScreenView).

[2021-06-28 23:33] jessegreenberg commented on #46
I worked on this for a while but never got to the cause. Some notes though:
- I re-learned that PDOMDisplaysInfo is a class on each Node that tracks whether that Node has some content in the PDOM displayed under a Display which has accessibility enabled. It updates whenever the Node is added/removed, has PDOM content set/removed, visibility changes, and whenever it is added/removed from a new Disp

[2021-06-29 21:43] jbphet commented on #36
This was discussed in the 6/29/2021 meeting, and the next step is to try integrating all of these sounds and cross fading between them at the various temperature values, something like the diagram above.  We'll try the filter idea after that.

@Ashton-Morris - Can I get mp3 versions of these sounds?  I'm a little concerned about how much size this will add to the sim with 4 uncompressed loops.

[2021-06-29 22:13] jbphet commented on #28
The agreed-upon sound has been integrated and the other alternatives removed.

@Ashton-Morris - two things:
- [ ] I need the .wav version of the final sound for the assets directory
- [ ] Please note in your records that I've changed the file name from `greenhouse-gas-concentration-slider-octave-down` to `slider-movement`.

[2021-07-01 18:43] Ashton-Morris commented on #28
- [slider-movement.wav](https://drive.google.com/file/d/19GqEmA5rInjAiWqkESbx8McZSy7c6bdh/view?usp=sharing)

[2021-07-06 21:07] Ashton-Morris commented on #36
We reviewed the progress that JB made this past week and we were all impressed. He added all of the ambiences in the above comment and added the fades between them.

Overall the fades and transitions and transition time when going through temperature changes sounded very cohesive and pleasant. The notes on what could be improved and what to do next are:

Todo **Ashton**

- [ ] Create two alternati

[2021-07-07 20:45] jbphet opened #49 "Need artwork for observation window and icons"
We're getting to the point where it would be good to start integrating the artwork that will be used on the first screen.  We'll need backgrounds for the ice age, 1750, 1950, and 2019 selections as well as for the generic view (where the gas concentration is controlled by a slider).  We should also have icons for the cloud and the surface temperature checkboxes.

We haven't yet decided whether to

[2021-07-07 20:46] jbphet commented on #49
This was discussed in today's weekly design meeting, and @arouinfar is going to contact Cheryl (sp?) and find out if she has the bandwidth to work on this.

[2021-07-07 23:58] jbphet commented on #28
The initial sound generator has been added.  Closing.  Any further work on this will be done under other GitHub issues, such as the one that will come along eventually for the final sound design review.

[2021-07-07 23:58] #28 closed

[2021-07-08 18:07] Ashton-Morris commented on #36
Adding these assets now.

- greenhouse-temperature-low-v2.mp3
- greenhouse-temperature-medium-v2.mp3
- greenhouse-temperature-medium-human-ideal-v2.mp3
- greenhouse-temperature-high-v2.mp3
- greenhouse-temperature-low-v3.mp3
- greenhouse-temperature-medium-v3.mp3
- greenhouse-temperature-medium-human-ideal-v3.mp3
- greenhouse-temperature-high-v3.mp3
- greenhouse-wave-emission.mp3
- greenhouse-wave

[2021-07-08 21:28] arouinfar commented on #49
I emailed Cheryl to ask about her upcoming availability. I'll report back when I have more info.

[2021-07-13 22:12] Ashton-Morris commented on #36
In todays meeting we mixed and matched a few of the above ambiences to create a nice blend.

    // favorite set from the 7/13/2021 sound design meeting (was a mix-and-match sort of thing)
    temperatureLowV3Sound,
    temperatureMediumV2Sound,
    temperatureMediumHumanIdealV3Sound,
    temperatureHighV2Sound

JB showed a few pieces of music with nice ambiences in the background and we decided t

[2021-07-13 22:18] Ashton-Morris commented on #36
I added these sounds which I had intended to upload in the [above comment.](https://github.com/phetsims/greenhouse-effect/issues/36#issuecomment-876640222)

- greenhouse-wave-reflection.mp3
- greenhouse-wave-reflection-vibrato.mp3

[2021-07-14 15:31] jessegreenberg commented on #47
An initial pass through all model Properties  was done, we will get into more specifics in new isssues.

[2021-07-14 15:31] #47 closed

[2021-07-14 15:44] jessegreenberg opened #50 "Refactor so components and Tandems are only available in the classes where they are relevant"
After reviewing the API available in PhET-iO Studio, the following components are available through the API in the Waves screen, but should not be.

- allPhotonsVisibleProperty
- The FluxMeter, both model and view component in the observation window
- fluxMeterVisibleProperty

These should only exist in classes where they are relevant.

[2021-07-14 15:59] jessegreenberg commented on #50
I am not sure of the best hierarchy for this. The Waves screen and Photons screen needs to extend the ConcentrationModel. And the Photons screen and Layer Model screen need to share things that are common to photons. I was thinking of this kind of thing, indentation indicates "extends"

- GreenhouseEffectModel
  - ConcentrationModel
    - CommonPhotonsModel
      - PhotonsModel
      - LayerModelM

[2021-07-14 16:14] KatieWoe opened #51 "CT there should be at least as many PDOMDisplays as Displays"
[code]

[2021-07-14 19:13] jessegreenberg commented on #50
Discussed with @jbphet - We came up with the following hierarchy for greenhouse-effect.

GreenhouseEffectModel
  - LayersModel (Model that implements layers, used by Waves, Photons, LayerModel screens)
    - LayerModelModel (Model for the Layer screen)

    - ConcentrationModel
      - WavesModel
      - PhotonsModel

A superclass that manages "layers" makes sense because layers are used in the Wa

[2021-07-15 16:05] jessegreenberg commented on #51
This is the same as #46, it is just that the assertion message message was improved, closing this one and will update the title of that issue since there was some investigation there already.

[2021-07-15 16:05] #51 closed

[2021-07-16 18:46] Ashton-Morris commented on #36
I created 4 harmonious ambiences for us to test out. They all have the same base note and differing secondary notes.

- greenhouse-temperature-rising-with-base-note-low.mp3 (first and a second)
- greenhouse-temperature-rising-with-base-note-medium.mp3 (first and a fourth)
- greenhouse-temperature-rising-with-base-note-human-ideal.mp3 (first and a fifth)
- greenhouse-temperature-rising-with-base-no

[2021-07-16 18:56] Ashton-Morris commented on #36
@emily-phet Here is an example of how the above Harmonious Ambiences would sound with random IR sounds in the pentatonic scale playing also.

- [Harmonious_Ambience_Example.mp4](https://drive.google.com/file/d/1Rt0oS9d91KO5DUkZbO_jFfQsXNAqkksb/view?usp=sharing)

[2021-07-18 18:41] emily-phet commented on #36
@Ashton-Morris
I like the basic feel of it!

- I'm guessing they'll be refinements to the timbre, etc to the photon sounds, but the basic idea sounds good to me.
- We'll need to clearly be able to distinguish sounds that indicate certain events. This example sounds *very* random to me, like I imagine it might be hard to distinguish absorption from re-emission events (though who knows until we try

[2021-07-21 18:44] jessegreenberg commented on #50
Refactor done in the above commits. I think the trait pattern is working well here. We already have a "PhotonsModel" so I decided to name it PhotonsModelComponents so that PhotonsModelComponents can compose PhotonsModel and LayerModelModel.

Now on to verify that this change had a positive impact in the tandem structure.

[2021-07-21 19:16] jessegreenberg commented on #50
This is working great. I verified that common components are correctly shared between all relevant screens. But components and tandems that are related to photons and the flux meter are only available in the screens where they are relevant.

This can be closed.

[2021-07-21 19:16] #50 closed

[2021-07-21 21:52] jbphet opened #52 "Multiple attenuation points on the waves has not been tested"
The design of the Waves screen only shows a single place where a wave might be attenuated.  However, it seems to me that we may want to have multiple attenuation points, such as when an IR wave is traveling through the atmosphere.  I've designed the code to support this, but have done almost no testing of it.  If there comes up time when multiple attenuations are needed, this code will need some w

[2021-07-22 15:37] Ashton-Morris commented on #36
@jbphet Here are the harmonious ambiences with a type of rhythm to them for you to test out.

- greenhouse-temperature-rising-with-base-note-and-rhythm-high.mp3
- greenhouse-temperature-rising-with-base-note-and-rhythm-medium.mp3
- greenhouse-temperature-rising-with-base-note-and-rhythm-human-ideal.mp3
- greenhouse-temperature-rising-with-base-note-and-rhythm-low.mp3

[2021-07-22 21:22] jbphet opened #53 "Remove traveling intensity changes, but keep the code around for a while"
In the 7/21/2021 design meeting I demonstrated some of the latest behavior for the "Waves" screen.  One thing that was shown was how changes to the intensity of the waves would travel with the wave when changes occurred to an existing wave.  Below are a pair of screenshots that illustrate this idea.  First, there is a screenshot of a wave of visible light passing through a cloud, where part of the

[2021-07-22 21:37] jbphet commented on #53
For reference, I've published a dev version where the intensity changes are shown on the IR waves that come from the ground.  The intensity increases with the ground temperature.  There is an annotated screenshot below.  This version can be found at https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.12/phet/greenhouse-effect_en_phet.html.

![image](https://user-images.githubusercontent

[2021-07-23 15:47] jbphet commented on #53
I've removed the behavior but kept much of the code around.  I'll leave this issue open until we've committed to one behavior or the other.

[2021-07-26 23:09] Ashton-Morris commented on #36
I have come cool mockups to show in tomorrows meeting but I will post them here as well so they can be heard outside of your meeting.

[greenhouse-effect-waves-continuous-ir-with-temp-blips-mockup.m4v](https://drive.google.com/file/d/1_eK_avRvie8IAJt1-VI76U5WaEvTCTSy/view?usp=sharing)

- This has a warm tone for the IR being emitted from the ground
- A organ sounding tone for the IR being absorbed

[2021-07-28 19:20] jessegreenberg opened #54 "Instrument waves for PhET-iO"
Today @jbphet @samreid and I met to begin instrumenting the waves for PhET-iO. We made it pretty far by

- Using PhetioGroup to hold active waves in the WavesModel.
- Create a WaveIO IOType.
- Wave extends PhetioObject, and implements `toStateObject`, `stateToArgsForConstructor`, and `applyState`.

This worked well though we hit an assertion error in `Wave.getPhaseAt`
[code]
which is used by incid

[2021-07-28 22:40] jessegreenberg commented on #54
@jbphet @samreid and I met again and got a bit farther.

@samreid created a MapIO. We started to use it, but since the IOType for Map keys will change/simplify in the near future we decided that was not a good use of time.

We again hit the assertions mentioned above sorting IntensityChanges and wave length. To debug, we removed places where attenuators were being added and removed assertions. Tha

[2021-07-28 22:41] jbphet opened #55 "Dev version needed for early sound interviews and sound mockups"
Over Slack, @BLFiedler said:

Also, @Ashton-Morris is in the process of creating some mockups for sound design of the waves screen.  To serve the purposes of both, I'm going to create a dev version with the latest behavior for the waves screen and the sound that goes along with it.

[2021-07-28 22:43] jessegreenberg opened #56 "branch: waves-instrumentation"
A branch holding progress made thus far for instrumenting waves in this sim. See #54.

[2021-07-28 22:48] jbphet commented on #55
The dev version has been published, @Ashton-Morris and @BLFiedler - please see https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.13/phet/greenhouse-effect_en_phet.html.

[2021-07-28 23:11] jbphet commented on #53
This topic was discussed in today's design meeting and we decided that we will not need support for moving intensity changes, so I'll move forward with removing the associated code.  This will also simplify some aspects of the phet-io implementation.

[2021-07-29 00:12] jbphet commented on #54
I just simplified `Wave.js` to remove intensity changes, see https://github.com/phetsims/greenhouse-effect/issues/53.  This should make things a little easier, but I decided to keep the Map that tracks the relationship between the model element that is causing an attenuation on a wave and the resulting attenuation.  It just seems like a reasonable design.  So, I think our next step is to instrumen

[2021-07-29 21:24] jbphet opened #57 "Wave intensities should visually achieve radiative balance"
This came out of the weekly design review meeting on 7/28/2021.

In real life, the Earth always achieves radiative balance with the energy coming in from the sun, otherwise it would continuously heat up.  The main layers model currently does this, but when I was demoing the latest wave behavior, which can be seen in [this dev version](https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.

[2021-07-29 22:33] jbphet commented on #57
I have this working, but there wasn't a super-straightforward way to do it that I could think of.  I ended up creating a mapping function that works well, but will be sensitive to changes in other parts of the code the control wave intensities.

[2021-07-30 18:45] BLFiedler commented on #55
Two interviews were conducted on 7/29/2021 with college students (P1 & P2) experienced on an iPad in Safari.

Link used was: https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.13/phet/greenhouse-effect_en_phet.html?screens=1

### General
- Both participants were able to make the connection between increasing greenhouse gas concentration and increasing surface temperature. Both particip

[2021-07-30 18:46] BLFiedler commented on #55
I have two more interviews lined up next week, and I may put this in front of one or both of them depending on other interview needs. Let me know if you have any questions I can answer about the interviews, if you'd like me to come to a sound design meeting, or if you have other questions I can focus on for upcoming interviews if they occur.

[2021-07-30 18:47] BLFiedler commented on #55
Tagging @emily-phet as she may be interested.

[2021-07-30 21:36] jbphet commented on #54
I worked with @zepumph on this for a while today, and we made a lot of progress.  However, he had to go, and I got stuck on trying to make the `WavesModel` fully serialize.  There error I was hitting was:

[code]

This has something to do with handling references to the atmosphere layers, which are tracked in the list of wave-atmosphere interactions in `WavesModel`.  It may mean that we need a mor

[2021-07-30 23:51] samreid commented on #54
I committed a fix for a problem that was failing the state wrapper on startup (with ?screens=1)

[2021-07-31 01:09] samreid commented on #54
I also fixed usages of ReferenceIO.  That solves the problem described in https://github.com/phetsims/greenhouse-effect/issues/54#issuecomment-890166398.  The next problem is
* state wrapper
* ?screens=1
* wait until there are some atmosphere interactions, then press reset all.  The error is:
[code]

[2021-07-31 01:13] samreid commented on #54
The problem in the preceding comment was fixed in the commit.

[2021-07-31 01:24] samreid commented on #54
The previous comment was fixed in the commit, next problem is in fuzzing the state wrapper, I see this error:

[code]

[2021-08-03 16:33] BLFiedler commented on #55
Just to re-emphasize: This was done on iPad speakers and the sonification changes may be more noticeable with headphones or higher quality speakers.

[2021-08-03 20:58] jbphet commented on #36
Some early interviews were done on the soundscape, specifically the ambient-ish sound that represents temperature, see https://github.com/phetsims/greenhouse-effect/issues/55.  We discussed the outcome of these interviews in the 8/3/2021 sound design meeting, and decided that we'd like to pursue something that was possibly a more overt sonic representation of the temperature.  Here are some things

[2021-08-03 20:59] emily-phet commented on #55
Some reflections from me:
- I think this seems like a fine sound to move forward with the upcoming August deadline.
- Once there are sounds additionally for the waves and photons, how people perceive the ambient sounds could change (with more or less awareness of the mapping as the sound is now).
- I think it will be useful, for helping the design of GHE as we add in more sounds, and also for our

[2021-08-03 21:52] BLFiedler commented on #55
I would just like to add in a few notes from this last interview where I quickly threw in GHE Waves after some haptics interviews, once again on an iPad.

- Again, generally the concepts acquired via visual feedback and interaction allowed the participant to "get" the simulation and connect the GHG concentration to the changes in the incoming and resultant waves, transmission and reflection, and s

[2021-08-04 16:18] jbphet commented on #54
The issue that @samreid mentions just above may well be related to a CT issue that has the same assertion, see https://github.com/phetsims/greenhouse-effect/issues/46.

[2021-08-04 16:21] Ashton-Morris commented on #36
During yesterdays meeting I had the time to create some of these mockups and go through them with the team. We found some directions that might work and found out which directions probably wouldn't work.

We decided that @jbphet would try 3 approaches.

1. The temperature is tied to a low pass filter cutoff frequency
2. The temperature is tied to a band pass filter cutoff frequency
3. The temperat

[2021-08-04 16:52] jessegreenberg commented on #46
We have set `supportsInteractiveDescription` false in package.json to prevent this assertion for now to move forward with PhET-iO instrumentation.

[2021-08-04 19:01] jessegreenberg opened #58 "Reentry detected while changing number of clouds in PhET-iO Studio"
While using the slider to change the numberOfCloudsVisibleProperty, I hit

[2021-08-04 19:07] jessegreenberg opened #59 "Remove "FAST" from valid values of timeSpeedProperty"
It is available in studio, but this sim doesn't support a "FAST" mode in the time speed.

[2021-08-04 19:09] jessegreenberg opened #60 "energyAbsorptionProperty doesn't have a defined range"
![image](https://user-images.githubusercontent.com/6396244/128240478-a8fb50a1-183e-47f7-9bb4-c214f9bab2a5.png)

[2021-08-04 19:11] jessegreenberg commented on #60
Same for this Property:
![image](https://user-images.githubusercontent.com/6396244/128240757-1c746e82-ae9e-4b31-8c3f-c101ad2b2cdd.png)

[2021-08-04 19:14] jessegreenberg opened #61 "Sun can shine in studio while the "Start Sunlight" button is visible"
From PhET-iO Studio you can set `isShiningProperty` to true, then back to false. The first time it is set to true, the 'Start Sunlight' button becomes invisible. When you set it back to false, the "start sunlight" button becomes visible again but the visible waves continue to propagate from the sun.

[2021-08-04 19:15] jessegreenberg commented on #60
And this one:
![image](https://user-images.githubusercontent.com/6396244/128241296-f23a3aad-7c95-4d76-8aa8-6568a5b20c05.png)

[2021-08-04 19:15] jessegreenberg commented on #60
This one doesn't have validValues or units:
![image](https://user-images.githubusercontent.com/6396244/128241364-40297d82-5632-4c09-8c41-6641dfc76006.png)

[2021-08-04 19:18] jessegreenberg opened #62 "ThermometerNode is not instrumented"
There is no tandem for the ThermometerNode. Maybe this needs to move to scenery-phet.

[2021-08-04 19:22] jessegreenberg opened #63 "EnergyLegend is not instrumented for PhET-iO"
Does not appear in studio, has no Tandems.

[2021-08-04 20:13] jessegreenberg commented on #63
Confirmed with @arouinfar, this should be fixed.

[2021-08-04 20:16] jessegreenberg commented on #62
Discussed with @arouinfar, this is OK. It doesn't make sense to hide the thermometer independently from the checkbox in the UI and separately from the units combobox. Closing, nothing needs to be done.

[2021-08-04 20:16] #62 closed

[2021-08-04 20:24] jessegreenberg commented on #61
While meeting with @arouinfar we noticed that when this happens we aren't seeing any infrared waves or the temperature rising. It is almost like a view bug where the sun stops shining, but visible waves continue to be drawn. This definitely seems buggy I will investigate.

[2021-08-04 20:31] jessegreenberg commented on #60
Discussed with @arouinfar - there is a precedent for having rangeProperties for NumberProperties that are undefined. We found examples in gravity-and-orbits. For this sim, it makes sense that the examples listed here don't have a determined range. Nothing to be done, closing.

[2021-08-04 20:33] jessegreenberg commented on #59
This should be done, and has been done before at least in projectile-motion, I will head there for an example. Possibly also states-of-matter.

[2021-08-04 20:48] jessegreenberg commented on #58
@arouinfar said that this slider shoulnd't be in studio. Also, the value should be constrained to integer values, a slider from 0 to 1 doesn't make sense.

In the waves screen, this should probably be read-only?

Also, why doesn't the "Cloud" checkbox have a linked Property?

We found that the CloudCheckbox has a `localBooleanProperty`. It seems like this should be instrumented and provided to the

[2021-08-04 21:58] jessegreenberg commented on #63
Done in the above commit.

[2021-08-04 21:58] #63 closed

[2021-08-04 22:02] jessegreenberg commented on #59
Done in the above commit.
![image](https://user-images.githubusercontent.com/6396244/128261018-80634350-eabe-42ed-b6a6-7598ee641fd8.png)

Closing.

[2021-08-04 22:02] #59 closed

[2021-08-04 22:10] jessegreenberg commented on #58
It seems like the way to do this is to provide `numberType: 'Integer'` to the NumberProperty. This constrains the value to an integer when changing the value in studio. This also fixes the reentry issue, and changing the value in studio is working really well. I think that is sufficient for this issue for now, we can change it further if requested. Done in the above commit.

[2021-08-04 22:10] #58 closed

[2021-08-04 22:25] jessegreenberg commented on #61
I think what we probably need to do is clear the waves again when `sunEnergySource.isShiningProperty` is false. This patch accomplishes it

[code]

But Ill wait to apply this one until the waves-instrumentation branch has been merged into master because it involves the model.waves which is about to become a PhetioGroup.

[2021-08-05 16:17] KatieWoe opened #64 "CT Tried to insert a disposed Node"
[code]

[2021-08-05 17:36] jbphet commented on #57
This was reviewed in the 8/4/2021 design meeting and approved.  Closing.

[2021-08-05 17:36] #57 closed

[2021-08-06 17:02] jbphet opened #65 "Initial review of the phet-io Studio tree for the Waves screen"
@arouinfar and @kathy-phet said that we should to an initial review of the studio tree before going into dev testing.  I've published a dev version with an early version of the tree for the Waves screen.  @arouinfar - please review and give me your feedback.  See https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.14/phet-io/wrappers/studio/.

[2021-08-06 17:41] jbphet commented on #64
This is easy to duplicate manually in the state wrapper.  Just do this:
 1. Open the state wrapper
 2. Go to the PhET menu (in the lower right) and bring up the "Options..." dialog
 3. Sit there a few seconds.

The problem is that the `createOptionsDialogContent` function that is provided to the `Sim` constructor in `greenhouse-effect-main` is returning a singleton instance, but somewhere in phet-

[2021-08-06 18:10] jbphet commented on #56
Branch has been merged to master and deleted, closing.

[2021-08-06 18:10] #56 closed

[2021-08-06 20:33] jbphet commented on #64
The root cause of this problem is that I was using a singleton for the options dialog in the sim, and that singleton was getting disposed in the downstream sim in the state wrapper because it's in a PhetioCapsule.  @zepumph suggested that I make it dynamic instead and implement a proper dispose function on it, and also use the dynamic tandem passed in to the `createOptionsDialogContent` call.  Thi

[2021-08-06 20:33] #64 closed

[2021-08-06 21:50] jbphet commented on #65
@arouinfar and I met over Zoom, here are her suggestions:

- [ ] remove emEnergyPacketGroup from the tree
- [ ] remove sunEnergySource and groundEnergySource from the tree
- [ ] change 2019 to 2020
- [ ] have a dedicated property for controlling the cloud instead of the current count that is used in the base class
- [ ] everything about the atmosphere layers should be read-only
- [ ] make the wave

[2021-08-07 01:10] jbphet commented on #65
There were two items in the list above that were not done during this round of changes.  Explanations below.

According to @zepumph, there is currently no option to prevent instrumented items from appearing in the tree, so this should be handled using 'featured'.

There doesn't seem to be an option to do this, and `phetioReadOnly` doesn't work.  I looked at the bunnies in natural selection, and th

[2021-08-07 01:11] jbphet commented on #65
@arouinfar - These changes are now on master, please check them over and let me know if you think more changes are needed.

[2021-08-07 01:13] jbphet commented on #54
An initial version of this instrumentation has been completed.  It is been reviewed in #65 and will be tested in a dev version shortly, so further work will be done under other GitHub issues.  Closing.

[2021-08-07 01:13] #54 closed

[2021-08-17 13:16] Nancy-Salpepi opened #66 "IR waves returning to earth aren't connected to original wave"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
Safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/690

In the WAVES screen, when the IR wave hits the atmosphere and splits, the wave that continues to space, still seems "connected" to the original IR wave, while the one returning to earth is "disconnected."

**Visuals**
<img width="243" alt="

[2021-08-17 13:37] Nancy-Salpepi opened #67 "IR waves become very thin and barely visible in Studio"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
Safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/690

When the sim is launched in studio, the IR waves suddenly become thin and barely visible. Once that occurs, the temperature drops to -28 degrees Celsius and even if the amount of greenhouse gases is increased, temperature remains there.

**

[2021-08-17 13:59] Nancy-Salpepi commented on #67
This issue is also seen in the State wrapper when the "set state rate" value=0 and the "set state now" button is utilized OR the Launch button is used.

[2021-08-18 15:17] stemilymill opened #68 "Button group very close to navigation bar"
While testing for https://github.com/phetsims/qa/issues/690, I noticed that the button group at the bottom of the screen is very close to the navigation bar, especially the pause button and home screen button. I imagine that it would be very easy to accidentally click the wrong button on a smaller touchscreen device.

![greenhouse interactive blah zoomed](https://user-images.githubusercontent.com/

[2021-08-18 17:48] Ashton-Morris commented on #36
During our August 17th Sonification Meeting Emily and I thought it would be best to try this approach for the IR ReEmission in sim.

@jbphet Please view this mockup [greenhouse-effect-waves-ir-reemission-and-temperature-mockup](https://drive.google.com/file/d/1syrZQxG0rY1GRwzRd9h0DO2elLSTGVk6/view?usp=sharing)
In the above video the sound plays each time the IR ReEmission occurs in the air. In the

[2021-08-19 16:20] arouinfar commented on #44
Looks good, thanks @jessegreenberg!

[2021-08-19 16:20] #44 closed

[2021-08-25 16:42] jbphet commented on #61
@jessegreenberg and I discussed this during our weekly collaboration meeting, and decided to simply set `isShiningProperty` to be phet-io read-only.  Our reasoning is that the users can't just turn off the sun from the sim's UI, so there probably wouldn't be a need to do so via studio either.  Also, if we _did_ support turning off the sun, the sim should probably respond by letting the waves that

[2021-08-26 18:14] KatieWoe opened #69 "CT perennial task failed"
[code]

[2021-08-30 19:43] jbphet commented on #69
I've never seen this error, and I just looked at CT and this problem hasn't happened for the last 20 cycles, which is as far back as I looked.  I'm going to assume that this was something spurious and close it.

[2021-08-30 19:43] #69 closed

[2021-08-30 22:03] jessegreenberg commented on #61
This behavior of the visible waves makes a lot of sense, thanks @jbphet. I noticed that the IR waves git thin immediately when the visible light stops. Is that expected?

[2021-08-31 16:09] jbphet commented on #61
Yes, as soon as the sun stops, the temperature cools down very quickly.  This is the flip side of making the ground heat up quickly in response to the sunlight, i.e., it also cools off quickly if the sunlight is removed.  In other words, this is a natural consequence of other design choices that we've made.

Since the question was raised, I'll assign this to @arouinfar to make a call on whether th

[2021-08-31 20:41] jbphet commented on #55
We (the sound design team) have referenced this issue in the sound design doc and feel like we're ready to close.

[2021-08-31 20:41] #55 closed

[2021-08-31 20:47] jbphet commented on #36
The first version of the IR re-emission sound was demonstrated in today's sound design meeting and, at least so far, we like it.

[2021-08-31 20:48] jbphet commented on #36
The soundscape was turned off for an initial early delivery of this sim, but we want to be able to continue to refine it, so I've added a query parameter to turn it on.  It is `soundscape=true`.

[2021-09-01 19:35] jbphet commented on #61
@arouinfar and I reviewed this in the design meeting today and we're good with the updated behavior.  Closing.

[2021-09-01 19:35] #61 closed

[2021-09-01 19:45] jbphet commented on #23
We've been working on refining these for a while now that we have the "real" waves working, and we're feeling like we're there, and will make any further refinements as needed and will open other issues when and if needed.  Closing this one.

[2021-09-01 19:45] #23 closed

[2021-09-01 19:59] zepumph opened #70 "AlertManager types should use Alerter.js and its conventions"
From https://github.com/phetsims/utterance-queue/issues/13#issuecomment-907381381, and much like work done in issues like https://github.com/phetsims/friction/issues/217 and https://github.com/phetsims/molarity/issues/238.

We need to refactor AlertManager to use Node to alert description, instead of a joist global. @jessegreenberg volunteered to handle this repo's refactor. Thanks!

[2021-09-01 20:54] zepumph commented on #70
I think that this repo is the very last place where there are usages of `phet.joist.sim.utteranceQueue`.

- [ ] https://github.com/phetsims/utterance-queue/issues/13 is likely to be closed by the time this issue is tackled, so could we add to this issue removing the getter in Sim.js:

https://github.com/phetsims/joist/blob/2de2fe3fdccbd91fe77adc9aa11f1de660b20257/js/Sim.js#L766-L774

Once you have

[2021-09-01 22:19] jbphet commented on #66
I've added a first cut of code to adjust the sine waves so that the appear to originate from and interact with horizontal layers, and this greatly improves how well the waves meet up.  I'd like to do some optimization and further testing before saying that this is fixed.

[2021-09-01 23:51] jbphet commented on #66
I have an algorithm in place that works reasonably well.  It uses an approximation to calculate the amount of compensation necessary to make waves appear as though they originate from and interact with horizontal surfaces.  I worked for a while to try to come up with an exact, analytical solution to the issue of how to calculate this, and it turned out to be pretty difficult.  I also did a little

[2021-09-07 21:43] jbphet commented on #36
I've added options to control the temperature sound and whether IR re-emission triggers a sound.  The next step is to implement the sound generators that go with it and hook it all up.

[2021-09-08 19:03] jbphet commented on #66
@arouinfar, @kathy-phet, and I reviewed the behavior in today's design meeting and we've decided that this is good as is and I shouldn't invest any more time in trying to improve it, at least for now.

[2021-09-08 19:07] jbphet commented on #49
In today's design meeting @arouinfar reported that Cheryl has taken a full time position elsewhere and can't do the artwork for this sim.  Bummer.

[2021-09-08 20:27] jbphet commented on #49
In today's design meeting it was decided that @arouinfar will get @jbphet something to integrate by 9/12/2021 so that we can get an early RC out.  This will be something that improves the situation, but will almost certainly not be the final artwork.

[2021-09-08 20:30] jbphet opened #71 "Should we add arrows (or something) to the waves when sim is paused?"
I've noticed during development that it is sometimes hard to interpret what's being portrayed on the "Waves" screen when the sim is paused.  During today's design meeting, @kathy-phet had the same experience, noting that it looked like something "really weird" was going on with the screen when it was just that it had been paused at a time that created some odd-looking wave depictions.  Below is a

[2021-09-08 20:37] jbphet opened #72 "Add a query parameter to turn off wave spacing"
In the current master version and all recent dev versions of this sim there are spaces placed between the waves on the "Waves" screen.  This is done to convey the idea that the waves are actually everywhere, and we are just showing some of them.  However, this can be a bit confusing, and the design team has requested that a query parameter be added that can turn off this spacing.

For clarity, her

[2021-09-08 20:54] jbphet commented on #72
I've added this feature.  The query parameter is called `waveGapsEnabled`, and it is `true` by default, so adding `waveGapsEnabled=false` can be used to turn them off.

@arouinfar - Please try this out on master and make sure that it works as discussed.  Also, it would probably be good to say whether you think the spacing should be off by default.  Personally, I find it less chaotic looking withou

[2021-09-09 18:25] jbphet opened #73 "Add support for visible light being reflected from the Earth"
In the 9/8/2021 design meeting, it came up that we need the glaciers in the "Ice Age" screen to reflect some of the sunlight.  We decided that we will make the glacier appear on the right side in the artwork and will make the sunlight waves on this side of the observation window reflect upward at a pretty acute angle.

I will take a shot at implementing this and will have the design team review it

[2021-09-09 23:49] jbphet commented on #73
I've added support for reflecting light off of the ground and have implemented an initial, rather crude version of the feature as it relates to reflecting off of a glacier.  To make it easier to understand, and also added a simple shape in the view that is meant as a placeholder for the glacier.  This is all available on master, and the reflection looks like this:

![image](https://user-images.git

[2021-09-10 23:57] arouinfar commented on #65
I reviewed the changes described in https://github.com/phetsims/greenhouse-effect/issues/65#issuecomment-894536655, and things are looking good, with two exceptions.

I caught one instance of 2019 still in the tree:
`greenhouseEffect.wavesScreen.view.concentrationControlPanel.dateControl.dateRadioButtonGroup.twentyNineteenRadioButton`

I think this is an improvement, but I wonder if we could inste

[2021-09-11 00:11] arouinfar commented on #72
Thanks @jbphet the query parameter is working as intended.

I quite like `waveGapsEnabled=false` and I may even prefer it as the default option. I was a bit worried that it would be harder to notice the wave directionality, but I don't find that to be the case. It would also avoid issues like #71.

We can discuss more at next week's meeting to see what the team prefers.

[2021-09-11 00:14] arouinfar commented on #71
I think the solution here may be to just use `waveGapsEnabled=false` as the default state. Let's discuss at next week's meeting.

[2021-09-11 00:29] arouinfar commented on #73
The glacier is a part of the Ice Age artwork, and that is the only time it should appear on the Waves and Photons screens.

Only when Ice Age is selected.

I don't think glaciers should reflect IR, and [this source from NASA](https://earthobservatory.nasa.gov/Features/Glaciers/glaciers_4.php#:~:text=Like%20most%20white%20objects%2C%20the,red%20on%20the%20color%20spectrum) seems to corroborate, but

[2021-09-12 23:22] jbphet commented on #65
@arouinfar - I believe I've added everything requested in the previous comment, please review.

As for the dynamic layout, I've addressed the two specific items you mentioned but stopped there, since there are lots of other things that could be done but there was nothing obvious to me that I thought users were likely to need.  Let me know if you think addition dynamic layout needs to be supported

[2021-09-13 00:54] arouinfar commented on #49
@jbphet I created a glacier for the ice age and a small scene for 1750. For the ice age, we should fill the ground with gray/brown `#9b9185`.

The assets were exported at twice the resolution used in the mockups below.
[1750.png](https://user-images.githubusercontent.com/8419308/133009171-884cee0a-6cf1-4078-ac57-6464bae1bc80.png)
[ice-age.png](https://user-images.githubusercontent.com/8419308/1330

[2021-09-13 17:29] jbphet opened #74 "Temporarily reduce the sim to a single screen for an early delivery"
We're making an early delivery of the sim to a customer, and they only need the "Waves" screen for now.  I pinged @kathy-phet and @arouinfar over Slack to ask if we should reduce the sim to a single screen for this, and they agreed that we should.

[2021-09-13 17:31] jbphet commented on #74
Tagging @jessegreenberg so that he is aware of this since he is currently working on description for the sim.

[2021-09-13 19:38] arouinfar commented on #49
Here are the mockups for 1950 and 2020, respectively. The artwork is essentially the same, but the number of buildings is used to indicate the increase in population and industrial development. I played with added cars on the roads, but it ends up looking really busy so I got rid of them.

@jbphet here's the full set of assets:  [greenhouse-effect-scenes.zip](https://github.com/phetsims/greenhouse

[2021-09-13 21:24] jbphet commented on #49
I asked @arouinfar about artwork for the icons over Slack, and she said:

Based on this, I'll attempt to render them in code.

[2021-09-13 22:08] arouinfar commented on #65
Thanks @jbphet! Everything looks good in master. Remaining PhET-iO design work (phetioFeatured, client guides) can be tracked in separate issues, so closing this one.

[2021-09-13 22:09] arouinfar opened #75 "phetioFeatured overrides"
Related to #65

I'll use this issue to track commits for the phetioFeatured overrides.

[2021-09-13 22:25] arouinfar commented on #49
@jbphet I think the rolling hills look great! The icons and integrated artwork also look good to me. Since the artwork was more of a stop-gap, I'll leave this open until we figure out the next steps.

[2021-09-13 22:26] arouinfar commented on #72
@jbphet I had a brief chat with @kathy-phet, and we decided to make `waveGapsEnabled=false` the default behavior. Please make this change before the rc.

[2021-09-13 23:01] arouinfar commented on #75
I committed and reviewed the phetioFeatured overrides.

Design notes:
* I  was on the fence about featuring the `energyAbsorptionProperty` and `temperatureProperty` of each layer since this seems like a more technical model detail. I ultimately decided to feature them because a client using the data stream may find them useful, and I don't think it's harmful to have it more exposed to clients.
* I

[2021-09-13 23:01] #75 closed

[2021-09-13 23:03] arouinfar commented on #65
@jbphet one quick (and hopefully last) request for you...

- [ ] `startSunlightButton.visibleProperty` should be read-only since it's controlled by the `isShiningProperty` in the model.

[2021-09-13 23:08] arouinfar opened #76 "Create PhET-iO client guides"
Creating this issue to track commits for the client guides. Note that this sim will only have a phet-io-guide.md as there weren't any specific client requests.

[2021-09-14 00:08] arouinfar commented on #76
Client guides created in the above commit, closing.

[2021-09-14 00:08] #76 closed

[2021-09-14 17:17] jbphet commented on #65
I've made the change requested in the previous comment.  Closing.

[2021-09-14 17:17] #65 closed

[2021-09-14 17:24] jbphet commented on #72
The query parameter has been updated and the default has been changed.  I think we're done here.  Closing.

[2021-09-14 17:24] #72 closed

[2021-09-14 17:26] jbphet commented on #74
This is done.  I'll open a new one when it's time to bring the other screens back.  Closing.

[2021-09-14 17:26] #74 closed

[2021-09-14 20:33] jbphet opened #77 "Remove options dialog from 1.0.0 release"
While doing some work on the sound design, I remembered that there is currently an "Options" dialog in the sim that we probably don't want the users messing with.  It controls mockup opacity and some sound design prototype options.  It should be removed from the prototype release that is currently in progress.

[2021-09-14 23:06] jbphet commented on #36
The sound generators have now been created and hooked up to the "Options" dialog.

@Ashton-Morris and @emily-phet - Please take this version for a test drive (link below) and log your thoughts on what works and what doesn't with respect to temperature and IR-reemission sounds.  Keep in mind that we have a lot of flexibility here in terms of what loops and frequency ranges we use, as well as how th

[2021-09-15 12:53] Nancy-Salpepi opened #78 "Visible light radiates from ground in Studio Wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/707

Visible light radiates from the ground in all scenes if Studio is launched while in the Ice Age scene.

**Steps to reproduce**
1. In the Studio Wrapper: Press the start sunlight button
2. Press the calendar button and select "Ice Age"
3. Once th

[2021-09-15 14:34] Nancy-Salpepi opened #79 "In Studio and State Wrappers: Sim launches in Initial State if Cloud is added"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/707

In Studio and State Wrappers: When the Cloud Checkbox is checked, the sim will launch in its Initial State (the "Start Sunlight" button will be displayed).

**Steps to reproduce**

In Studio:
1. Press the "Start Sunlight" button
2. Check the Clo

[2021-09-15 15:30] Nancy-Salpepi opened #80 "Energy balance reading incorrect when sim is first launched in Studio and State wrappers"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/707

When a sim is launched in Studio, the energy balance arrows initially show only an inflow of energy--similar to when the sim is first launched--rather than the current state.

**Steps to reproduce**
1. Press "Start Sunlight" button
2. Check "Ene

[2021-09-15 16:29] KatieWoe opened #81 "CT Impossible set state from iterate"
[code]

[2021-09-15 16:30] Ashton-Morris commented on #36
Wow these do sound cool!

- Multiple loops with cross-fades: This sounds the most musical and perhaps pleasant but I am not feeling like the the temperature is changing when I am hearing it, I am just feeling like the audio is changing.
- Low Pass Filter: This sounds great! I’d like to test it with more sharper resonance on the Q of the filter. Just a little more. The fullness on any temperature w

[2021-09-15 19:08] jbphet commented on #79
Looks like I wasn't passing in a tandem to the `Cloud` instances, so an assertion was being thrown in the downstream sim when it tried to map the cloud to reflected light waves.  I've added the tandems and made them required so that we don't run into similar problems in the future.

[2021-09-15 19:17] jbphet commented on #81
There is a good change that this was fixed by the changes made to address #79.  I'll keep an eye on CT and see if this problem recurs.

[2021-09-15 20:04] jbphet commented on #81
Here's a screenshot from CT that indicate the last time this issue occurred:

![image](https://user-images.githubusercontent.com/3082831/133501706-7c1338d1-2eb3-487b-a2f8-31f25125f098.png)

[2021-09-15 20:20] jbphet opened #82 "Adjust the reflectance of the cloud to get the desired amount of temperature change"
As of this writing, the temperature drops about 4 degrees Celsius when the cloud is turned on.  The design team has decided that this is too much, and the code should be adjusted to cause less cooling but to look visually the same on the Waves screen.

[2021-09-15 20:46] jbphet opened #83 "Experiment with a mapping of concentration to reflectance that makes date changes more pronounced"
In the current master version, it's hard to notice the differences in the wave behavior when the different dates are chosen.  The differences between the Ice Age and 2020 are noticeable, but between 1750 and 2020, not so much.  We should try putting in a different mapping so that this is more noticeable, and perhaps use a wider max value for the wave thickness.

[2021-09-15 21:10] jbphet opened #84 "The energy balance meter seems delayed - can this be improved?"
@kathy-phet brought this up in today's design meeting.

[2021-09-15 21:54] brooklynlash commented on #79
I have also noticed (Win10) that whenever the cloud is checked but I also take off other visible properties in Studio, they show up again and are stuck at the base screen as well.

[2021-09-16 14:30] Nancy-Salpepi commented on #67
I've spent ample time in the Studio Wrapper during this round of testing and this issue has not occurred.

[2021-09-16 14:30] #67 closed

[2021-09-16 14:37] Nancy-Salpepi commented on #66
Waves look connected now. I don't see any disconnect.

[2021-09-16 15:23] Nancy-Salpepi commented on #80
In the State wrapper, with default settings, the energy balance didn't change at all. The "in" and "net" arrows were both pointing down with no movement (see picture above).

Steps to reproduce:
Press "Start Sunlight" button
Check "Energy Balance" Checkbox

However, when the "set state rate" value is zero and the "set state now" button is used, the arrows will match the upstream sim after a delay

[2021-09-16 16:12] jbphet opened #85 "Branch: energyBalancePhetio"
This is a branch where some attempts to fix a problem with state for the energy rates were made.  @zepumph and I worked on it together but couldn't quite get it working before a meeting started, so it's going here for further investigation.  The original issue is #80.

[2021-09-16 16:34] jbphet commented on #81
CT looks clear, closing.

[2021-09-16 16:34] #81 closed

[2021-09-16 16:36] jbphet commented on #77
Fixed on the branch.

[2021-09-16 16:52] zepumph commented on #85
Ok, there were two problems, one was @jbphet's fault (forgot to supply a phetioType), and one was my fault (using the stateSchema to applyState has a bug, see https://github.com/phetsims/tandem/issues/245#issuecomment-921065520.

@jbphet, I think you can proceed with merging this branch into master and testing.

[2021-09-16 17:34] jbphet commented on #78
Some of the information about the reflected waves were not being serialized.  I've fixed this.

[2021-09-16 18:04] jbphet commented on #82
I've adjust the model behavior and "Hollywooded" the view to make it still look good even when reflecting less light.

I looked at precise values on this, and the temperature change was actually a little more than 1 degree, so we should review later as a team and decide if it works for us.  In the default position of the slider, the temperature goes down 1 degree Kelvin and 1 degree Celsius, so it

[2021-09-16 20:37] zepumph commented on #80
Looks like my fixes on the branch weren't totally complete. I'll keep testing.

[2021-09-16 21:21] zepumph opened #86 "EnergyDirection needs PhET-iO serialization like an Enumeration, not a Vector2"
I discovered a bug while debugging the issues around https://github.com/phetsims/greenhouse-effect/issues/80. There are a couple of spots where we are using object equality to check again Vector2 positioning. In PhET-iO though, these references are being tossed out and recreated as new Vector2 instances that have different values. To solve this, there are a couple of solutions.

1. (the easiest),

[2021-09-16 21:37] zepumph commented on #86
Ok. I went with the easy solution, and it worked really well. It fixed #80 because the reference-equality in the conditional in `SpaceEnergySink.interactWithEnergy` was being respected.

@jbphet, I don't think investigating any other strategy for serializing this is worth doing. But let me know if you don't like the above commit. Please review.

Please note that EnergyDirection still feels like a

[2021-09-16 21:39] zepumph commented on #80
Ok. Quite a bit has happened since @jbphet started working on this this morning. He got very far, in part while working with me, but we couldn't quite solve every single bug, so he committed to a branch (https://github.com/phetsims/greenhouse-effect/commit/0e4526da6f92268d9681b9c8e2006fa87bf5b895). It was almost entirely correct, but needed fixes I added in https://github.com/phetsims/greenhouse-e

[2021-09-16 21:40] zepumph commented on #80
@Nancy-Salpepi, will you please review this on master, can you reproduce? I cannot.

[2021-09-16 21:42] zepumph commented on #85
After discussion with @jbphet, the above commit wasn't enough for the full fix. Details over in #80. I merged this branch into master, but I'm a bit nervous because this isn't my sim. I'm going to keep this branch open until @jbphet get's back and can take a lay of the land. Most likely he will just delete the branch though.

[2021-09-16 22:13] zepumph commented on #80
If cherry-picking, please do all commits in this repo, and the commit in https://github.com/phetsims/greenhouse-effect/issues/86.

[2021-09-16 22:41] Nancy-Salpepi commented on #80
Hey @zepumph!
I cannot reproduce any of the scenarios I reported.

[2021-09-16 22:42] zepumph commented on #80
Wahoo! Over to @jessegreenberg for cherry-picking.

[2021-09-17 12:38] Nancy-Salpepi opened #87 "Direction of reflected visible light changes"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
seen in both chrome and safari

**Problem description**
https://github.com/phetsims/qa/issues/707

The direction of the reflected visible light changes depending on when the cloud is first introduced into the sim. If introduced when the sim is in Date Mode, the reflected light veers to the right. It will always move in

[2021-09-17 16:11] stemilymill opened #88 "Escape key does not exit dialogs"
for https://github.com/phetsims/qa/issues/707
Noticed on multiple platforms

Hitting the escape key does not exit dialogs and menus.

*Keystrokes are shown at the bottom of the video:*

https://user-images.githubusercontent.com/85511101/133819123-17f6cb0d-dd6d-4989-8a10-d4b86749f3bb.mp4

[2021-09-17 16:45] Nancy-Salpepi opened #89 "Energy arrow and Thermometer scale changes are hard to see"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
Chrome and Safari

**Problem description**
https://github.com/phetsims/qa/issues/707

When changing from one benchmark date to another, the changes in the energy balance panel are very minor. The Net arrow is usually just a small blip on the screen. @stemilymill and I only know its an arrow based on context.

Similarly

[2021-09-17 16:53] Nancy-Salpepi opened #90 "Blank spot in background"
I noticed a white line in the background located in the dip between the two hills.

<img width="312" alt="Screen Shot 2021-09-17 at 11 28 50 AM" src="https://user-images.githubusercontent.com/87318828/133825224-c062d563-b169-443e-8732-700945f44c95.png">

[2021-09-17 17:42] jessegreenberg commented on #88
Thanks @stemilymill - This one is happening because https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-rc.1/phet/greenhouse-effect_all_phet.html is going out with Interactive Description disabled. This means that no keyboard input will  be working yet. I just tested that using `?supportsInteractiveDescription=true` query param has the escape key closing dialogs.

[2021-09-17 17:42] #88 closed

[2021-09-17 18:59] Nancy-Salpepi opened #91 "Sound preference not maintained when sim is launched in Studio/State wrappers"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/707

This issue is related to: https://github.com/phetsims/joist/issues/745

In the Studio wrapper, if the sound is turned off on the nav bar, this preference is not maintained once the sim is launched. This is also seen in the State wrapper.

**Step

[2021-09-17 23:33] arouinfar commented on #90
Thanks @Nancy-Salpepi. We noticed this in a recent design meeting, and I think @jbphet fixed it locally, but the change didn't get pushed.

@jbphet @jessegreenberg I don't think this is blocking for the prototype version.

[2021-09-17 23:39] arouinfar commented on #89
Excellent catch @Nancy-Salpepi!!

At the minimum temperature, the thermometer is already at the halfway point. At the max temperature, the thermometer has only risen by one tick mark.

![image](https://user-images.githubusercontent.com/8419308/133863748-6ba84428-6e7d-47b7-aa2c-61e809fce7fc.png) ![image](https://user-images.githubusercontent.com/8419308/133863797-de9acf23-cc30-4427-a58d-bc73f57dcb5

[2021-09-17 23:41] arouinfar commented on #89
I think this likely comes down to how close the surface temperature is at these different benchmarks. I'll look at this a bit more, but I don't think there's anything we need to do about this for the prototype version.

[2021-09-17 23:48] arouinfar commented on #87
Thanks for reporting @Nancy-Salpepi.

I think what's happening is that there are two possible sets of waves. With `waveGapsEnabled=true` you will see the sim cycle between each set. The default sim behavior is now `waveGapsEnabled=false`, but I think the default set of waves is randomly chosen. If the incoming sunlight is on the left side of the cloud, the reflected wave will go to the left. Howev

[2021-09-20 20:11] KatieWoe commented on #84
Noticed this in https://github.com/phetsims/qa/issues/707

[2021-09-20 22:29] arouinfar commented on #91
@jessegreenberg I think this is ready for cherry-picking over in https://github.com/phetsims/joist/issues/745.

[2021-09-20 22:29] arouinfar commented on #84
@jessegreenberg this does not block the prototype.

[2021-09-20 22:33] arouinfar commented on #82
@jessegreenberg this should be included in the prototype version. I'm not sure if these commits were already cherry-picked into the release branch.

[2021-09-21 21:30] jessegreenberg commented on #87
I just took a look at the code and what you described matches what I see @arouinfar. This code specifically changes the direction of the wave depending on whether it is to the left or the right of the position of the cloud

https://github.com/phetsims/greenhouse-effect/blob/a72675dbf2092a20631d9097db9a4dec0012bfec/js/waves/model/WavesModel.js#L246-L248

[2021-09-21 21:46] jessegreenberg commented on #91
Cherry picks from https://github.com/phetsims/joist/issues/745 done and dependencies.json updated above.

[2021-09-21 21:58] jessegreenberg commented on #80
OK thanks! These are the commits to cherry pick for this issue and #86, after confirming with @zepumph:
- https://github.com/phetsims/greenhouse-effect/commit/0e4526da6f92268d9681b9c8e2006fa87bf5b895
- https://github.com/phetsims/greenhouse-effect/commit/0d633e5cf2af1fe80c75e87c0901bd0dd8235b0d
- https://github.com/phetsims/greenhouse-effect/commit/d8564f8cdcc27c8ffbfbb38e5a80ce28f00e7c19
- https:

[2021-09-21 22:03] jessegreenberg commented on #86
This change was cherry-picked into the 1.0 branch as part of https://github.com/phetsims/greenhouse-effect/issues/80

[2021-09-21 22:20] jessegreenberg commented on #89
@arouinfar and I discussed over slack. The range of `surfaceTemperatureKelvinProperty` is 0K-500K but when the sun is shining the minimum is actually 245K.  The maximum expected surface temperature is actually 295K (as described in GroundWaveSource.js). @arouinfar requested a bit of padding to make the thermometer look nice and so we went with 240kK-300K.

@arouinfar reviewed the look and said it

[2021-09-21 22:33] jessegreenberg commented on #89
That much is done cherry-picked into 1.0, but there are still other design considerations in https://github.com/phetsims/greenhouse-effect/issues/89#issuecomment-922135738.

[2021-09-21 22:38] jessegreenberg commented on #82
I confirmed that changes for this issue were made in the 1.0 branch. However, I noticed that https://github.com/phetsims/greenhouse-effect/commit/55963505b6a09fa0809ce1078495402bd8339d99 was made to 1.0 but **not** to master. @jbphet should https://github.com/phetsims/greenhouse-effect/commit/55963505b6a09fa0809ce1078495402bd8339d99 be in master as well?

[2021-09-21 22:42] jessegreenberg commented on #78
I didn't see it referenced here but I confirmed that 302b6b5fddcc215bb91104b3827260dfe36e27e8 was cherry picked into 1.0 and I wasn't able to reproduce this issue with 1.0 SHAs.

[2021-09-22 17:21] Nancy-Salpepi commented on #78
I was not able to reproduce this issue.

[2021-09-22 17:21] #78 closed

[2021-09-22 17:40] Nancy-Salpepi commented on #80
I was unable to reproduce the energy balance issue in studio/state wrappers.

[2021-09-22 17:40] #80 closed

[2021-09-22 17:49] Nancy-Salpepi commented on #91
In the launched sim, once I turned the sound on, the reset button did not reset the sound preference to off. Shouldn't the sim reset to its original, launched version?

Steps:
1. Turn off sound on the nav bar
2. Press "Preview Sim" button
3. Turn on sound on the nav bar in the launched sim
4. Press the reset button

[2021-09-22 18:13] Nancy-Salpepi commented on #89
Changes to the thermometer are great! Now there is definitely a more visible change for students to see. Thanks for considering my feedback @arouinfar.
I know that the energy arrows are something that you are going to look into more for the future (not the prototype version), so I am going to keep this open. Feel free to close this if that is not correct.

[2021-09-22 18:57] jessegreenberg commented on #91
I don't think so, the navigation bar is not in the scope of things that get reset when pressing the Reset All button. And the behavior you described is what I would expect for a sim outside of studio as well. If audio is disabled I think we would want to keep that preference even after Reset All is pressed.

[2021-09-22 19:40] Nancy-Salpepi commented on #79
I was unable to reproduce this issue in studio and state.
Based on https://github.com/phetsims/greenhouse-effect/issues/79#issuecomment-920409584 I also removed the visible properties of some elements while adding the cloud. Those elements were not present in the launched sim.

[2021-09-22 19:40] #79 closed

[2021-09-23 16:34] arouinfar commented on #82
@jessegreenberg this behavior should also be in master.

[2021-09-23 16:41] jessegreenberg commented on #82
Thanks @arouinfar. The reason I am unsure about https://github.com/phetsims/greenhouse-effect/issues/82#issuecomment-924440024 is that some of the commits above are in master but https://github.com/phetsims/greenhouse-effect/commit/55963505b6a09fa0809ce1078495402bd8339d99 is not.

However, this is the last issue to verify for https://github.com/phetsims/qa/issues/710, and it is more design related

[2021-09-23 17:14] arouinfar commented on #82
@jessegreenberg the behavior in master and rc.2 appears to be the same, and both are working as I would expect. The cloud reduces the surface temperature by 1 K and the reflected sunlight is thin but still noticeable.

[2021-09-23 17:59] jessegreenberg commented on #82
OK thanks @arouinfar. If it is working correctly in both then perhaps https://github.com/phetsims/greenhouse-effect/commit/55963505b6a09fa0809ce1078495402bd8339d99 does not need to be in master. But Ill still leave up to @jbphet to confirm.  I will also check this issue off in https://github.com/phetsims/qa/issues/710

[2021-09-23 19:00] jessegreenberg commented on #91
I may have been wrong about this. In phet-io meeting today @zepumph said that the common code behavior for ResetAllButton is to reset state instead of resetting the sim. @zepumph is the description from @Nancy-Salpepi in https://github.com/phetsims/greenhouse-effect/issues/91#issuecomment-925148561 the behavior that is expected?

[2021-09-23 22:32] jessegreenberg opened #92 "Screenshot needed for publication"
We haven't added a screenshot yet and thankfully the production process caught this. I am not able to deploy the 1.0 prototype until there is a screenshot. Assigning to @arouinfar.

[2021-09-23 22:43] arouinfar commented on #92
@jessegreenberg I've committed a screenshot to master and the 1.0 branches.

[2021-09-24 17:22] jessegreenberg commented on #92
Great, thanks @arouinfar!

[2021-09-24 17:22] #92 closed

[2021-09-27 17:13] jbphet commented on #66
Closing.  I think it's unlikely that I'll put any more time into this to make the last bit of improvement, but if I do, I'll reopen.

[2021-09-27 17:13] #66 closed

[2021-09-27 17:18] jbphet commented on #87
The two comments above are correct.  @arouinfar - This can easily be changed such that we use a consistent set of initial waves at the outset.  I just didn't think about it when adding the ability to turn off wave gaps.  Would it be an improvement to do so?  If so, please assign back to me and I'll take care of it, otherwise please close.

[2021-09-27 18:48] jbphet commented on #77
This has been deployed in the 1.0 prototype version.  Closing.

[2021-09-27 18:48] #77 closed

[2021-09-27 22:37] jbphet commented on #90
Yes indeed, the change made during design meeting got reverted during some subsequent work.  This is fixed on master now.  I addressed it by making the sky node extend a bit below the surface of the ground.  Closing.

[2021-09-27 22:37] #90 closed

[2021-09-27 23:46] zepumph opened #93 "UtteranceQueue.addToFront is deprecated"
See https://github.com/phetsims/utterance-queue/issues/36, and the deprecation warning message to fix this usage. I recommend doing this now because the sim is in active development, but it is up to @jessegreenberg. If this is the last usage, please delete the method from `UtteranceQueue`.

[2021-09-28 19:53] jbphet commented on #36
We experimented with this a little during today's sound design meeting, but I'll make it easier and more definitive for the next meeting to that we can determine the value we want to commit to.

[2021-09-28 21:34] Ashton-Morris commented on #36
We decided today to try the Waves screen with continuous sounds for the IR coming up from the ground and the IR ReEmission. We also will try it with discrete sounds that play at the start of the loop and without. I am adding these files to be put in.

- greenhouse-effect-waves-ir-reemission-loop.mp3
- greenhouse-effect-waves-ir-loop.mp3
- greenhouse-effect-waves-ir-starting-sound.mp3
- greenhouse-

[2021-09-29 19:38] jbphet opened #94 "Energy balance charges are hard to see when switching between dates"
This is split out from #89, and should be worked on in conjunction with #84.

The general problem is that it is hard to see the changes that occur in the Energy Balance panel when switching between the years, because the net energy change takes a while and is fairly small on the meter.

At this point, we (the design team) is not entirely sure to attack this, but we're thinking that it would be goo

[2021-09-29 19:40] jbphet commented on #89
I've broken the issue about the magnitude of the arrows into it's own issue, see #94, and will close this one.

[2021-09-29 19:40] #89 closed

[2021-09-29 19:45] jbphet commented on #87
We discussed this in today's design meeting, and decided to leave the current behavior as is, at least for now.  Closing.

[2021-09-29 19:45] #87 closed

[2021-09-29 20:11] arouinfar opened #95 "Items for Teacher Tips"
Opening this issue to collect items to document in the Teacher Tips.

- [x] Query Parameters: `defaultTemperatureUnits`, `screens`, `audio`, `supportsPanAndZoom` (check against https://github.com/phetsims/greenhouse-effect/blob/master/js/common/GreenhouseEffectQueryParameters.ts)
- <s>Variations in wave representation due to random selection at startup, #87</s>
- [x] The displayed layer temperatur

[2021-09-30 21:24] jbphet commented on #84
I'm deferring this issue and #94 until we have an initial implementation of the "Photons" screen that we can experiment with.  This was recommended by @kathy-phet during yesterday's design meeting.

[2021-10-01 22:16] jbphet commented on #85
I reviewed the merge commit, specifically https://github.com/phetsims/greenhouse-effect/commit/bdc21f7278337a1eaf09100a2f1ec27d879803da, and it at least roughly makes sense to me.  I'm still not super clear on when to use STATE_SCHEMA and when to create specific methods like `applyState`, but I'm thinking that understanding will come as I gain more experience with this (plus I think it's still evo

[2021-10-01 22:16] jbphet commented on #85
The branch has now been deleted, closing.

[2021-10-01 22:16] #85 closed

[2021-10-01 22:22] jbphet opened #96 "Branch: waves-instrumentation"
While working on #85 I noticed another branch in this repo that doesn't appear to have a corresponding issue, so I'm creating this one.

[2021-10-01 22:26] jbphet commented on #96
@zepumph - This branch is 3 commits ahead of master and several (117 as of this writing) behind.  The commits were done by you and appear to be a11y-related.  Can you please have a look and determine whether this branch be deleted?

See https://github.com/phetsims/greenhouse-effect/commits/waves-instrumentation.

[2021-10-01 23:15] jbphet commented on #82
Good catch @jessegreenberg - I had indeed missed moving one of the commits onto master.  I've done so now.

I tested this on master with the Gas Concentration slider at its nominal, min, and max positions and the cloud drops the temperature one degree Celsius and one degree Kelvin in each case.  I allowed the temperature to equilibrate for about 30 seconds prior to turning on the cloud in each cas

[2021-10-01 23:16] #82 closed

[2021-10-05 15:16] jbphet commented on #86
@zepumph said:

I'm not too keen on time bombs in my code, so while it seems fine to leave it as is in the 1.0 release, let's see if we can improve things on master.

@zepumph - Would things work significantly better if `EnergyDirection` were a true enumeration?  I tried to use `RichEnumeration` for it, but it asserted saying, "rich enumeration values cannot provide their own toString".  Perhaps w

[2021-10-06 15:32] jessegreenberg commented on #46
Coming back to this with @zepumph, the comment to produce the in https://github.com/phetsims/greenhouse-effect/issues/46#issuecomment-870116181 is misleading, as we understand it now we still need to fuzz the sim to see this issue.

[2021-10-06 15:34] zepumph commented on #46
We were able to reproduce this problem by checking out these shas, and then fuzzing the state wrapper.

https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0-dev.12/phet/dependencies.json

[2021-10-06 16:19] jessegreenberg opened #97 "Implement Responsive Descriptions"
Part of the Interactive Description feature set, Responsive Descriptions are object and context responses that provide real-time feedback about the state of the sim. The are ready for implementation.

I think it would be helpful to have a plan up front for how files and functions should be organized to implement this. This issue will serve as a place to organize thoughts and track commits and hist

[2021-10-07 23:02] zepumph commented on #86
I would go with the simple enum, and see how far that gets us. If we need to rope in JO or SR to accomplish this I think it will be more hard than it's worth.

How about something like this:

[code]

[2021-10-08 18:18] jbphet commented on #86
Yes, that's exactly the sort of thing I was thinking of too.  Thanks, I'll go with something like this.

[2021-10-12 23:29] jbphet commented on #36
@emily-phet and @Ashton-Morris - I have the IR discrete sounds and loops working, please try them out in https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.2/phet/greenhouse-effect_en_phet.html and record your thoughts here.

I played around with it for a bit, and found it very instructive to switch around what was on and off through the options dialog, but it definitely felt like too

[2021-10-13 19:37] jbphet opened #98 "Calibrate the actual temperatures, decide whether to show decimal values"
In the current master version, and also in the 1.0 version (see https://phet-dev.colorado.edu/html/greenhouse-effect/1.0.0/phet/greenhouse-effect_en_phet.html), the temperature difference between 1750 and 2020 is about 5 degrees Celsius.  This isn't accurate - the change is actually closer to 1.5 degrees C.

Before we publish we should calibrate and make sure that the sim matches the historical da

[2021-10-21 00:37] jbphet opened #99 "Convert to TypeScript"
In the developer meeting on 10/14/2021, it was decided that I should convert this sim to TypeScript from JavaScript in order to become more familiar with the language.  The development of new features will be paused will this effort progresses.

[2021-10-25 23:28] #93 closed, assigned to jessegreenberg

[2021-10-29 18:10] jbphet opened #100 "Fix sound file error handling in 1.0 branch"
A problem was recently found with error handling in sound files, and this problem manifests on certain combinations of MacOS and Safari versions.  The details are in https://github.com/phetsims/tambo/issues/151.  This problem was fixed in a maintenance release, but it turns out that prototype release of sims are not updated as part of that semi-automated process, so the problem will need to be man

[2021-11-01 22:32] jbphet commented on #46
Okay, here are the steps that I took in order to re-enable the a11y view without causing CT failures due to the issue with PCOMDisplays:

1. I added `"supportsInteractiveDescription": true` back to `package.json`
2. I added this sim to the phet-io-state-unsupported file
3. I added this sim back to the interactive-description file

@zepumph and @jessegreenberg - Are those the correct steps?

[2021-11-02 15:46] zepumph commented on #46
4. Run `grunt update`. To make sure the package.json is correct in the development html.

While what you have listened will work. . . .
This will be done automatically each night, or via the manually run `generate-data` perennial script. Ideally this file is not edited manually.

[2021-11-02 16:44] jbphet commented on #46
I ran `grunt update` and it didn't change `package.json`, so I think we're probably good.

I'm going to leave this open and deferred until https://github.com/phetsims/scenery/issues/1312 is taken care of, and then will follow up with turning state testing back on.

[2021-11-02 17:12] Ashton-Morris commented on #36
I couldn't get that sim to load from phettest. I had an unknown TypeError.

But from the last dev version and our last meeting I can recall thinking:

1. Turn down the temperature sound 10%
2. Turn up the IR Emission and Waves sounds 10%

I think those changes should suffice for the interviews.

[2021-11-02 20:05] jbphet opened #101 "Create and integrate sounds for photon emission and absorption"
In #36 we worked on creating a "soundscape" for the observation window in the "Waves" screen.  It's time to start working on the sounds for the "Photons" and "Layer Model" screens, and one of the biggest differences between these and the "Waves" screens is that the latter represent light using photons instead of waves.  In today's sound design meeting we decided that it would be good to create som

[2021-11-03 17:37] jbphet opened #102 "Do interviews on initial sound design for "Waves" screen"
In a recent design meeting we decided that the soundscape for the "Waves" screen (see #36) has reached the point where it is ready for some initial interviews.  @arouinfar said she would set up and perform the interviews.  I've published a dev version with the latest version of the soundscape, and it should be good to go for this purpose, see https://phet-dev.colorado.edu/html/greenhouse-effect/1.

[2021-11-03 23:25] jbphet opened #103 "Fix enums when a pattern is worked out for TypeScript"
In https://github.com/phetsims/greenhouse-effect/issues/99 I did an initial conversion of the bulk of the source files, excluding those from the "Micro" screen, to TypeScript.  Since we don't have a standard pattern worked out for to handle enums, including how it will relate to phet-io, I'm creating this issue to follow up on this.

To find these issues, search for `ts-ignore` and `any`.  The res

[2021-11-03 23:29] jbphet opened #104 "Convert the files in the `micro` directory to TypeScript"
In #99, much of the codebase was converted to TypeScript.  The files for the "Micro" screen were omitted from this initial conversion because we're not planning to release it for a while, because it is quite independent from the other three screens, and I need to make progress on the other three screens soon.

I'm going to put a reminder on my calendar for a couple of months from now to start on t

[2021-11-03 23:35] jbphet opened #105 "Fix up the interaction between phet-io and TypeScript"
In #99 I ported much of the code to TypeScript.  There were a number of shortcuts taken and inconsistencies created for the phet-io code since a lot of it involves fairly elaborate typing.  Once the way in which phet-io and TypeScript work together is finalized, or at least significantly refined, I should revisit the related code and improve it.

I'll defer this for now, and will address it once I

[2021-11-03 23:37] jbphet opened #106 "Fix up problems with `Image` in the TypeScript code"
In #99 I ported much of the code to TypeScript.  There were some problems with TypeScript knowing that `Image` instances were sub-types of `Node`, and I basically skipped them by using `ts-ignore`.  Once this is worked out, meaning the either Scenery has been ported to TypeScript or something else has happened where this isn't a problem, I should fix things up.  In this case, mostly it will just r

[2021-11-03 23:44] jbphet opened #107 "Fix up options pattern used in TypeScript files once we've decided on a standard approach"
In #99 I converted much of the code from JavaScript to TypeScript.  At the time of this conversion, we hadn't finished working out how to do the "options" pattern, so what I've done is a bit inconsistent.  Once we have a standard, the options usages should be revisited and made to adhere to this standard.

The general issue of how to handle options is being tracked in https://github.com/phetsims/c

[2021-11-03 23:56] jbphet commented on #99
The initial conversion is complete, though note that the files in the "micro" subdirectory were excluded, see #104 for more on this.

I've logged several issues for following up and finalizing this conversion, see #103, #104, #105, #106, and #107.  Closing this issue.

[2021-11-03 23:56] #99 closed

[2021-11-04 17:51] jbphet opened #108 "Review and improve the PhotonsModelComponents mixin/trait after porting to TypeScript"
In #99 I converted most of the code for the first three screens of the sim from JavaScript to TypeScript.  As part of that process I converted a mixin called `PhotonsModelComponents`.  I was able to make this work, but I didn't fully understand what I'd done, and I felt like it wasn't an optimal solution because it required calling an initialization method.  I'd like to work to review and potentia

[2021-11-04 18:29] jbphet opened #109 "Remove type information from comments in TypeScript files"
In https://github.com/phetsims/chipper/issues/1137 we decided that we didn't need to keep the type descriptions in our comments in TypeScript files since it is redundant with the information that is now explicit in the code.

[2021-11-05 23:46] jbphet commented on #108
I decided to refactor the inheritance hierarchy so that a mixin wasn't needed.  I think this will work out better in the end.  Closing.

[2021-11-05 23:46] #108 closed

[2021-11-08 19:33] jbphet commented on #98
I've done a round of updates for this.  @arouinfar - Can you please review on master and let me know what you think?  If the behavior is what we're after, you can close.

[2021-11-08 20:28] Ashton-Morris commented on #101
Uploading these now:

- greenhouse-effect-photons-screen-ir-photon-absorbed.mp3
- greenhouse-effect-photons-screen-ir-photon-emitted.mp3
- greenhouse-effect-photons-screen-visible-light-photon-absorbed.mp3
- greenhouse-effect-photons-screen-visible-light-photon-emitted.mp3

[2021-11-10 17:29] jbphet commented on #101
I integrated these sounds, and the sound design team reviewed them in the context of an initial prototype version of the Photons screen.  We've decided to wait until there is a bit more realistic version of this screen before we go much further, and at that point we should experiment with just having some of the sounds on at once.

[2021-11-11 23:35] KatieWoe opened #110 "CT required tandems must be supplied"
[code]

[2021-11-12 20:59] jbphet commented on #110
There was a tandem that I'd failed to pass through.  This is now fixed, I'll watch CT and close this when it turns green for this sim.

[2021-11-12 22:06] jbphet opened #111 "Revisit duplication of photon model code"
For issue https://github.com/phetsims/greenhouse-effect/issues/108 I removed a mixin that was being used to add common photon modeling code to the models for the "Photons" and "Layer Model" screens.  I did this largely because the mixin wasn't working very well, PhET hasn't completely settled on a standard pattern for mixins in TypeScript, and because my experience with mixins is that they tend to

[2021-11-12 22:39] jbphet commented on #110
CT looks clear.  Closing.

![image](https://user-images.githubusercontent.com/3082831/141564678-df6b0503-6a0c-48dd-8794-fe8a1c08c893.png)

[2021-11-12 22:39] #110 closed

[2021-11-12 23:18] jbphet opened #112 "Maintenance release Greenhouse Effect 1.0 prototype with improved temperatures and readouts"
In https://github.com/phetsims/greenhouse-effect/issues/98 work was done that added a decimal place to the temperature readouts and adjusted the temperatures for the dates to correspond more closely to the historical record.  We reviewed these changes in our weekly design meeting on 11/12/2021, and @kathy-phet requested that once these are finalized, I should do a maintenance release of the 1.0 pr

[2021-11-12 23:21] jbphet commented on #98
@arouinfar - I've been asked to to a maintenance release of the 1.0 version with these changes, as you probably heard in our design meeting earlier this week.  I'd like for you to "sign off" on this issue before I do so that I don't have to make any tweaks or corrections later.  To that end, I'm going to raise the priority level.

[2021-11-15 22:41] arouinfar commented on #98
@jbphet please proceed with the maintenance release. The temps look good in master.

[2021-11-16 23:42] markgammon opened #113 "Greenhouse Effect - Publish 1.0 with PhET-iO. Alt-Input. Description. Full Sound"
Publish Greenhouse Effect Simulation with PhET-iO, Alt-Input, Description, and Full Sound

- [ ] https://github.com/phetsims/greenhouse-effect/issues/1
- [ ] https://github.com/phetsims/greenhouse-effect/issues/76

[2021-11-17 21:07] jessegreenberg opened #114 "Greenhouse Gas Exploration Controls should come before Observation Window in pdomOrder"
@jbphet and I will work on this.

[2021-11-18 20:27] arouinfar commented on #114
We'd also like to move the "Start Sunlight" button to be the first thing under H2: Play Area. Leaving it in H3: Observation Window will lead to a strange focus order.

[2021-11-19 18:29] jbphet commented on #98
Cool, thanks.  I'll do the maintenance release under https://github.com/phetsims/greenhouse-effect/issues/112 and will close this one.

[2021-11-19 18:29] #98 closed

[2021-11-24 01:12] emily-phet commented on #102
@jbphet sent @Ashton-Morris and I the latest link to discuss today in his absence: https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.4/phet/greenhouse-effect_en_phet.html.

Ashton and I think this is really good, and in a great place for interviews. The discrete sound heard in photon view when there is absorption/re-emission in the atmosphere we think is the least easily interpretable

[2021-11-30 20:08] jbphet commented on #101
I've published a dev version with only the sounds for re-emission of IR photons from the atmosphere, and we've decided that we generally like this and should move forward with interviews.  Having said that, we want to try out some different sounds for this.  At today's design meeting, we decide to have @Ashton-Morris create a couple alternatives, possibly one or two with a less aggressive attack a

[2021-12-01 17:33] jbphet commented on #114
Done, at least @jessegreenberg and I think so.  We will review with the team in the next design meeting.

[2021-12-01 20:07] jbphet commented on #114
Reviewed with design team and approved, closing.

[2021-12-02 01:15] jbphet commented on #112
A couple of things to note about how this went:
- I had to make the changes manually, since the sim had been converted to TypeScript before these changes were made on master.
- For some reason, the gas concentration values that were experimentally determined in #98 didn't quite work, and I had to determine them again for this maintenance release.  They had to be slightly higher in order to get the

[2021-12-02 01:49] jbphet commented on #112
The maintenance release is complete, it's version 1.0.2.  I just checked, and the prototype link works.  Closing.

[2021-12-02 01:49] #112 closed

[2021-12-03 21:05] jbphet opened #115 "Add haze to the atmosphere as greenhouse gas concentration increases"
In this week's design meeting I pointed out that in the Java version of the simulation, the atmosphere becomes hazier as the level of greenhouse gasses increases.  The designers recommended that I add this to the HTML version.  I think checked the HTML design doc, and found a phrase that says "GHG are not visible, so hazy representation may not be ideal. Visual air quality/smog not related".  I'll

[2021-12-03 23:12] jbphet opened #116 "Determine and implement the ratio of IR to visible photons that should be depicted"
In this week's design meeting we discussed how many IR photons should be shown per visible light photon.  The recommendation was to make it "real", but I'm not sure that's viable, so I'll lay out the calculations and conclusion of what the reality would be, and we can discuss it in the next design meeting.

According to a number of sources on the web, including our own Blackbody Spectrum simulatio

[2021-12-04 00:33] jbphet commented on #116
I've implemented two algorithms to map the ground temperature to the rate of IR photon production, one that uses the Stefan-Boltzmann equation and one that is a simple linear calculation, and both use the rate of photon production from the sun as part of the calculation.  I'll review both of these with the design team at our next meeting and we can hopefully finalize or at least move forward on ho

[2021-12-08 00:48] jbphet opened #117 "Consider a refactor that consolidates energy, wave, and photon layer functionality"
In the first three screens of the sim, all of the models have layers that interact with energy.  In the first one, these layers also interact with waves, and in the 2nd and 3rd ones, the layers also interact with photons.  As of this writing, the interactions are all handled somewhat uniquely.  This, I think, is a natural consequence of the evolution of the sim, and I don't want to take the time t

[2021-12-09 22:32] jbphet commented on #115
This was reviewed in the 12/8/2021 design meeting and approved as is.  We can still tweak it a bit before publication, but at least for now it looks good to the team.  Closing.

[2021-12-09 22:32] #115 closed

[2021-12-13 18:58] jbphet commented on #116
In the design meeting, we decided to use the energy-based mapping with the minimum temperature (not the fully linear mapping), and a value of 5 to 1 for IR to visible photons.  This looked pretty reasonable.  This can always be adjusted later, but for this initial round we've come to a conclusion, so I'm going to close this issue.

[2021-12-13 18:58] #116 closed

[2021-12-17 20:20] jbphet opened #118 "Expand TemperatureDescriber's capabilities or narrow its scope"
While working on the Layer Model screen, I found that I needed to add support for ground temperature values below the previously established minimum.  This is mostly done, and about to be committed, but the code in TemperatureDescriber is now defining a value for the range that is only applicable to the first two screens.

@jessegreenberg - I'm not sure whether it would be best to narrow the scope

[2021-12-20 15:43] KatieWoe opened #119 "Build Failed status code 1"
[code]

[2021-12-20 22:40] KatieWoe commented on #119
[code]

[2021-12-27 23:13] jessegreenberg commented on #119
Error with the report-media task has been fixed. Ill look into the options keys issue next.

[2021-12-27 23:45] jessegreenberg commented on #119
Fixed with https://github.com/phetsims/bamboo/commit/70148cada3ea44551c4203564d278aba31f58d65

[2021-12-27 23:45] #119 closed

[2021-12-31 00:10] jbphet opened #120 "Consider using a CanvasNode to render the photons in the 2nd and 3rd screens"
I had been planning to create a `CanvasNode` to render the photons, but I just built a [dev version](https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.5/phet/greenhouse-effect_en_phet.html?profiler) and profiled it, and it's running at 60 fps on my machine and on my iPad 4, so I'm not sure that a `CanvasNode` is needed.  I think I'll move on to other priorities for now, and revisit th

[2022-01-04 20:58] Ashton-Morris commented on #101
I have added three options to try for this.

- re-emission-option-1.mp3
- re-emission-option-2.mp3
- re-emission-option-3.mp3

[2022-01-05 21:28] arouinfar commented on #114
@jessegreenberg @jbphet this looks good on the Waves screen, but it should apply to the Photons and Layer Model screens too.

[2022-01-06 17:38] jessegreenberg commented on #114
It looks like we haven't set a `pdomOrder` at all for the other screens yet.

[2022-01-06 17:50] jessegreenberg commented on #114
I thought about adding the `pdomOrder` but the other screens are missing components, but some UI is missing for those screens and the pdomOrder would be largely duplicated. I wouldn't be surprised if a supertype ScreenView is created to combine common components that are shared between them. I would suggest holding off on this until we start description on the next screens and have all UI componen

[2022-01-06 20:03] arouinfar commented on #114
Yep, sounds good @jessegreenberg. I think we can close this one again.

[2022-01-06 20:03] #114 closed

[2022-01-08 00:14] jbphet opened #121 "Check the blackbody temperatures that are currently being shown on the Layer Model screen"
In the 1/6/2022 design meeting I demonstrated the temperature changes that occur on the Layer Model screen when the amount of sun and the reflectivity (albedo) of the Earth are changed.  @kathy-phet requested that I verify that the values that are being shown by comparing them to calculations made using the Stefan-Boltzmann law.

[2022-01-11 20:57] jbphet opened #122 "Add artwork to make the perspective more obvious"
The landscape window in the sim currently looks like this (the "Photons" screen is shown here, but it is quite similar in the "Waves" screen):

![image](https://user-images.githubusercontent.com/3082831/149019499-37676acb-ba45-49b7-ad31-d9d7ea9a63ee.png)

While it's somewhat clear that we're seeing the ground at the bottom of the observation window, it can still sometimes look like the photons are

[2022-01-11 20:57] jbphet commented on #122
Assigning to @Ashton-Morris to create an image or two (or more) to try out.

[2022-01-12 20:11] jbphet commented on #122
This issue was discussed in the weekly design meeting on 1/12/2022, and @arouinfar mentioned that we already have a graphic artist working on art for this sim.  For consistency, it would probably be better to have one artist doing all of it.  I'll unassign this from @Ashton-Morris and have @arouinfar take it over so that she can work with the artist on this.

[2022-01-13 21:58] jbphet opened #123 "Fix the enumeration usages to use the newly-standardized approach for TypeScript"
In https://github.com/phetsims/chipper/issues/1106 we established a pattern for how to do enumerations in TypeScript (TS).  This sim was converted to TS before we had a standardized approach, so I glossed over all enumerations by using the `any` type and the `ts-ignore` directive.  I should now go back and fix those up.

[2022-01-14 21:45] jbphet opened #124 "Add some reflectance for the Waves and Photons screens"
As of this writing, the ground in the _Waves_ and the _Photons_ screens do not reflect any of the incumbent sunlight.  In the 1/12/2022 design meeting, we collectively decided that this could be a bit misleading to students, especially in the _Photons_ screen, so we should in fact have some light being reflected.  We also decided that, at least for now, we would depict this reflection in the _Phot

[2022-01-14 21:47] jbphet commented on #124
I came across this table online at https://www.sciencedirect.com/topics/engineering/albedo, and it may be useful for us to reference as we work through this:

![image](https://user-images.githubusercontent.com/3082831/149589522-476e2333-bb74-47a6-9cb9-9205dadd9397.png)

I'll use a value of 0.15 initially, since that's in the middle of the "Green Meadow" value, which is what the view currently look

[2022-01-17 16:43] jbphet commented on #124
This has been added, and I'll review the behavior with the design team at the next design meeting.

[2022-01-17 20:33] jbphet commented on #121
The Stefan-Boltzmann equation is generally written as j<sup>*</sup> = σT<sup>4</sup>, where j<sup>*</sup> is the black-body radiant emittance, σ is the Stefan-Boltzmann constant, and T is the temperature.  In our model, when the surface is is radiative balance with the sun and there is no additional radiation coming back from the atmosphere, the amount of energy being radiated by the ground should

[2022-01-18 17:39] jbphet commented on #103
Superseded by #123.  Closing.

[2022-01-18 17:39] #103 closed

[2022-01-18 20:15] jbphet commented on #101
We have a new sound for photon re-emission from the atmosphere in place, including some variation, and it was presented to the design team last week and it was approved.  Since the previous decision was to only have a sound for atmospheric re-emission, and not for everything else (since it's just too chaotic), the only thing remaining is to clean up the prototype code and finalize the code for the

[2022-01-19 22:18] jbphet commented on #121
In today's design meeting, @kathy-phet said that I should go ahead and make the Layer Model screen work as a blackbody and assume no atmosphere, so the temperature with zero albedo should be 279 K.  The _Waves_ and _Photons_ screens should use the same value for the sun's energy, and we can adjust the albedos and gas concentration levels for the various dates to get the desired behavior.

[2022-01-19 22:19] jbphet commented on #124
At today's design meeting, we decided that overall we should model the Earth as a blackbody in the Layers Screen (see https://github.com/phetsims/greenhouse-effect/issues/121 for more on this discussion), that the ground should reflect 20% of incident light on its own, and adding the cloud should increase the overall reflectance to a total of 30%.

[2022-01-19 22:43] jessegreenberg opened #125 "Remove the "Flux Meter" checkbox from the waves screen"
When a refactor was done to consolidate things into the LayersModel, it added the flux meter checkbox to the Waves screen because the control panel actually checks for the existence of a Property on the model to add the checkbox to the view. That kind of thing isn't allowed with TypeScript! We need an explicit option to include or exclude this checkbox.

[2022-01-20 15:55] KatieWoe opened #126 "CT required tandems must be supplied"
[code]

[2022-01-20 15:59] jessegreenberg commented on #126
This is probably caused by my change in #125, Ill take a look.

[2022-01-20 16:05] jessegreenberg opened #127 "Date concentrations are all described as "high levels of greenhouse gases""
Concentration in this sim is modelled by a value form 0 to 1. When the value is 0, concentration is described as "no greenhouse gases". At 1, concentration is described as "max levels of greenhouse gases". The range is then divided evenly into steps along descriptions for "very low", "low", "moderate", "high", and "very high".

A potential issue is that date concentrations are in a small range of

[2022-01-20 16:13] jessegreenberg opened #128 "Update ranges for comparative greenhouse gas concentration descriptions when controlling by date"
The design doc has these to generate a description like

<html>
<body>
<b style="font-weight:normal;" id="docs-internal-guid-634e0716-7fff-6a0d-8af6-e8b02619e5d7"><div dir="ltr" style="margin-left:0pt;" align="left">

Difference in ConcentrationProperty | Increase | Decrease
-- | -- | --
[0, 0.05] | higher | lower
(0.05, 0.15] | much higher | much lower
(0.15, 1] | vastly higher | vastly lower

</

[2022-01-20 16:19] jessegreenberg commented on #97
We have been working on these descriptions time from the design document and not all commits are captured here. I don't think this issue is worth keeping, closing.

[2022-01-20 16:19] #97 closed

[2022-01-20 21:55] jbphet commented on #121
I've made the modifications described in the previous comment, and it all works quite well, which is good.  However, there is a bit of what I imagine is an unanticipated consequence of this change.  Since we are now relying on the cloud for 10% of the albedo of the Earth, and the ground for the other 20%, the Earth gets quite a bit warmer than the "target temperatures" for each of the dates in dat

[2022-01-24 18:41] jbphet commented on #36
The soundscape has been in a state to support interviews on the "Waves" screen for a while, though I don't think they've happened.  I think it's time to close this issue and do any other work, such as refinements to support other screens and modifications due to feedback from interviews, in other GitHub issues.  Closing.

[2022-01-24 18:41] #36 closed

[2022-01-26 18:44] jessegreenberg opened #129 "Rename GasConcentrationAlerter"
This alerter has grown to be much more than just for gas concentration, it is responsible for most alerts in the waves screen. It should be renamed accordingly.

[2022-01-26 19:52] Nancy-Salpepi commented on #100
Sorry this issue slipped through the cracks.
This RC version of the sim as well as the prototype version successfully load using MacOS Catalina + safari 15. The PhET-iO standalone sim and studio version also launch without issue. As expected, there is no sound.

[2022-01-26 19:52] #100 closed

[2022-01-26 23:56] jbphet opened #130 "Review interactive description for the "Waves" screen"
@jessegreenberg and I have completed the first round of the description implementation for the Waves screen as specified in the [Interactive Description Design document](https://docs.google.com/document/d/1HWVypTlzM5oSUhhcv7gPdx1sSCs0j-xgIF3lbSgzwAQ/edit).  This would be a good time for the designers to test it, review it, and provide feedback.  I've published a dev version at https://phet-dev.col

[2022-02-02 22:10] jbphet commented on #120
Undeferring.  I recently added the "more photons" feature, which (not surprisingly) involves having a bunch more photons being modeled and rendered in some circumstances.  I am sometimes noticing laggy behavior, so I need to profile and see whether improvement is needed.

The first step will be to publish a dev version.

Once that's done, my test procedure will be to launch the dev version (specif

[2022-02-02 22:51] jbphet commented on #120
Link to tested version: https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.7/phet/greenhouse-effect_en_phet.html

Test results:

| | Photons Screen FPS | Layer Model Screen FPS |
| ------------- | ------------- | ------------- |
| Dell XPS Chrome | 32.8  | 7.7 |
| Dell XPS Firefox | 11.9  | 5.0 |
| iPad  | 47.8 | 7.6 |

Note:
- I did not reload the sim between test, I simply reset the

[2022-02-03 00:46] jbphet commented on #120
For reference, here is a screenshot of the situation that needs to the worst-case performance:

![image](https://user-images.githubusercontent.com/3082831/152262276-044fceee-4f14-424d-aa02-40717b566569.png)

[2022-02-03 00:52] jbphet commented on #120
Over Slack, I asked @jonathanolson whether he recommended using `Sprites`, `CanvasNode`, or `WebGLNode` to improve the rendering of the photons.  Then I thought that it would be good to have the recommendation, and any Q&A that preceded it, in this issue.  Here is the question:

[2022-02-03 21:06] jbphet commented on #120
Sounds good to me.  I'll get it started on my own, following the example of Natural Selection, and get in touch when I've made a bit of progress.

[2022-02-16 17:14] jbphet commented on #101
This is now basically approved by the design team for the _Photons_ screen.  @Ashton-Morris and I discussed how to start on it for the _Layer Model_ screen, and decided to try the sound that is being used for IR emission from the atmosphere for IR emission from the layers.  Seems logical.  I'll add this and run it by the larger design team.

[2022-02-16 23:16] jbphet commented on #120
I've implemented the sprite-based rendering of the photons.  I haven't made any other optimizations, and I thought this would be a good point at which to test the performance again.  I'm not going to publish a new dev version, I'll just build locally and use it in conjunction with the test procedure described above.

| | Photons Screen Avg FPS | Layer Model Screen Avg FPS |
| ------------- | :----

[2022-02-21 16:03] arouinfar commented on #24
This issue can be rolled into #130, closing.

[2022-02-21 16:03] #24 closed

[2022-02-21 16:42] arouinfar commented on #121
We discussed this in the 1/26/22 design meeting and decided to always enable the cloud in date mode and hide the checkbox. The Waves screen currently behaves like this in master, however, the temperatures for the time periods are a ~0.2 degrees off of the [spec](https://docs.google.com/document/d/1rsAHW3hP58FaXbRctqI_ovuvL6CKbCVGlh8Cf3ralpw/edit#heading=h.ofraczijzo4w) so it seems like the concent

[2022-02-21 18:55] zepumph commented on #46
A fix has been pushed over in [phetsims/scenery#1312 (comment)](https://github.com/phetsims/scenery/issues/1312#issuecomment-1047142324), next steps for this issue are to make sure it is being tested on CT in the state wrapper. This will ensure we got the fix correct.

While testing for the fix, I noticed some other state issues, so please test fuzzing the state wrapper locally also.

[2022-02-22 20:11] jbphet opened #131 "Add sounds for sliders in the Layer Model screen"
We created a custom sound for the slider in the first two screens that controls the greenhouse gas concentration.  @Ashton-Morris and I were talking during today's sound design meeting about what to do for the sliders on the Layer Model screen, and he'd like to think about some possibilities for custom sounds for these as well.  Here is a screenshot of the sliders as they currently look on this sc

[2022-02-23 18:04] jbphet commented on #101
The sounds for the Layer Model have been added, I'll review with the design team at next meeting.

[2022-02-24 04:56] arouinfar opened #132 "Shorten surface temperature responsive description"
For #130

Currently, this phrase repeats every 2 seconds so long as the temperature has increased by at least 0.1 K:

This phrase quickly becomes very repetitive with a screen reader, so we propose these changes:

* - [x] Increase the spacing between the statements to every 4 seconds.
* - [x] When the `concentrationProperty` changes, state the full phrase.
  * Surface temperature {{cooling}}, now

[2022-02-24 05:07] arouinfar opened #133 ""Gasses" should be "Gases""
For #130

The plural of "gas" is "gases", but I found a few instances of "gasses" in the state descriptions:
* "Currently" statement in the Scene Summary
* Greenhouse Gas Concentration slider value
* 2nd bullet under Observation Window

[2022-02-24 05:31] arouinfar opened #134 "Remove "Surface temperature stabilizing.""
For #130

When switching between the Explore Mode radio buttons, there is a context response that says, "Surface temperature stabilizing." Originally, we intended this statement to let users know that the system was equilibrating, not realizing that all of the other context responses would also get triggered. For example, this is what a user hears when switching between modes:

**Surface temperatu

[2022-03-01 20:32] Ashton-Morris commented on #131
We reviewed a number of directions in our March 1st Sound Design meeting. Here are the directions we decided to continue in and experiment further with.

**Solar Intensity:** I showed sound that gets less filtered as the slider goes up in intensity. I'll pick a few sounds that I think might work and also copy the specs of how the filter was implemented to test.

**Surface Albedo:** I showed a soun

[2022-03-02 17:09] jessegreenberg commented on #133
Thanks @arouinfar, this has been fixed throughout including in variables and documentation. I actually thought it was "gasses" 😆

[2022-03-02 17:09] #133 closed

[2022-03-02 17:17] jessegreenberg commented on #134
This alert has been removed. I think this was the only usage of this string so I removed it entirely. @arouinfar @Matthew-Moore240 reassigning to you to review or close.

[2022-03-02 17:31] jessegreenberg commented on #132
Sounds good. I am assuming that we just forever hear "Cooling" or "Warming" if the surface thermometer is invisible.

[2022-03-02 17:46] arouinfar commented on #132
Correct! Similarly, the first response should be "Surface temperature {{warming/cooling}}."

[2022-03-02 17:53] arouinfar commented on #134
Thanks @jessegreenberg, looks good in master. Closing.

[2022-03-02 17:53] #134 closed

[2022-03-02 20:08] jessegreenberg commented on #132
OK these changes are done. I made one other adjustment - In the current implementation nothing is spoken immediately after the concentration changes, it just waits until the next interval to speak content. So increasing the spacing to 4 seconds meant that you would change the concentration and then ~4 seconds later hear

I made it so that whenever you change the concentration you hear alerts withi

[2022-03-02 20:11] jessegreenberg commented on #129
I thought about doing this but decided to wait until we start to work on description in the other screens, it isn't clear how components of the current alerter will be reused for other screens yet. We will rename/reorganize when we have time.

[2022-03-09 18:02] jbphet commented on #101
I'm going to defer this for a while, since I've been asked to focus on things other than the development of this sim for a while.  I'll un-defer when I'm focused on this again.

[2022-03-09 18:51] jbphet commented on #46
@zepumph - I need a bit of clarification to help me figure out what the next steps are on this issue.  One thing you said was:

Do I need to turn on this testing?  If so, how is that done?  I just looked around in the code and found the file `phet-io-state-unsupported` that looks like it contains a list of sims for which state is unsupported, and it looks like this feeds into CT.  But greenhouse-e

[2022-03-09 19:45] zepumph commented on #46
I see it here: https://github.com/phetsims/perennial/blob/d972159f0e77099bebb3b4ee1ab449fe422d02cb/data/phet-io-state-unsupported#L13

So what I was noting in this issue, is that although the original assertion is in all likelihood fixed, the state wrapper has other bugs in it that prevent me from knowing 100% that this original bug report is solved. Until greenhouse is removed from phet-io-state-

[2022-03-09 23:13] jessegreenberg opened #135 "Add a delay between scene descriptions when date changes"
Discussed today in a design meeting. @arouinfar and @Matthew-Moore240 mentioned that each time a new date radio button is pressed we hear the new scene description and a description of how the concentration changed. If you rapidly cycle through radio buttons with a keyboard you hear a rapid fire spam of this content.

We can use utterance-queue and `Utterance.alertStableDelay` to improve this.

A

[2022-03-09 23:23] jessegreenberg commented on #135
Change was made in the above commit. It waits 500 ms before speaking the date change responses in the UtteranceQueue. That value can be modified, but it feels pretty reasonable to me.

@arouinfar @Matthew-Moore240 over to you to try it out.

[2022-03-14 23:21] pixelzoom opened #136 "tsc failure in PhotonSprites.ts"
Introduced by @jonathanolson in 7a1e7c0b.  Not sure how it got past commit hooks.  But it's failing loudly and polluting my tsc output.

[2022-03-14 23:23] pixelzoom commented on #136
I added a `// ts-ignore` and a TODO in the above commits.

[2022-03-15 15:36] arouinfar opened #137 "Adjust threshold for equilibrium"
Related to #130

The equilibrium statements seem to occur about ~0.1* early. There is a threshold to define equilibrium, which can be tuned. Self-assigning to investigate and make a recommendation.

[2022-03-15 16:53] pixelzoom commented on #136
No errors after a pull-all.sh.  Thanks for investigating. Closing.

[2022-03-15 16:53] #136 closed

[2022-03-15 19:27] jbphet commented on #131
@emily-phet also suggested trying to vary the sound as the layers are added via the number spinner to match the absorbance slider sound.  In other words, when a new layer with high absorbance is added, it sound different than when a new layer is added with low absorbance.

[2022-03-15 20:31] Ashton-Morris commented on #131
[I have uploaded a base sound for the layer model sliders to test.](https://drive.google.com/file/d/1POBTdgEbS_uyiC7B3cRP56R6IqvQ1dkC/view?usp=sharing)

[2022-03-15 21:03] Ashton-Morris commented on #131
Here is a video mock up of how the layer sound would be effected by each sliders interaction. @jbphet @emily-phet

[greenhouse-effect-surface-layer-model-slider-sounds-mock-ups.m4v](
https://drive.google.com/file/d/1E2mGwLLLIfqHq2VAkb1hDehdYgh0LbjE/view?usp=sharing)

[2022-03-15 21:09] emily-phet commented on #131
Regarding

I like it! Having all variations on a single sound puts emphasis on what's different between them, which I like. Since each sliders' sound characteristics are different, I think balancing the sounds across each other and their full span could be tricky, but I'm certain @Ashton-Morris and @jbphet can do it!
For example, in the demo, the surface albedo sounds a lot louder than the other s

[2022-03-15 21:33] Ashton-Morris commented on #131
That is accurate, I did not spend much time mixing and getting the levels right so some are louder or uneven in the mockup. We can work on that in the sim!

[2022-03-21 16:07] KatieWoe opened #138 "CT Unloaded frame before complete, window.location probably changed"
[code]

[2022-03-22 20:13] jbphet commented on #131
I added the base sound to the sliders and the number-of-layers control so that we could review the sound in context this week.  This was done without the variations on the sounds, such as the filters and echoes.  We just reviewed this during this week's sound design meeting, and here are the next steps:

- @Ashton-Morris will "thicken" the sound used for the middle thresholds in the sliders, @jbph

[2022-03-22 20:49] Ashton-Morris commented on #131
I have uploaded these sounds for the layers screen.

- greenhouse-effect-surface-layer-model-absorbing-layers-1.mp3
- greenhouse-effect-surface-layer-model-absorbing-layers-2.mp3
- greenhouse-effect-surface-layer-model-absorbing-layers-3.mp3

And also this sound

- greenhouse-effect-surface-layer-model-base-slider-sound-v2.mp3

[2022-03-29 15:33] Ashton-Morris commented on #131
Adding these sounds that I forgot to for the Infrared Absorbance slider.

How this slider works is that it fades between max volume of
[greenhouse-effect-surface-layer-model-base-slider-sound-v2-pass-through.mp3](https://drive.google.com/file/d/1aTo1Njs7zkclfHUu7IngqDrk1x1oHb8E/view?usp=sharing)

And the max volume of this file
[greenhouse-effect-surface-layer-model-base-slider-sound-v2-filtered.m

[2022-03-29 22:04] arouinfar commented on #128
Desired description:
* 2020 is higher than 1950/1750 and vastly higher than Ice Age
* 1950 is lower than 2020, higher than 1750, and much higher than Ice Age
* 1750 is lower than 2020/1950 and much higher than Ice Age
* Ice Age is vastly lower than 2020 and much lower than 1950/1750.

Current Data:
| Time Period | `concentrationProperty` |
| --- | --- |
| 2020 | 0.75 |
| 1950 | 0.724 |
| 1750 | 0.

[2022-03-29 22:27] arouinfar commented on #127
There aren't any explicit mentions of quantitative greenhouse gas levels at a particular time period and the slider covers a much wider range than the Time Period scene. So in principle, it's acceptable for time periods to fall within the same range. That said, I think there could be more granularity in how we are describing the range. @Matthew-Moore240 and I re-worked the ranges in https://docs.g

[2022-03-29 22:29] arouinfar opened #139 "Adjust size of keyboard slider step"
Related to #130

With the updates to the ranges made in #127, I'd like to also update the keyboard step sizes for the greenhouse gas concentration slider.

- [x] Standard step: 0.05
- [x] Shift step: 0.01
- [x] Page up/down step: 0.20

[2022-03-29 22:36] arouinfar opened #140 "Update Time Period and Explore Mode help text"
Related to #130

The primary goal of the Time Period mode is to compare the various time periods, and we'd like to make that clearer in the help text.

@jessegreenberg @jbphet please make these updates to the help text:
- [x] Time Period RadioButtonGroup: Compare greenhouse gas levels at different time periods.
- [x] Explore Mode RadioButtonGroup: Directly set the concentration or compare time per

[2022-03-29 22:42] arouinfar opened #141 "Remove "in the atomsphere" from some responsive descriptions"
Related to #130.

For the sake of brevity, there are few places where we can cut out "in the atmosphere" from the responsive descriptions. The atmosphere is referred to elsewhere, and I don't think there is loss of clarity.

Please remove "in the atmosphere" from:
- [x] Greenhouse Gas Concentration slider aria-valuetext
- [x] Context responses when switching between Explore Mode radio buttons: "No

[2022-03-29 22:46] arouinfar commented on #135
@jessegreenberg I think the buffer really helps with the pile-up of responses. I think 500 ms is a reasonable amount of time. Long enough to alleviate the pile-up, but not so long that there's a noticeable lag.

Screen reader users can key through the radio buttons without actually changing its value, similar to how they access other state descriptions, so this is unlikely to be an issue.

[2022-03-29 22:51] arouinfar commented on #127
Tagging #130

[2022-03-29 22:52] arouinfar commented on #128
Tagging #130

[2022-03-30 16:23] jbphet commented on #131
I integrated the sounds discussed above and the sound design reviewed them at our 3/29/2022 meeting.  Most everything was approved, but we all felt that the sounds for the layers coming and going rang out for a bit too long, so @Ashton-Morris is going to try shortening these sounds.

[2022-04-01 17:27] jessegreenberg commented on #139
This was done as part of #127, over to you to verify @arouinfar.

[2022-04-01 17:29] jessegreenberg commented on #127
This was done, can you please review @arouinfar?

@jbphet just pinging you in case you want to review the description code. The only tricky part was the "inclusive"/"exclusive" request in the design doc for deciding which description string to use.

[2022-04-01 17:35] jessegreenberg commented on #132
Good catch, thanks @arouinfar. Added in the above commit. CLosing.

[2022-04-01 17:35] #132 closed

[2022-04-01 17:42] jessegreenberg commented on #140
I just updated these strings. "explore by time period..." also appears in the screen summary, are you trying to replace all of these to compare? Should that be changed too?

![image](https://user-images.githubusercontent.com/6396244/161314446-23ff29f4-26c8-4ddc-bcbf-dd1873222a97.png)

[2022-04-01 18:27] jessegreenberg commented on #141
Trying to understand how changing string patterns with this phrase will impact other descriptions...

It appears one place in a pattern that is used in one function called `getConcentrationDescriptionWithValue`. It is used for
- The screen summary.
- The slider `aria-valuetext`
- The description of the observation window.

It appears in a string pattern used in a function called `getCurrentConcent

[2022-04-01 18:32] jessegreenberg commented on #128
I updated the ranges as described in the last table, back to @arouinfar to review.

[2022-04-01 18:58] jessegreenberg commented on #141
OK done in the above commit. I added an option to the `getConcentrationDescriptionWithValue` function so that we can decide whether or not to include "in atmorsphere" in each place.

@arouinfar back to you to review.

[2022-04-04 17:26] arouinfar commented on #140
Thanks @jessegreenberg! I think we can continue to use the "explore" language in the Scene Summary since it's essentially a reference to the Explore Mode RadioButtonGroup. I reviewed the updated help text in master, and the changes look good, so closing.

[2022-04-04 17:26] #140 closed

[2022-04-04 17:28] arouinfar commented on #139
Thanks @jessegreenberg, looks good in master.

[2022-04-04 17:28] #139 closed

[2022-04-04 17:29] arouinfar commented on #128
Thanks @jessegreenberg, looks good in master!

[2022-04-04 17:29] #128 closed

[2022-04-04 17:41] arouinfar commented on #127
Thanks @jessegreenberg! The behavior looks good in master. I'll re-assign to @jbphet so he has a chance to review the code, if desired.

In case it's useful for future comparison, here is what the greenhouse gas concentration values look like when increasing the slider with the default step, starting from None:
1. Extremely low
2. Very low
3. Very low
4. Very low
5. Very low
6. Low
7. Low
8. Low
9

[2022-04-04 18:17] arouinfar commented on #141
Thanks for adding the option @jessegreenberg. I took a spin in master and the updated descriptions look good.

[2022-04-04 18:17] #141 closed

[2022-04-06 17:25] Ashton-Morris commented on #131
I have uploaded these sounds which are shorter in length.

- greenhouse-effect-surface-layer-model-absorbing-layers-1-v2.mp3
- greenhouse-effect-surface-layer-model-absorbing-layers-2-v2.mp3
- greenhouse-effect-surface-layer-model-absorbing-layers-3-v2.mp3

[2022-04-07 03:43] arouinfar opened #142 "Rearranging H3: Observation Window"
Discussed with @jessegreenberg @jbphet and @Matthew-Moore240 in the 4/6/22 design meeting.

The list under H3: Observation Window should be more forefronted. Previously, it was further up, but that put the Temperature Units ComboBox and Energy Balance Checkbox too early in the focus order. We ended up factoring out the Start Sunlight Button and putting it on its own at the top of the Play Area. Se

[2022-04-12 18:41] jbphet commented on #131
@Ashton-Morris - I've integrated these sounds, and renamed them as follows in the codebase:

- oneAborbingLayer.mp3
- twoAborbingLayers.mp3
- threeAborbingLayers.mp3

[2022-04-12 19:20] jbphet commented on #131
@Ashton-Morris and I reviewed this change at today's sound design meeting, and we both think it sounds pretty good.  That's the last item for this issue, so we will check the whole sound design for this screen with @emily-phet next week, and I may run it by the rest of the design team as well.

[2022-04-13 14:27] jessegreenberg commented on #142
OK, order has been changed. @arouinfar @Matthew-Moore240 can you please review?

To keep existing order it goes surface thermometer -> energy balance checkbox -> cloud checkbox, just wanted to confirm this part in particular as you review.

[2022-04-15 23:25] jbphet commented on #127
Code changes look reasonable to me.  Closing.

[2022-04-15 23:25] #127 closed

[2022-04-15 23:42] jbphet commented on #46
I took a little time today to see if I could resolve the errors that this sim is encountering when running the state wrapper test.  Unfortunately, the first problem it hit in each of my test runs was a general problem described in https://github.com/phetsims/phet-io/issues/1858, so I think I'm out of luck for working on this at the moment.

I'm going to defer this issue for a while, and will take

[2022-04-16 00:37] jessegreenberg commented on #46
Sorry about that. We expect https://github.com/phetsims/phet-io/issues/1858 to be fixed now.

[2022-04-19 19:43] jbphet opened #143 "Add sonification for the energy balance indicator"
The energy balance indicator could potentially be sonified.  In the 4/19/2022 design meeting, we decided to try some things, see how they worked out, and decide whether to keep and refine them or abort.

At this point, we're thinking that we will focus on adding sounds to represent the net value and, for now, ignore the separate "In" and "Out" indications.  We can have a core sound that pitches up

[2022-04-19 20:24] jbphet commented on #131
We reviewed the layers coming-and-going sound with @emily-phet at this week's sound design meeting and she is good with them.  I'll run them by the larger design team this week.

[2022-04-21 23:32] jbphet commented on #131
We didn't get the time to review these sounds in the most recent Greenhouse Effect design meeting, so I said I'd publish a dev version so that @arouinfar and @Matthew-Moore240 could review it asynchronously.  I've published a version, it can be found at https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.8/phet/greenhouse-effect_en_phet.html.

@arouinfar and @Matthew-Moore240 - We're lo

[2022-04-21 23:46] zepumph opened #144 "stepModel is protected"
From https://github.com/phetsims/chipper/issues/1237, but I see

https://github.com/phetsims/greenhouse-effect/blob/fe4c2a6ad767044d0c71cd0c41c1ce90681a0593/js/common/view/LayersModelTimeControlNode.ts#L25

I ts-ignored until we can figure it out.

[2022-04-22 18:49] arouinfar commented on #131
Thanks @jbphet! I passed on the link to Mark and @Matthew-Moore240 and I will review in our next meeting.

[2022-04-22 19:20] jbphet commented on #144
I went ahead and made `stepModel` public and added some header documentation that said calling `step` is generally preferred.  My thinking was that the use case where this was being called outside of the class and descendants thereof seemed legit, so making it public is reasonable.  Closing.

[2022-04-22 19:20] #144 closed

[2022-04-27 18:39] jbphet commented on #137
I have adjusted the default values to the ones that @arouinfar recommended above.  I'm reluctant to remove the query parameters at this time, since it's possible that more refinement might be necessary before the sim is published, so I have left them in place and marked them with `TODO`s, and will pull them into the code when we are closer to publication.  Deferring for now.

[2022-04-27 19:37] Matthew-Moore240 commented on #131
Notes for the sounds:
1. The number spinner sound effect is very good
2. All the sliders seem to cut themselves off
3. The surface albedo sound effect has an echo or reverb effect to it that makes it sound like it crackles a little bit
4. The number spinner will still play a sound effect even if you are at 0 - 4 and are still trying to move up or down when at 0 - 4

[2022-04-27 19:48] jbphet opened #145 "Sliders should snap to ticks on Layer Model screen"
All sliders on the Layer Model screen should snap to their tick marks as currently defined.

Arrow keys and shift-arrow keys should both move one tick (so there would be no difference between the two).

Page Up and Page Down should go to the major ticks on the first slider.  On the other sliders they should go two ticks.

[2022-04-27 20:13] jbphet commented on #131
Notes from the review meeting with the rest of the design team:

- apply the filter to the end sounds on the Solar Intensity slider
- try reverb instead of delay for the albedo slider, and apply it to the end sounds as well
- the sounds in the upper range of the IR absorbance slider sound a bit "clipped".  What about essentially doing the inverse of the Solar Intensity slider?  We could maybe user

[2022-04-27 20:18] jbphet opened #146 "Review the thermometer range for the Waves and Photons screens"
We recently made some changes to the thermometer behavior in the Layer Model screen, decoupling it from the first two screens, since it allows for a much higher temperature range.  In the course of that, there was some discussion about revisiting the first two.  Let's review those and make sure the behavior is what we're after.

[2022-05-06 23:15] jbphet commented on #145
Done.  Note that we wrote in the comment above (based on what was said in the review meeting) "Page Up and Page Down should go to the major ticks on the first slider".  Strictly speaking, it's not very easy to do this in some cases, such as when the user has positioned the slider on one of the minor ticks.  This is because the options only allow me to specify the amount of the change with no other

[2022-05-06 23:45] jbphet opened #147 "Remove options dialog prior to publication"
As of this writing there is an "Options..." dialog in the sim that has been used to test out various sound possibilities.  I think we are pretty much done with it, but I don't want to fully remove it in case it is needed again before we're done with the initial implementation.  This issue is to remind us to remove it.

I'll defer it for now, and will plan to address it when we are closer to public

[2022-05-07 00:03] jbphet commented on #46
After the fix the @jessegreenberg described above (thanks!) I tested and found that errors were being encountered in the "Options" dialog.  I fixed these by opting a lot of the controls in this dialog out of registration, since it's temporary anyway.  After this I was able to run fuzz testing on the state wrapper for 10 minutes without any issues, so I have removed the sim from the list of those t

[2022-05-09 19:25] jbphet commented on #104
Update: I'm going to continue to defer this a while longer.  At the moment, the other code has been converted to TS, but there are a number of things still to be done, such as converting all of the enumerations and options patterns.  Once this is all done, we can start to consider converting this code.

[2022-05-11 20:13] jessegreenberg opened #148 "Add observation window components to the navigation order before sunlight starts"
A change was made recently to make the components of the observation window interactive before the "start sunlight" button is pressed. These components were removed form the traversal order specifically because they weren't interactive. Lets add them back in to the traversal order.

[2022-05-12 20:13] jbphet commented on #131
With respect to the item in the comment above that says:

@emily-phet requested that I ask about this on the a11y-dev Slack channel.  I did, and it resulted in a discussion and subsequent design meeting that just concluded.  In that meeting, we decided to implement the behavior where attempts to go beyond the min/max values using keyboard nav would result in no sound, but also that some further in

[2022-05-12 22:43] jbphet commented on #143
I discussed this with @kathy-phet and @arouinfar at the weekly design meeting for this sim, and they are of the mind that we shouldn't spend time implementing sound for this indicator right now, and should revisit later in the implementation process.  They have concerns about having too many layered sounds, even with ducking.  I'll defer this for now and will revive it later.

[2022-05-13 16:37] Ashton-Morris commented on #131
We talked about trying a few impulse responses to add reverb to the albedo slider. [So I am adding a few in this folder to test out. ](https://drive.google.com/drive/folders/18OqcP6Fes50DO2wKTcs480T773J6BXbm?usp=sharing)

- IR_Response_Large_Room.wav
- IR_Response_Small_Room.wav

[2022-05-16 20:35] arouinfar commented on #146
Looks like the first tick mark on the thermometer coincides with 245 K, which is the temp before sunlight is turned on (all good). The thermometer appears to max out around 300 K, but if you remove the cloud the true max is just shy of 310 K. @jbphet let's increase the thermometer max to 310 K.

|Greenhouse Gas Concentration | Cloud | Temp |
| --- | --- | --- |
| Max | Off |  <img height=200 alt="

[2022-05-16 21:30] arouinfar commented on #145
Thanks @jbphet looks good in master.

[2022-05-16 21:30] #145 closed

[2022-05-16 21:57] arouinfar opened #149 "Updates to temperature units ComboBox descriptions"
For #130

Currently, the accessible name of the ComboBox includes its value. This matches the behavior of other described ComboBoxes, such as the Solute ComboBox in Molarity. However, the surface temperature is dynamic, so including it in the accessible name of the ComboBox becomes problematic. If a user focuses on the ComboBox while the surface temperature is changing, there is an avalanche of in

[2022-05-17 19:20] jbphet commented on #131
We discussed the comment above that says,

I'll try just doing the inverse to start with, then will review with the sound design team and we can decide if we want a different core sound.

[2022-05-17 19:26] jbphet commented on #143
@emily-phet, @Ashton-Morris, and I discussed this at today's sound design meeting, and @emily-phet suggested that we continue with the sound design for this but have it under the "Extra Sounds" control in the preferences dialog.

[2022-05-17 19:29] jbphet commented on #143
@Ashton-Morris - Please provide me with the 'blip' sounds (the ones used in the GHE_Energy_Balance_Mockup_Tempo_Blips.m4v mockup) and I'll integrate them.

[2022-05-17 19:46] jbphet commented on #131
I tried the large room IR above, and the effect is a little too subtle.  @Ashton-Morris is going to see if he can find a longer impulse response that we could try instead.

[2022-05-17 21:13] jbphet commented on #131
I made the sound generator for IR absorbance act basically like the inverse of the solar intensity generator, but it felt a little off to me since one has to to with the visible light and the other IR light.  I tried lowering the base sound by one musical step, and thought it sounded better.  We should review this in our next sound design meeting.

[2022-05-17 22:51] arouinfar opened #150 "Updates to Explore Mode RadioButtonGroup responsive descriptions"
For #130

Currently, when switching between the Explore Mode radio buttons, this is read out:
Now {{value}} levels of greenhouse gases.

This is problematic when switching to the time period mode, so we would like to instead state that the concentration is simply higher or lower:
Now {{higher/lower}} levels of greenhouse gases.

When switching back to the slider mode, the response will state the c

[2022-05-17 22:57] arouinfar opened #151 "Describe time period scenes in Observation Window bulleted list"
For #130

Currently, the 2nd bullet point under the Observation Window states the greenhouse gas levels. This is quite awkward when in time period mode, “Ice age levels of greenhouse gases in atmosphere.”

In a recent design meeting we decided to describe the time period using the same description found in the "Currently" statement of the Scene Summary. Please change the 2nd bullet to:
- [ ] The t

[2022-05-17 22:58] arouinfar opened #152 "Use “significantly” instead of “vastly” in comparative greenhouse gas concentration descriptions"
For #130

When switching between 2020 and the Ice Age, we say that the greenhouse gas levels are “vastly lower/higher”. The team prefers describing the difference as  “significantly higher/lower”.

@jessegreenberg @jbphet please swap out “vastly” for “significantly” in comparative greenhouse gas concentration descriptions.

[2022-05-17 22:59] arouinfar opened #153 "Update qualitative descriptions of surface temperature for time periods"
For #130

When the Show Surface Temperature checkbox is on, we a provide qualitative temperature in the equilibrium statement ( “Surface temperature stable and very high.”) and in the bulleted list in the Observation Window (“The surface temperature is very high.”).

In a recent design meeting we decided to describe the temperatures has “historically” high, low, etc. @jbphet @jessegreenberg please

[2022-05-18 20:39] jbphet commented on #153
This has been implemented on master.  @arouinfar and/or @Matthew-Moore240 - Please check out the behavior on master and, if it looks good, feel free to close.  If not, please assign it back to me and @jessegreenberg with your feedback.

[2022-05-18 21:00] jbphet commented on #152
@arouinfar - This has been done on master, please check the behavior and close if it looks good.

[2022-05-18 21:45] jbphet commented on #151
I've implemented this.  In the process, I needed to decide between using the existing string and changing the capitalization and adding a new string.  I asked @jessegreenberg, and he said changing the capitalization of a string is okay for now and referenced the following commit:

https://github.com/phetsims/greenhouse-effect/blob/7eaec64e5ba6d59e5eb4c683f8ea2e5cf789b969/js/common/view/describers/

[2022-05-18 21:46] jbphet commented on #151
@arouinfar - I've implemented this, assuming I understood it correctly.  Please check it out on master.

Should we consider using the "historically high" terminology here as we've done in other places?  For example, should way say things like, "There are historically low levels of greenhouse gasses in the atmosphere."?

[2022-05-19 15:29] Ashton-Morris commented on #143
[Here is the file.](https://drive.google.com/file/d/1Mdttzefnr_1g0Temi7jwbfXX55Fur6ab/view?usp=sharing)

- ghe-energy-balance-indicator-blip.mp3

[2022-05-19 15:37] Ashton-Morris commented on #131
I added a longer IR response and assured that it was the appropriate volume/gain.

- IR_Response_Large_Hall.mp3
- IR_Response_Large_Hall.wav

[2022-05-20 16:25] jbphet commented on #150
Questions about this:
- When saying higher/lower, is that with respect to the previous setting in the manual mode?
- What should we do in the case where the manual mode is the same or very close to the value in the time-period mode?  Should there be a range in which the word "similar" is used instead of higher and lower?
- Should we consider using the recently added "historical" terminology instea

[2022-05-20 17:19] jessegreenberg commented on #149
Discussed with @arouinfar. The AT is going to read a default object response when it receives focus again, which will be the accessible name "Surface temperature {{units}}". We cannot prevent this. So we decided to append the new units value after units Property changes.

[2022-05-20 18:24] jbphet commented on #149
Changes implemented.  @arouinfar - please review the behavior on master.

[2022-05-20 18:39] arouinfar opened #154 "Update ranges for qualitative temperature description"
For #130

The descriptions of greenhouse gas concentration was updated in https://github.com/phetsims/greenhouse-effect/issues/127 to include extremely high/low. This change has made the qualitative temperature descriptions a bit out of sync, for example:
"Currently, **Low** levels of greenhouse gases in atmosphere. Earth's surface temperature is **somewhat high**, 271.1 Kelvin. "

I've updated th

[2022-05-20 18:47] arouinfar commented on #149
Thanks @jbphet @jessegreenberg sounds great in VO!

[2022-05-20 18:47] #149 closed

[2022-05-20 18:48] arouinfar commented on #150
Unassigning myself since we discussed this over zoom. Let me know if more questions pop up.

[2022-05-20 18:52] arouinfar commented on #152
Looks great, thanks!

[2022-05-20 18:52] #152 closed

[2022-05-20 18:55] arouinfar commented on #153
The behavior in master looks good @jbphet, thanks

[2022-05-20 18:55] #153 closed

[2022-05-20 19:07] arouinfar commented on #151
Oh, that's such a great question @jbphet. We follow a similar format in both the "Currently" statement in the Scene Summary and the first few bullets under the Observation Window. For example:

Scene Summary:

Observation Window:

However, we made the decision to describe what the scene looks like instead of the greenhouse gas levels before we landed on the "historically" language. I think we shou

[2022-05-20 19:22] arouinfar opened #155 ""Max" levels of greenhouse gases sounds awkward"
Related to #130

When the greenhouse gas concentration slider is at its max, we describe it as "max levels of greenhouse gases". This sounds odd to @jbphet because it could be interpreted as an inherent maximum to this value, not that you've reached the maximum allowed value in the simulation.

I agree that it's a bit awkward, but we are following a similar pattern used in Molarity, which also has

[2022-05-20 19:31] arouinfar opened #156 "Should IR redirected to surface be mapped to greenhouse gas levels?"
Related to #130

The Observation Window contains these statements:

The surface temperature (very low) is mapped to the intensity of the IR emitted from the surface (very low). Should we also map the greenhouse gas levels (low) to the amount of IR redirected to the surface (moderate)?

Currently, the amount of IR redirected is divided evenly between 5 levels - very low, low, moderate, high, very h

[2022-05-20 19:51] jbphet commented on #150
This is implemented on master.  @arouinfar - please take it for a test drive and close if it looks good.

[2022-05-20 20:29] jessegreenberg commented on #154
This was done in the above commit, can you please verify this is working correctly @arouinfar?

[2022-05-20 20:33] jessegreenberg commented on #148
This was done in the above commit.

[2022-05-20 20:33] #148 closed

[2022-05-20 21:22] jbphet commented on #146
Done.  @arouinfar - please check on master and close if it looks good.  The value of 310 still ends up with the thermometer almost entirely full, so we could go a little higher if you like.

[2022-05-20 23:33] jbphet commented on #121
@arouinfar - please review on master and see if the temperatures look good.

[2022-05-23 17:04] jessegreenberg opened #157 "Remove some `@ts-ignores`"
There are a few `@ts-ignores` in the sim currently that can be removed now that progress has been made on common code TS conversions.

[2022-05-23 17:17] jessegreenberg commented on #157
Many were removed, the only that remain are around prototype mockup code or for AudioParam. Closing.

[2022-05-23 17:17] #157 closed

[2022-05-23 17:18] jessegreenberg commented on #123
OK, EnumerationDeprecated has been removed from this sim. Many ts-ignores have been removed with this issue and with #157. Closing this issue, feel free to take a look at changes @jbphet.

[2022-05-23 18:06] arouinfar commented on #146
Thanks @jbphet. The thermometer appears to max out a bit before it actually does, so let's bump up the max a bit further to 320 K.

[2022-05-23 18:22] arouinfar commented on #154
Thanks @jessegreenberg. Looks great in master!

[2022-05-23 18:22] #154 closed

[2022-05-23 18:30] arouinfar commented on #150
Thanks @jbphet! I spent awhile trying to trigger the "unchanged" statement, but realized the `concentrationProperty` likely shifted to address the equilibrium temperature in #121 and there is no longer a correspondence between the dates and the values accessible to the slider. Anyway, the behavior in master looks good and behaves as expected (given updated concentrations), so closing.

[2022-05-23 18:30] #150 closed

[2022-05-24 20:33] jbphet commented on #131
I tried out `IR_Response_Large_Hall.mp3` and it's better, but now it feels like a bit too much to me, even when I turn the gain way down on the reverb effect.  @emily-phet thought so too when we checked it out in today's sound design meeting.  She described it as being a bit "ocean-y".  So, can we get something in between the large room and the large hall, like a small or medium hall?

If you want

[2022-05-24 22:00] arouinfar opened #158 "TimeControlNode on the Waves Screen"
The standard help text for the sim speeds RadioButtonGroup and the button group are:

These indicate that the description is adaptive to the state of the TimeControlNode. This is true for sims like Molecules and Light. However, this was not necessary for the Waves Screen, and the descriptions in Normal and Slow are exactly the same. We do not provide any additional information on step forward, eit

[2022-05-24 22:05] arouinfar opened #159 "Update Explore Mode RadioButtonGroup help text"
For #130

In a recent design meeting, we discussed the fact that the slider scale graphic is never described in the description. We decided that it didn't need its own heading or detailed description, but we could instead edit the Explore Mode RadioButtonGroup help text to convey the idea that the time periods span just a portion of the range available to the slider mode.

@jbphet @jessegreenberg

[2022-05-24 22:13] arouinfar opened #160 "Should reflection of sunlight due to glacier be decribed?"
For #130

@Matthew-Moore240 and I noticed that we never describe the reflection of the sunlight due to the glacier. This seems like an oversight and something that should be specifically called out, as we do for the cloud.

The Observation Window contains a bullet that says:

The second sentence could be modified to include information about the glacier:
* Cloud and glacier reflect some sunlight b

[2022-05-24 22:20] arouinfar opened #161 "Energy Balance reaches equilibrium before surface temperature"
For #130

I noticed that the Energy Balance sometimes reaches equilibrium before the surface temperature becomes stable. Here's a few examples from the activity log of responsive descriptions:

How is the Energy Balance response being triggered? Could we state it immediately after the "Surface temperature stable" response, instead?

[2022-05-24 22:22] arouinfar commented on #73
The glacier behavior has been looking good for awhile now, so I think we can go ahead and close this issue.

[2022-05-24 22:22] #73 closed

[2022-05-24 22:23] arouinfar commented on #71
The wave gaps no longer exist, so we can go ahead and close this issue.

[2022-05-24 22:23] #71 closed

[2022-05-25 16:12] jessegreenberg commented on #159
@jbphet and I made this change, closing but feel free to take a look @arouinfar.

[2022-05-25 16:12] #159 closed

[2022-05-25 16:28] jbphet commented on #161
Background: The energy balance at the top of the atmosphere and the stability of the surface temperature are two different things, and are tracked separately by the model.  It doesn't surprise me at all that the top of the atmosphere could get into balance before the surface temperature becomes stable.  This simply means that the total amount of energy being emitted in the upward direction by the

[2022-05-25 16:59] jbphet commented on #151
@arouinfar - @jessegreenberg and I have implemented this, but we weren't absolutely sure what we were supposed to use for 1950, so we went with "moderate".  Please check it out and see if you're good with the current behavior.

[2022-05-25 17:30] KatieWoe opened #162 "CT Build failed with status code 1:"
[code]

[2022-05-25 18:53] jbphet commented on #138
I'm going to go ahead and close this.  I haven't seen it for quite some time, I think it's more of a general problem related to the CT test procedure than anything specific to this sim, and @jonathanolson has bigger fish to fry.

[2022-05-25 19:09] jbphet commented on #161
We discussed this in today's design meeting, and the team isn't concerned that these are not in sync.  It doesn't seem like something that would be used to make any sort of a pedagogical point.

[2022-05-25 19:11] jbphet commented on #160
The design team agrees that there should be a little "add" for the visible light being reflected from the glacier.

[2022-05-25 19:23] jbphet commented on #158
We discussed this in the design meeting and agree that would be a good move to remove the step and speed selector controls from the Waves screen and go with just the play/pause button.  We will leave the time controls on the Photons and Layer Model screens as they are for now, since these may have more pedagogical values for these screens.

@kathy-phet suggested that @arouinfar pay attention in in

[2022-05-25 19:24] kathy-phet opened #163 "Reconsider "blinking" IR photon effect on Photon Screen"
In 5/25/22 GHE meeting, we discussed that the complete disappearing and reappearing effect of the IR photons in the Photon Screen (where you cannot see the absorbing layers) seemed a bit hard to talk around. And the suggestion was to consider just a redirection of the photon, without a disappearance. Or maybe a bit of a fade so you can see something?

Maybe also do this on the Layers Screen. But i

[2022-05-25 19:42] jbphet commented on #156
We reviewed this in the design meeting today, and agree that the same or similar qualitative description should be used for the IR coming back to the surface.  Assigning back to @arouinfar and @Matthew-Moore240 to refine the description before implementation.

[2022-05-25 19:54] kathy-phet opened #164 "Add Slider Max/Min sound to Greenhouse concentration slider"
Add default Slider Max/Min sound to Greenhouse concentration slider

@arouinfar - Just FYI on this from design 5/25/22. To help convey meaning that we are at "max" of slider.

[2022-05-25 20:22] jbphet commented on #146
I changed the code around a bit so that the max expected temperature is specified in `GreenhouseEffectObservationWindow` and used for setting the range of sound generation, and the thermometer range is specified by an amount above this range.  I tried setting it up so that the max was effectively 320 Kelvin, but that left a lot of white at the top of the thermometer, so I iterated a few times and

[2022-05-25 20:46] jbphet commented on #163
During today's design meeting I went ahead and turned off the blinking since it was a simple change.  Seems like an improvement to me (and Mark N said so too), but it probably would be good to have some sort of effect rather than just the change in direction to make it a little more eye-catching.

[2022-05-27 16:47] jbphet commented on #164
This has been implemented and sounds good to me.  I'm going to make an executive decision and say that it doesn't require further review, at least not until the sound design is reviewed as a whole.  Closing.

[2022-05-27 16:47] #164 closed

[2022-05-27 19:38] Ashton-Morris commented on #131
Adding these files now. Hopefully one of these will fit nicely.

- IR_Response_Medium_Hall.mp3
- IR_Response_Medium_Hall.wav
- IR_Response_Small_Hall.mp3
- IR_Response_Small_Hall.wav

[2022-05-27 20:21] jbphet commented on #162
There are at least two errors occurring here, and the phet-io API one has been separately resolved.  The other, which was occurring due to fuzz tests, was because an alignment values used in an `HBox` is no longer supported due to work that was done for https://github.com/phetsims/sun/issues/48.  I removed the option, and the dialog seems to look fine.  I'll keep an eye on CT, and if the next roun

[2022-05-27 21:22] jbphet commented on #162
CT had changed to green, see the screenshot below.  I think we're good here.  Closing.

![image](https://user-images.githubusercontent.com/3082831/170790922-ad566d64-9ae4-4627-834a-f7e4f25fe81c.png)

[2022-05-27 21:22] #162 closed

[2022-05-27 23:40] jbphet opened #165 "Use optionize for option merges"
Back when this sim was initial converted to TypeScript (see https://github.com/phetsims/greenhouse-effect/issues/99), we hadn't established a pattern for options.  We have do so since then, and the usages of `merge` should all be converted.

[2022-05-31 16:04] #151 closed

[2022-05-31 16:37] arouinfar commented on #156
@jbphet I reviewed this with @Matthew-Moore240 and we decided to simply use the same value for both the greenhouse gas levels and the amount of IR redirected to the surface. For example:

Back to @jbphet and @jessegreenberg for implementation.

[2022-05-31 18:35] jbphet commented on #131
Note to self:

- [ ] Before closing, make sure all the sounds and impulse responses that were added but don't end up being used get removed from greenhouse-effect and tambo.

[2022-05-31 20:37] arouinfar commented on #146
Thanks @jbphet! The thermometer looks full, but doesn't appear to max out too early.

[2022-05-31 20:37] #146 closed

[2022-05-31 20:38] arouinfar commented on #161
Thanks @jbphet. Since the team isn't concerned with there being a pedagogical issue, I'll go ahead and close.

[2022-05-31 20:44] jbphet commented on #131
This is done.  In the end, the reverb effect was achieved using an existing reverb sound that we already had.  Closing.

[2022-05-31 20:44] #131 closed

[2022-05-31 20:44] arouinfar commented on #163
@jbphet @kathy-phet I think that removing the blink is a good call, and it's certainly easier to follow on the Photons screen.

I like the idea of a fade, maybe we could reduce the opacity for a frame or two before the photon redirects?

I'm having a hard time tracking the photons on the Layer Model screen. Part of it is due to the time delay between the photon's absorption and emission, but the p

[2022-05-31 20:45] jbphet commented on #131
For future reference, the length of the tail on the reverb that gave an audible but not over-the-top effect was about 0.9 seconds when viewed in Audacity.

[2022-06-01 18:03] jbphet commented on #156
Question: In "Date Mode" for controlling the concentration, should we use this "historically..." language that we use for the greenhouse gas levels too?