[2022-06-01 19:19] jbphet opened #166 "Do we want to change the wording to "historical time period" and, if so, where?"
In today's design meeting, it was suggested that we use the term "historical mode" and or "historical time period" to better match some of the wording that we're using in other parts of the description.  @arouinfar will go through the description and let us know where this should be changed.

[2022-06-01 22:48] jbphet opened #167 "How should the absorption of photons and subsequent re-emission be visually portrayed?"
As of this writing, the code can support making photons disappear when absorbed in a layer and make a lateral jump when re-emitted.  The length of time that the photon is absorbed and the max distance it can jump are configurable.  However, pretty much every variation we've tried so far turns out to be visually hard to follow, see https://github.com/phetsims/greenhouse-effect/issues/163.  In today

[2022-06-01 23:06] jbphet commented on #163
I've changed the absorption times and jump distances for the photons to zero, and also made the layers very thin in terms of where they absorb photons.  This gets rid of the blinking effect, and makes it easier to follow the photons, but we want to see if we can come up with something that makes it more apparent that something is happening other than the photons just bouncing around.  We will trac

[2022-06-01 23:06] #163 closed

[2022-06-01 23:55] jbphet commented on #156
I've implemented this using the same 'historical' language as the gas concentrations.  For the most part, it seems good, but in some cases - including the first one that users are likely to encounter - it seems a little odd.  For instance, if you start up the sim, switch to date mode, and leave 1750 selected, it will say this:

If I were a user, I think I might find this confusing.  If historicall

[2022-06-02 22:27] jbphet commented on #123
Fixed the `any` usages.  There were fewer than I'd originally thought.  Re-closing.

[2022-06-02 22:27] #123 closed

[2022-06-07 16:35] arouinfar commented on #158
Thanks @jessegreenberg. @Matthew-Moore240 and I reviewed this, and found a few places that needs play/pause adjustments:

- [ ] Scene Summary, Control Area section swap out:

You can pause the action that happens in the observation window.

- [ ] Scene Summary when paused, start "Currently" statement with: Currently, sim is paused.
- [ ] Context response for pressing Start Sunlight when sim is not

[2022-06-07 16:45] arouinfar commented on #166
Places where time period is mentioned:

* Scene Summary, Play Area section: "It has controls to adjust the greenhouse gas concentration or explore by time period..."
* Scene Summary, Currently section: "Currently, the time period is the year seventeen fifty..."
* Time Period RadioButtonGroup
* Time Period RadioButtonGroup help text: "Compare greenhouse gas levels at different time periods."
* Expl

[2022-06-07 16:55] arouinfar commented on #156
@Matthew-Moore240 and I discussed this during description meeting.

When looking at a singular statement like this, I agree @jbphet. In general, this statement will always have some disconnect when the surface temperature is not at equilibrium, regardless of the mode. That's because the IR emitting from the ground is tied to the surface temperature (takes time to equilibrate) and the IR redirectin

[2022-06-08 14:58] jessegreenberg commented on #158
This was already a complicated string pattern so I tried to fit the paused state into what we already have. The combinations are
"Currently, ..."
"Currently, sim is paused. ..."
"Currently, no sunlight in observation window. ..."
"Currently, sim is paused. No sunlight in observation window. ..."

@Matthew-Moore240 @arouinfar can you please review?

[2022-06-08 15:03] jessegreenberg commented on #166
I added 'historical' to the two descriptions you mentioned above, @arouinfar anything else for this issue?

[2022-06-08 18:52] #166 closed

[2022-06-08 18:57] arouinfar commented on #158
Thanks @jessegreenberg. Everything looks good in master, including the variations on "Currently..."

[2022-06-08 19:39] jessegreenberg commented on #158
There are some capitalization problems with this,

[2022-06-08 20:11] jessegreenberg commented on #158
OK, those were fixed:
![image](https://user-images.githubusercontent.com/6396244/172707746-403af6a8-d422-4037-b39c-c43d71c974fd.png)

![image](https://user-images.githubusercontent.com/6396244/172707806-206f2f9f-f0c5-414e-bfc7-b071a6106aaf.png)

I tried to make sure that in the capitalization remained correct in the other cases like
![image](https://user-images.githubusercontent.com/6396244/172707

[2022-06-13 19:02] Nancy-Salpepi opened #168 "Options Dialog should be removed from PhET menu"
**Problem description**
For https://github.com/phetsims/qa/issues/811

The options dialog should be removed.
@arouinfar confirmed on slack that the information currently in the options dialog (sounds and mockup) should not be user facing.

**Visuals**
<img width="805" alt="Screen Shot 2022-06-13 at 2 54 40 PM" src="https://user-images.githubusercontent.com/87318828/173424994-1364b069-3366-4a97-84e

[2022-06-13 19:06] Nancy-Salpepi opened #169 "keyboard help dialog is missing"
For https://github.com/phetsims/qa/issues/811, since we are testing interactive description and keyboard nav in 1.1.0-dev.9, shouldn't there be a keyboard help dialog?

[2022-06-13 19:32] Nancy-Salpepi opened #170 "Temperature sounds linked to surface thermometer checkbox"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/811, I noticed that the temperature sounds were linked to the Surface Thermometer checkbox. Should they be linked to the Surface Temperature checkbox?

From slack:
Me:

@arouinfar:

**Steps to reproduce**
1. Press the 'Start Sunlight' button

[2022-06-13 23:08] jbphet opened #171 "How should we handle the vastly different ranges of flux values in the flux meter?"
I'm currently working on implementing the flux meter, and I'm running into a problem due to the scale of variation between the largest flux values and the nominal ones.  I just tried setting up the maximum flux situation on the Layer Model screen and scaling the arrows in the flux meter to work with it.  It looks like this:

![image](https://user-images.githubusercontent.com/3082831/173461548-2718

[2022-06-13 23:12] jbphet commented on #171
For my reference, the code to calculate the max expected flux in such a way that it is not exceeded by the display looks like this:

[code]

The value that this yields is 46729600, which I believe is in watts.

[2022-06-14 10:51] Nancy-Salpepi opened #172 "Temperature fluctuates when switching between modes"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/811, when switching between slider and date modes, the temperature fluctuates.

**Steps to reproduce**
1. Uncheck the Clouds checkbox
2. Press the Start Sunlight button
3. Wait until the temperature increase starts to slow (~283K) and then ch

[2022-06-14 15:58] Nancy-Salpepi opened #173 "description for play/pause button incorrect"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/811 and related to https://github.com/phetsims/greenhouse-effect/issues/158

The description for the play/pause button still mentions stepping forward even though that control was removed for the Waves screen. This was seen in a11y view and w

[2022-06-14 17:03] Nancy-Salpepi opened #174 "Should "start sunlight to play" be dynamic?"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/811 with VO and in a11y view:
When reading through the scene summary after interacting with the sim, the statement "Start sunlight to play." does not correctly depict the scene (since that button was already pressed).

**Visuals**
<img width=

[2022-06-14 18:03] Nancy-Salpepi commented on #174
Thanks @arouinfar!
I went and took a look at Friction. That last sentence is actually dynamic. It can be:
* Grab chemistry book to play
* Continue rubbing chemistry book to generate even more friction
* Reset sim to make more observations

[2022-06-14 18:47] KatieWoe commented on #84
Noting this again in https://github.com/phetsims/qa/issues/811

[2022-06-14 19:14] KatieWoe opened #175 "Should the ability to interact with the temperature units and Energy Balance be more obvious?"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/811.
The drop down box to change temperature units and the Energy Balance checkbox are both in the main play area, which is greyed out when the sim is first loaded until you press "Start Sunlight." This leads to both items appearing disabled. They can be interacted

[2022-06-14 20:13] KatieWoe opened #176 "Energy Balance is read out incorrectly if sim has not yet sarted"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/811
If you turn on the Energy Balance graph before you start the sunlight in the sim, an alert will play saying there is a net inflow of energy. This is true once you start the sunlight, but before then the graph is blank and there is no information available as no

[2022-06-14 20:39] KatieWoe commented on #176
What's worse, is the scene description describes the opposite from the alerts:
<img width="922" alt="opposite" src="https://user-images.githubusercontent.com/41024075/173684378-0c3d2900-34fb-454b-bd32-ad437135079d.png">

[2022-06-15 14:13] Nancy-Salpepi opened #177 "description of greenhouse gases concentration missing"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/811

In a11y view, I do not see anything about the levels of greenhouse gases as I move the slider but these responsive descriptions are heard with VoiceOver.

**Steps to reproduce**

1. In a11y view, press Start Sunlight button
2. Tab to con

[2022-06-15 15:27] Nancy-Salpepi opened #178 "VO says "text" after temperature unit"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/811

When moving through the temperature units, VO adds the word "text" after each unit.

**Steps to reproduce**
1. Turn on VO
2. Press the Start Sunlight button (optional)
3. Tab to the temperature combo box.
4. Arrow through the different t

[2022-06-15 18:18] jessegreenberg commented on #177
Thanks @Nancy-Salpepi - I am wondering if this is what is described in https://github.com/phetsims/qa/blob/master/documentation/accessibility-bugs.md under VoiceOver safari bugs:

@Nancy-Salpepi can you see if the problem goes away if you tab away and then back to the slider?

[2022-06-15 18:32] jessegreenberg commented on #178
I took a look at the parallel DOM and don't see anything amiss. It is indeed "text", so maybe VoiceOver is reporting that role of the content. @Nancy-Salpepi can you please see if this happens in the first combobox example here? https://dequelabs.github.io/combobo/demo/

[2022-06-15 18:53] Nancy-Salpepi commented on #177
@jessegreenberg yes I realized (too late) that the VO aspect of this issue was a known bug. When I tab back to the slider I do hear alerts again.
I left the issue open though because I thought it was odd that those alerts didn't appear in the a11y view at all.

[2022-06-15 18:56] jbphet opened #179 "Remove "Options" dialog prior to full publication"
There is a dialog that can be shown via the `optionsDialog` query parameter.  It is used to enable the designers to try out some different design choices in the sim, and evolves as the sim is implemented.  It should be removed prior to full publication.

I'll assign this to myself and defer it for now.

[2022-06-15 19:00] jbphet commented on #168
Good observation @Nancy-Salpepi.  I don't want to get rid of the dialog altogether, since we may still use it before we're ready to publish the sim, so I put it behind a query parameter.  The query parameter is a flag, and it is called `optionsDialog`.  I also created a new GitHub issue to remind me to remove the dialog prior to full publication, see https://github.com/phetsims/greenhouse-effect/i

[2022-06-15 19:01] Nancy-Salpepi commented on #178
@jessegreenberg in the first combobox it said "clickable" after each. I then tried the second combo box and VO didn't say anything extra after each option.

[2022-06-15 19:10] Nancy-Salpepi commented on #168
Looks good on master. "Options" is no longer an option 🤣 in the PhET menu without the query parameter.

[2022-06-15 19:16] jbphet commented on #169
I've added the default keyboard dialog, but I'm now wondering if there needs to be a custom version created, such as we did in https://github.com/phetsims/faradays-law/issues/176.  I'll ask about this in the next design meeting.

[2022-06-15 19:43] jbphet commented on #169
Discussed in today's design meeting, things to note:
- The "Basic Actions" should be there (we think it's on by default)
- Add in the slider control section (we think this is an option to the dialog)
- For now, we will use the same dialog for all screens
- We may need to add custom information for the interaction with the flux meter, but this isn't necessary for the upcoming interviews on the "Wav

[2022-06-15 19:44] jbphet opened #180 "Add keyboard help information for interaction with the flux meter"
Interaction with the flux meter will need some custom explanations in the Keyboard Help dialog.  This should be designed first, then implemented.

Assigning to @arouinfar for the design part.

[2022-06-15 19:56] jbphet commented on #172
Next steps on this:

- [ ] Play the context response in the cases where the cloud state changes when switching modes.
- [ ] Verify the the warming/cooling behavior is not a bug and is an emergent property of the model (as we suspect).

[2022-06-15 20:53] jessegreenberg commented on #177
Thanks for clarifying. Good question. The reason it doesn't show up in alerts is because of how screen readers work and is not obvious, sorry. There is special information for sliders called "valuetext" that gets read every time the slider value changes. It appears here in the parallel DOM:

![image](https://user-images.githubusercontent.com/6396244/173926150-1d5013c2-8e5d-4ed0-b1a7-18471f5b6045.p

[2022-06-15 21:01] jessegreenberg commented on #178
Got it, OK thanks.

Some differences between our listbox and deque's:
- Ours is a `ul` with role `listbox` and children that are `li` with role `option`.
- deque's is a `div` with role `combobox` and children that are `div` with role `option`

I don't know why that would make "text" get read out after our list items.

@terracoda do you have any recommendations about next steps for this issue? Shou

[2022-06-15 22:28] jbphet commented on #169
I've added a specific issue about adding specific keyboard help info for the flux meter, which is the only thing we could think of in the design meeting that might require custom verbiage about how to use it.  See https://github.com/phetsims/greenhouse-effect/issues/180.

[2022-06-15 22:36] jbphet commented on #169
I will have QA verify this in the next dev release.

[2022-06-15 22:37] jbphet commented on #168
I've decided to reopen this and have it verified on the next dev release.  Seems like the right thing to do.

[2022-06-15 22:39] jbphet commented on #171
We discussed this in today's design meeting, but haven't come to any conclusions yet.  @arouinfar was thinking that maybe a zoom feature would be useful, but wanted to think on it for a bit.  We will discuss this with @kathy-phet the next time she is available for a design meeting.

[2022-06-15 22:50] Nancy-Salpepi commented on #177
Ah ok. I thought everything that was read automatically appeared in the Responsive Descriptions section. Thanks for clarifying @jessegreenberg!
Closing.

[2022-06-15 22:50] #177 closed

[2022-06-16 17:51] Nancy-Salpepi commented on #178
noting that mobile VO doesn't say "text" as I move through the temperature units

[2022-06-16 18:24] Nancy-Salpepi opened #181 "mobile VO reads decimal in temperature differently depending on unit"
**Test device**
iPad Air II

**Operating System**
iOS 15.5

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/811:
Mobile VO reads the decimal in a temperature value as "dot" for Kelvin and degrees F, but as "point" for degrees Celsius.
VO reads the decimal in all three temperature units as "point".

**Steps to reproduce**
1. With VO on, switch between temperatu

[2022-06-16 20:28] Nancy-Salpepi opened #182 "Mobile VO reads sim title after pressing Start Sunlight button"
**Test device**
iPad Air II

**Operating System**
iOS 15.5

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/811
After pressing the Start Sunlight Button, mobile VO says the sim title, heading level, and a few other things before saying "sunlight started"

This doesn't occur on my mac with VO.

**Visuals**

https://user-images.githubusercontent.com/87318828/174

[2022-06-16 22:45] KatieWoe commented on #182
This puts you back at the top. If you start swiping to read the next item, you have to read through the whole description before reaching the controls again.

[2022-06-17 01:03] terracoda commented on #178
I am pretty sure when we created the HTML for PhET’s combobox, the role combobox was not well supported.

Things may have changed.

If role combobox is well supported now, we may need to update our design pattern.

[2022-06-17 01:12] terracoda commented on #178
Just an FYI, that deque example sounds good with iOS VoiceOver.

[2022-06-17 13:14] terracoda commented on #178
I think for our HTML design pattern for combobox, VoiceOver has always readout "text" on the options. Not sure why.
Here's a screenshot of the Molarity's published combobox.

<img width="1011" alt="image" src="https://user-images.githubusercontent.com/1902116/174305209-e6c11496-e5bd-4412-9060-b8b753563e9f.png">

[2022-06-17 13:43] terracoda commented on #178
I listened to the deque examples with regular MacOS VoiceOver.

The patterns seem to have some issues:
1. VO sonifies each option with an annoying interactive chime. I think because each option is interactive - not sure. I hear this chime on some of our custom interactions, e.g., Both Hands interaction in RaP, and it really annoys me that VO does this.
2. The keyboard interactions don't seem to be

[2022-06-17 13:47] terracoda commented on #178
@jessegreenberg, I am marking as won't fix, though, I am open to code options that would remove "text" from our combobox options.

At this point in time, I think our pattern offers a better experience in our context.

[2022-06-17 13:55] terracoda commented on #178
And just noting that our pattern is based one of Bryan Gravante's patterns. Though I am no longer certain which one :-)
https://lists.w3.org/Archives/Public/w3c-wai-ig/2018JulSep/0201.html

[2022-06-17 15:03] KatieWoe opened #183 "Pause button mentions stepping forward"
**Test device**
iPad
**Operating System**
iPadOS 15
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/811
When reading out the scene description, the pause button is described this way:

This, to me, implies that there is a step forward button. There is only a play/pause button. I think it may be good to reword this.

**Visuals**
<img width="749" alt="nostepforwa

[2022-06-17 15:46] KatieWoe commented on #183
This is a duplicate of #173. Closing

[2022-06-17 15:46] #183 closed

[2022-06-17 18:17] KatieWoe commented on #182
This also seems to occur on other screen readers, such as Jaws, but it is much more noticeable and/or troublesome on Mobile VO due to the comparative limited ability to move focus around.

[2022-06-17 19:15] KatieWoe opened #184 "Final temperature read out may be .1 or .2 degrees off"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/811. Seen with Chrome + Jaws. It can also occur in the a11y view.
When Fahrenheit is enabled, the final "steady temperature" and even the degrees in the scene description, may be different from the temperature displayed in the sim by .1 or .2 degrees. The bellow ima

[2022-06-21 20:10] jbphet opened #185 "Add sonification for the flux meter"
The flux meter is now working on the 2nd and 3rd screens, so it would be a good time to start working on the sound design for it.  We discussed this in today's sound design meeting, and here are a few notes:

- Probably the most important of the four values portrayed by the flux meter is the arrow that represents the amount of IR energy that is returning to the Earth, which is the downward pointin

[2022-06-21 21:09] arouinfar commented on #174
Thanks @Nancy-Salpepi! Good to know that there is precedent for a dynamic interaction hint.

[2022-06-21 21:23] arouinfar commented on #173
If we want very general help text that lives in scenery-phet, we could do something like:

Pause: Pause sim.
Play: Play sim.  (Resume sounds nicer, but implies the sim started in this state, which isn't universally true.)

If we have the possibility of using sim-specific help text, I would go with something more descriptive.

Pause: Pause action in observation window.
Play: Resume action in observ

[2022-06-21 21:26] arouinfar commented on #130
The review of the Waves screen description has been completed, and the resulting issues tagged here have all been addressed (open issues are pending interviews). I think it's time we closed this issue.

[2022-06-21 21:26] #130 closed

[2022-06-21 22:19] arouinfar commented on #184
Thanks @KatieWoe.

Looks like the "Surface temperature stable" response is off about ~25% of the time when using Fahrenheit. There is a threshold for defining equilibrium that requires the energy to be within a certain level `atEquilibriumThreshold` for some amount of time `atEquilibriumTime`. These parameters were tuned in #137, but I was focused on C/K at the time. An increase in 1 degree Fahren

[2022-06-22 15:17] jessegreenberg commented on #178
Great, thanks for the reminders and resources @terracoda! I am going to go ahead and close this, but I am going to add it to the list of screen reader quirks that we expect on VoiceOver + macOS Safari.

[2022-06-22 15:19] #178 closed

[2022-06-22 15:25] jessegreenberg commented on #181
Thanks @Nancy-Salpepi - This is an odd difference. Maybe it doesn't have 'kelvin' in its lexicon to read a unit of value. Anyway, there is not much we can do to change the device's pronunciation of things. In the past we have decided not to change spellings or other things to force the AT to say something a particular way. And the a11y community generally discourages it.

@arouinfar @Matthew-Moore

[2022-06-22 16:37] arouinfar commented on #181
Good find @Nancy-Salpepi.

Thanks for the additional context @jessegreenberg. I am fine with closing this as wontfix.

[2022-06-22 16:37] #181 closed

[2022-06-22 17:24] arouinfar commented on #182
For Mobile VO, this sounds like a pretty poor experience. Could we shift focus to H3: Observation Window? That way, screen readers (including Mobile VO) can pick up where they left off. It also won't disturb the focus order of UI elements. Hitting tab should still take users to the Greenhouse Gas Concentration slider.

[2022-06-22 17:56] arouinfar commented on #182
Yes, that's what I was thinking @jessegreenberg. I'm not particularly worried about "article, landmark" but it seems like better UX to go to the parent H3 rather than all the way back up to the H1.

[2022-06-22 18:04] jbphet commented on #172
Changes made.  We will review them with the design team at our next meeting.

[2022-06-22 19:07] jbphet commented on #172
We reviewed this in the design meeting and it was approved.  Closing.

[2022-06-22 19:32] jbphet commented on #173
The Greenhouse design team discussed this in the 6/22/2022 design meeting, and @arouinfar is going to work with @terracoda to work out a plan for how this should be generally handled in TimeControlNode.

[2022-06-22 19:40] jbphet commented on #84
Let's discuss this with @kathy-phet the next time she is in the weekly design meeting.

[2022-06-22 19:56] jbphet opened #186 "Add a query parameter for default temperature units"
This has been done for other sims (I think SOM is an example), so we should do it in a similar way.

[2022-06-22 19:58] jbphet opened #187 "There should be a way within the sim to set the default temperature units"
Currently the sim defaults to Kelvin, and we should probably have a way within the sim to set the default units to something else, and that setting should still be respected after a reset.  Issue #72 will be related.

[2022-06-22 20:09] #175 closed, assigned to arouinfar

[2022-06-24 18:31] jbphet commented on #186
I just looked through the code base, and I'm not finding a precedent for being able to set the units to any of the allowable values.  Instead, in state-of-matter and number-line-integers, I'm seeing a parameter called `defaultCelsius`.  For some history relative to states-of-matter, please see https://github.com/phetsims/states-of-matter/issues/216.

I'm going to start of with a different approach

[2022-06-24 19:05] jbphet commented on #186
@arouinfar - This is now implemented as described in the previous comment.  It works for the first two screens, but not for the third one, since temperature units control is not yet implemented for that screen.  Please check it out, and let me know if this seems like it will work.  We can change the query parameter and values if you have thoughts on how to improve it.

[2022-06-24 19:47] jbphet commented on #184
This change is now implemented on master.  @arouinfar - Please check it and make sure it seems correct, then feel free to close this issue.

[2022-06-28 13:51] terracoda commented on #173
I agree, there should be 2 options for the help text - one to specifically support the presence of the step forward button.

It was quite tricky figuring out the best structure and best words to support blind users in using the step forward button in the description design of _Molecules and Light_.

The Timing Control Node is quite flexible and modular, so approaching the description design in the

[2022-06-28 15:53] jessegreenberg commented on #173
OK thanks Taliesin, Ill proceed with this and Ill be sure I don't break what we went with in molecules and light.

[2022-06-29 19:40] jbphet opened #188 "Modifications to the initial version of the Flux Meter"
Discussed with @kathy-phet on 6/29/2022:

- Yes, we should modify the flux sensor to span the bulk of the observation window.  It would be nice if it still looked like a probe, so perhaps a thin rectangle and a tight connection to the meter
- @kathy-phet feels that it is confusing that the flux meter doesn't update when the sim is paused and the sensor moves.  While it would be possible to make th

[2022-06-29 19:56] jbphet commented on #84
Discussed with @kathy-phet in the 6/29/2022 design meeting, and there are two possibilities that we thought of to make this better:
1. Make the model run faster for a short period right after changes are made to the greenhouse gas concentration so that the energy change reaches the top of the atmosphere more quickly
2. Go back to where the waves have changes in thickness that they carry as they pr

[2022-06-30 23:34] jessegreenberg commented on #173
This was done and I like that this simplified TimeControlNode.ts a little.

@arouinfar can you please review and confirm this resolved for greenhouse-effect?

[2022-07-01 19:20] jbphet commented on #176
I have this mostly working as desired, but while testing it I ran into one odd and hard-to-reproduce case.  Here is the sequence needed to reproduce.  The timing matters, so read through it before doing it if you intend to try it.

- Load the sim in the a11y view and go to the Waves screen
- Start the sunlight
- Hit the Reset All button and then very quickly re-enable the energy balance indicator

[2022-07-01 19:46] jbphet commented on #176
@jessegreenberg - I think I have this working, but I'd like you to take a look at the changes before the next steps.  My biggest question is about resetting the concentration describer.  To fix the problem described in the previous comment, I ended up wiring through a way to reset the `GasConcentrationDescriber`.  It seemed reasonable me, but I'm fairly new to description, so I want to make sure t

[2022-07-01 21:24] jessegreenberg commented on #176
Ah, that makes sense with this approach. Thanks for catching/adding.

Should these "previous" value variables be reset here as well or were they intentionally excluded?

`previousTemperature`
`previousOutgoingEnergy`

[2022-07-01 21:44] jbphet commented on #170
Early in the sound design process I believe we had a separate sound for the "Show Surface Temperature" situation.  It sounded kind of crackly at the higher temperatures, like a fire.  If I recall correctly, we thought it was both a bit confusing when everything was turned on and a little intense on its own, so we dropped it.  I'll bring this up at the next sound design meeting and I'll see if anyo

[2022-07-01 22:52] jessegreenberg commented on #182
OK this is done, I made a new node FocusableHeadingNode to support this.

@arouinfar can you please verify that this is working and the PDOM order around the Observation Window is still looking OK for the waves screen?

[2022-07-02 00:01] jbphet commented on #188
I did the two items listed above, but I'd like to also drag prompt arrows before having the design team check it out.

[2022-07-05 17:32] arouinfar commented on #186
This looks great to me @jbphet. I opened up https://github.com/phetsims/states-of-matter/issues/361 to do the same in SOM(B) when it's republished off of master.

I don't think there's anything else we need to do for this issue, since adding a user-facing control to the Options/Preferences dialog is being tracked in https://github.com/phetsims/greenhouse-effect/issues/187.

[2022-07-05 17:32] #186 closed

[2022-07-05 17:37] arouinfar commented on #182
The behavior looks good in master @jessegreenberg, but I think this should go back to QA to verify in Mobile VO in the next testing cycle.

[2022-07-05 17:38] arouinfar commented on #173
Thanks @jessegreenberg! The help text looks good in master.

[2022-07-05 17:40] jessegreenberg commented on #173
Great thanks! I am going to go ahead and close this one.

[2022-07-05 17:40] #173 closed

[2022-07-05 17:45] jessegreenberg commented on #182
OK sounds good, thanks. Adding the "ready-for-review" label for the next dev test.

[2022-07-05 17:58] arouinfar commented on #184
Thanks @jbphet. The mismatch for Fahrenheit still exists, but occurs less frequently and is never off by more than 0.1°.

A side effect of this change is that users are now more likely to encounter two responsive descriptions with the same temperature -- one with the heating/cooling language, and one where it is stable. I think this is an acceptable trade-off, but it also means that I don't think

[2022-07-05 17:58] #184 closed

[2022-07-05 23:19] jbphet commented on #176
Thanks @jessegreenberg - I've added those to the reset method.

[2022-07-05 23:22] jbphet commented on #176
@arouinfar - Please check the behavior and make sure that it is what we want based on [the design team discussion](https://github.com/phetsims/greenhouse-effect/issues/176#issuecomment-1163534006) above.  If so, this can be closed.

[2022-07-06 19:18] jessegreenberg opened #189 "Change the description of the energy balance when sunlight hasn't started yet"
It is strange that the help text appears.

Potential descriptions:

- "Start sunlight to explore energy balance."
- "No flow of energy. Start sunlight to explore energy balance."

[2022-07-06 19:21] jbphet opened #190 "Energy Balance header should be below the description list in the observation window"
Pics for reference:

Current energy balance showing:

![image](https://user-images.githubusercontent.com/3082831/177626503-a096f05d-608d-4bdf-90b2-e6f289d52b80.png)

Current without:

![image](https://user-images.githubusercontent.com/3082831/177626622-e31b1f70-3942-4768-85c2-1db3e2b1362a.png)

The energy balance information, which is an H4, should be below the description list .

[2022-07-06 19:24] jbphet commented on #189
Let's go with the 2nd one, i.e. "No flow of energy. Start sunlight to explore energy balance".

[2022-07-06 19:39] jessegreenberg commented on #189
Done in the above commit, @arouinfar or @Matthew-Moore240 would you like to review?

[2022-07-06 19:43] jbphet commented on #188
Reviewed in today's design meeting, action items are:
- Make the cuing arrow colors match the border of the probe
- Move the cuing arrows to the right side of the probe
- Instrument these for phet-io, use geometric-optics and molecule-polarity as references for how to do this well

[2022-07-06 19:45] jbphet opened #191 "Add alternative input for the sensor on the flux meter"
Users will need to be able to move the flux sensor up and down using the arrow keys.  As of this writing, the flux meter has been added but it does not yet have support for keyboard control

[2022-07-06 19:49] jbphet commented on #191
The design team discussed this during today's meeting, and we decided to try using `AccessibleSlider` as an initial attempt to make this work.

[2022-07-06 20:06] jbphet commented on #84
Discussed at today's design meeting, and we decided to resurrect the varying thickness feature.

[2022-07-06 20:14] arouinfar commented on #190
Looks good in master, thanks @jessegreenberg!

[2022-07-06 20:14] #190 closed

[2022-07-06 20:15] arouinfar commented on #176
Looks good, thanks @jbphet

[2022-07-08 18:25] jbphet commented on #176
Reopening, since I thought it would be good to have QA double check this during a dev test that is currently being set up.

[2022-07-08 18:27] jbphet commented on #182
Note to QA: Please close after verifying.

[2022-07-08 18:28] jbphet commented on #169
Note to QA: Please close after verifying.

[2022-07-08 19:48] arouinfar commented on #180
The current plan is to implement the probe as an accessible slider. In that case, we may not need specific content for the Energy Flux Meter.

[2022-07-08 23:29] jbphet commented on #188
I have added phet-io control of the cueing arrows for the flux sensor, since this was requested during the last design meeting.  It was recommended that I look at the approaches used in molecule-polarity and geometric-optics, but it turns out that these two sims handle phet-io control of their cueing arrows pretty differently.  I opted for the approach used in geometric-optics, where there is one

[2022-07-08 23:41] jbphet commented on #84
The varying thickness feature, which I kept around because I thought it might come back, was being tracked in https://github.com/phetsims/greenhouse-effect/issues/84.

[2022-07-13 17:51] Nancy-Salpepi commented on #169
Keyboard dialog is present in version 1.1.0-dev.10 with slider controls and basic actions :)

[2022-07-13 17:51] #169 closed

[2022-07-13 20:05] Nancy-Salpepi opened #192 "VO often reads responses in incorrect order"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.4

**Browser**
safari + VoiceOver

**Problem description**
For https://github.com/phetsims/qa/issues/819, VoiceOver doesn't read statements in the order listed in https://github.com/phetsims/qa/issues/819#issuecomment-1182529346. VO often reads the IR emitting statement before the IR redirecting statement.

**Steps to reproduce**
These

[2022-07-13 20:11] Nancy-Salpepi commented on #192
I also see the wrong order uttered in 1.1.0-dev.9. Sorry I didn't catch it.

[2022-07-13 22:11] #176 closed

[2022-07-13 22:29] KatieWoe commented on #182
I was moved up to the url bar in dev.10. This was on an iPadOS 15 device.

[2022-07-15 13:13] Nancy-Salpepi opened #193 "Incorrect surface temperature response sometimes uttered"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
safari/chrome

**Problem description**
For https://github.com/phetsims/qa/issues/819 If I change the concentration value just before "warming/cooling" is uttered, the surface temperature statement will be incorrect. For example, if I increased the concentration by one step just before "cooling" is uttered, I will s

[2022-07-15 15:48] Nancy-Salpepi commented on #182
For me, in dev.10 with iPadOS 15.5 focus moves to Observation Window Heading Level 3 after pressing Start Sunlight button. I believe that is the intended behavior.

https://user-images.githubusercontent.com/87318828/179259533-541fff5d-dd64-4ecb-87c9-7e25a89c95f7.mov

[2022-07-15 22:05] KatieWoe commented on #182
I tried again today and it worked properly. I'm not sure what changed/what I did wrong the first time around, but this can probably be closed if you agree @jessegreenberg

[2022-07-18 15:50] KatieWoe opened #194 "Should keyboard dialog include play/pause command?"
**Test device**
MacBook Pro
**Operating System**
MacOS 12.4
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/819, related to https://github.com/phetsims/greenhouse-effect/issues/169.
The opt/alt + k command for the play/pause button works in the sim, but is not currently included in the keyboard nav dialog.

Troubleshooting information:

<details>

!!!!! DO NOT

[2022-07-18 16:38] KatieWoe opened #195 "Alerts, Energy Balance section and other bullets may not be read in Mobile VO"
**Test device**
IPad
**Operating System**
iPadOS 15
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/819.
After starting the sunlight, I noticed that swiping through reading, or reading from the top, would skip some bullet points in the scene description (mostly the temperature reading) and skip reading out the energy balance of the sim. I also often did not hea

[2022-07-18 16:49] jbphet commented on #170
This has been implemented.  I'll discuss it with the sound design team.

In parallel with that, @arouinfar - can you please try this out on master and comment on whether you thinks it's a decent way to go?

[2022-07-18 17:42] jbphet commented on #107
Supplanted by #165 - closing.

[2022-07-18 17:42] #107 closed

[2022-07-18 19:15] arouinfar commented on #184
How often do you see it @KatieWoe? Is it frequent or just once in a while? I'm fine with the latter.

[2022-07-18 19:40] KatieWoe commented on #184
I saw it once while testing, but it wasn't a large sample size due to difficulty getting alerts and temp reading in https://github.com/phetsims/greenhouse-effect/issues/195.

[2022-07-18 22:37] pixelzoom opened #196 "`tandem` can be passed via both param and options in several places."
Noticed during cleanup "TypeScript sprint"....

In greenhouse-effect, there are a number of places when a constructor allows you to pass a `tandem` as both a required constructor parameter and as an option.  For example, in ConcentrationModel.ts:

[code]

The `tandem` parameter is unnecessary and undesirable here. PhET typically passes tandems via options. But more importantly, `LayersModelOptions

[2022-07-20 16:49] arouinfar commented on #194
Thanks @KatieWoe. This seems like an oversight to me.

I think Molecules and Light is the only sim that currently uses these hotkeys. Here's the relevant snippet from its keyboard help dialog.

<img width="521" alt="image" src="https://user-images.githubusercontent.com/8419308/180036173-2ec5e81a-f813-4410-97ea-9219db756bee.png">

In MAL, the TimeControlNode is described within the context of the O

[2022-07-20 16:52] arouinfar commented on #194
Actually, I just realized Alt+L is used to increase the standard size of the StepForwardButton. I don't know if that will become standard practice, so we might decide to skip generalizing that part to Basic Actions.

[2022-07-20 16:56] arouinfar commented on #192
Thanks @Nancy-Salpepi

This seems pedagogically problematic to me. There is a cause and effect relationship that we want users to pick up on. More greenhouse gases in atmosphere means that more infrared is redirected to (and thus absorbed by) the surface resulting in the surface warming and emitting more infrared.

[2022-07-20 17:00] arouinfar commented on #195
This sounds fairly serious, but unlikely to have any impact on the interviews with the consultants since they won't be using MobileVO.

[2022-07-20 17:06] arouinfar commented on #170
Sounds good to me @jbphet

[2022-07-21 16:30] jbphet commented on #170
The sound design team was good with it too.  Closing.

[2022-07-21 16:30] #170 closed

[2022-07-22 23:11] jbphet commented on #165
Done, closing.

[2022-07-22 23:11] #165 closed

[2022-07-25 17:28] jbphet commented on #182
Since QA seems to have verified it and @KatieWoe said, "...this can probably be closed...", I'm going to go ahead and close it.

[2022-07-25 17:28] #182 closed

[2022-07-26 18:29] jbphet commented on #143
@Ashton-Morris - I changed the name of `ghe-energy-balance-indicator-blip.mp3` to `energyBalanceBlip.mp3` when incorporating it into the code.  This is to let you know so that you can track the source file(s).

- [ ] Duly noted.

[2022-07-26 21:58] Ashton-Morris commented on #185
I am adding this mockup here that we thought was a good direction to start in.

[- GHE_ Energy_Flux_Top_and_Bottom_Mockup.mp4](https://drive.google.com/file/d/19762bubnL04QrFb7clvEWQ04qhKwlnKW/view?usp=sharing)

[2022-07-27 00:45] jbphet commented on #143
I have an initial implementation of this.  We will review it at the next sound design meeting.  Deferring until then.

[2022-07-27 13:32] jessegreenberg commented on #195
This is the same as https://github.com/phetsims/friction/issues/292 and https://github.com/phetsims/john-travoltage/issues/449. Ill try to identify what is causing it and see if it can be fixed.

[2022-07-27 13:43] jessegreenberg commented on #194
I think hotkeys are typically only going to be used by superusers and are too complicated for the "Basic Actions" section. I think my preference would be to add a new section for this.

[2022-07-27 14:20] jessegreenberg commented on #193
This is happening because of the interval at which we announce and save values to alerts. Whenever we create an alert, we save model values and describe what has happened since the last time we made an alert. Whenever we change the concentration we wait 2 seconds for the model to change before making an alert. But we still describe things relative to the previous alert.

I drew this plot to help m

[2022-07-27 14:36] jessegreenberg commented on #192
Screen readers will speak alerts in whatever order they wish, but we hoped UtteranceQueue would feed content to them so that alerts are made in the order that we add them to the queue. In the sim we could probably fix this by adding a small delay in between each alert we send to the UtteranceQueue. But it would be better if a fix can be made in UtteranceQueue directly.

[2022-07-27 14:45] jessegreenberg commented on #192
Just noting that performance on my old MacOS is to bad to run VoiceOver with this sim. VoiceOver only ever says "Busy" while the sim is running. But I am able to test alerts by disabling drawing the waves.
[code]

[2022-07-27 18:37] jessegreenberg commented on #193
Thinking about this more, I think this is just the natural behavior of the model and it is describing the plot in https://github.com/phetsims/greenhouse-effect/issues/193#issuecomment-1196824854 correctly. I wouldn't recommend changing how it is described but let me know what you think @arouinfar .

[2022-07-27 19:09] jessegreenberg commented on #194
Discussed today - Ill make a new section with default content for the "timing controls". For this sim, Ill place it under the "slider"  section.

[2022-07-27 19:10] jbphet commented on #194
We discussed this in the 7/27/2022 design meeting and concluded that interviews can go ahead without this functionality.  @arouinfar said she would let participants know verbally if they appear to be searching for this functionality.

[2022-07-27 19:25] jbphet commented on #193
This was discussed in the 7/27/2022 design meeting, and we decided that this problem does not block the planned interviews.  We have some thoughts on how to simplify the alerts and thus partially address this behavior, and some thoughts on what to put in the Teacher Tips doc.  @arouinfar will elaborate.

[2022-07-27 19:29] jbphet commented on #192
Discussed in the 7/27/2022 meeting, and @arouinfar said that it may be a couple of weeks before the planned interviews occur, so it would be nice to address this one prior to the interviews.

[2022-07-27 20:41] jbphet opened #197 "Consider consolidating the controls related to surface temperature on the "Waves" screen"
In #170, we decided to make the ambient temperature sound be on when either the "Surface Thermometer" or the "Show Surface Temperature" checkboxes are checked.  So far, the designers are all in agreement that this seems reasonable, but during the sound design meeting @emily-phet suggested that we might want to group these two controls into a panel with a title to make it a bit more obvious that th

[2022-07-27 21:37] jbphet commented on #191
@jessegreenberg and I collaborated on this, then reviewed the results in today's design meeting, and the functionality is essentially approved.  I think we're good here.  Closing.

[2022-07-27 21:37] #191 closed

[2022-07-27 22:21] jessegreenberg commented on #192
I have a proposed fix for this in https://github.com/phetsims/utterance-queue/issues/88 but I am not able to test VoiceOver with my Mac. @Nancy-Salpepi would you mind trying the sim on master and seeing if this is improved?

[2022-07-27 23:13] jessegreenberg commented on #194
OK, an initial commit for this has been made. Strings are not translatable yet until they have been reviewed. @arouinfar would you mind taking a look and verifying the default content looks OK? Any layout changes or anything else? A "Timing Controls" section can be found on every screen (except micro and home).

[2022-07-28 14:06] Nancy-Salpepi commented on #192
@jessegreenberg things are much improved! If I move the slider and allow all the alerts to play, they are in the correct order.

I only hear statements out of order if I move the slider in the middle of the statements being uttered. Here is an example:

https://user-images.githubusercontent.com/87318828/181523184-7cfdbd6c-23cc-4878-8ad7-768d8ac018c7.mov

@jessegreenberg I'm assuming this is becaus

[2022-07-29 17:46] jbphet commented on #198
Transferred this issue from molecules-and-light to greenhouse-effect, since that's where the sound files now reside.

I'm also going to mark this as "blocks-publication", since this should be addressed before the next publication of the Molecules and Light sim or any version of Greenhouse Effect that includes these sounds.

[2022-08-01 13:30] #195 closed

[2022-08-02 22:01] jbphet commented on #143
Reviewed in the 8/2/2022 sound design meetings and decided to make the following changes:
- [ ] Slightly increase the max and min blip frequencies
- [ ] Make the fade infinitely long for now, and possibly remove it entirely if we decide we like this
- [ ] Move it behind the "Extra Sounds" options
- [ ] Add some additional reverb to the sound

[2022-08-03 13:18] jessegreenberg commented on #192
Yea, thats right @Nancy-Salpepi. We might be able to make the "More infrared radiation redirecting back to surface" alert "assertive" so that it interrupts and cancels all previous alerts Ill try it out.

[2022-08-03 14:32] Nancy-Salpepi commented on #192
@jessegreenberg the "More/Less radiation redirection back to surface" statement now interrupts alerts! There is a noise that  occurs each time before that particular statement. Not sure how you felt about that.

https://user-images.githubusercontent.com/87318828/182634510-a203ecac-c05f-4ba8-99e7-1963ed19a780.mov

[2022-08-03 14:40] Nancy-Salpepi commented on #192
Things sound a bit odd when I switch to Date mode. The Redirecting statement comes before the description of the time period. For example:
* Year 2020, selected, radio button, 1 of 4
* More infrared radiation redirecting back to surface
* Now there are a large number of homes and factories in the observation window.

[2022-08-03 14:52] jessegreenberg commented on #192
OK, thanks @Nancy-Salpepi - regarding the sound in https://github.com/phetsims/greenhouse-effect/issues/192#issuecomment-1204030825 I checked with @terracoda and apparently that is a sound that VO plays. Most likely they are trying to signify that something important just happened with an aria-live=assertive alert. There is no way to prevent it currently.

Regarding https://github.com/phetsims/gre

[2022-08-03 19:07] jbphet commented on #194
The design team reviewed this in today's meeting, and @arouinfar approved, so we should move ahead with making this string translatable and then we're done.

[2022-08-03 19:35] jbphet commented on #193
The design team discussed this in today's meeting, and decided that this is the desired change: Add a delay of a few seconds after a change to the gas concentration that prevents context responses about the surface temperature from being put into the utterance queue for a few seconds.  This will allow the other messages, such as "More infrared radiation being emitted from surface", to have time to

[2022-08-03 19:51] jbphet commented on #192
We discussed this in today's design meeting, and it was suggested that we try removing obsolete messages from the utterance queue when possible.  @jessegreenberg did some real-time investigation and said that this is indeed a possibility.  He'll try it out and then we will re-review.

[2022-08-03 20:55] jessegreenberg commented on #171
Initial commit for zoom bottoms above. Buttons only added on the Layer Model screen. There are three zoom levels. @jbphet Ill leave you assigned to review. Feel free to reassign to me or make changes directly if something needs adjusting, or bring back to design if you think it is ready.

[2022-08-03 21:10] jessegreenberg commented on #194
In addition to the final cleanup above  I noticed a layout problem
![image](https://user-images.githubusercontent.com/6396244/182712381-9d0e63c9-474a-4723-b475-79b3c5bde3f4.png)

I thought that all icons in a column would be left aligned.

[2022-08-03 21:11] jessegreenberg commented on #194
Addressed above.

[2022-08-03 21:38] jessegreenberg commented on #194
OK, all done here. TypeScript is cleaned up and the strings are now translatable. Closing.

[2022-08-04 13:20] pixelzoom commented on #194
Reopening. What are "timing controls"?  If this is at all related to TimeControlNode, the terminology here is very confusing, and we've once a keyboard-help section (TimingControlsKeyboardHelpSection) differently than what it's related to  (TimeControlNode).

[2022-08-04 13:22] pixelzoom commented on #194
The doc for TimingControlsKeyboardHelpSection is:

[code]

It would be helpful to be specific about what "timing controls" is.

[2022-08-04 14:48] pixelzoom commented on #194
It also seems like https://github.com/phetsims/scenery-phet/issues/682 (Hotkey support for TimeControlNode) should be addressed.  In Fourier https://github.com/phetsims/fourier-making-waves/issues/92, we decided not to enable TimeControlNode hotkeys because they did not support all of the functionality that's exposed in that sim (no hotkey for Step, in this case).

[2022-08-04 14:51] pixelzoom commented on #194
It also seems like effort would be better spent on addressing https://github.com/phetsims/scenery-phet/issues/682 (Hotkey support for TimeControlNode).  In Fourier https://github.com/phetsims/fourier-making-waves/issues/92, we decided not to enable TimeControlNode hotkeys because they did not support all of the functionality that's exposed in that sim (no hotkey for Step, in this case).  Two scree

[2022-08-04 15:31] jessegreenberg commented on #194
It will be a week or so until I can return to this issue so I removed the strings from scenery-phet-strings_en.json until we know they are solid.

[2022-08-04 15:45] pixelzoom commented on #194
So it sounds like "Timing" is related to TimeControlNode.

If "Timing" is the indeed the new terminology, then there are many things that need to change, in all sims. And it changes the PhET-iO API of all sims.

* Rename TimeControlNode to TimingControlsNode
* Rename all subclasses of TimeControlNode, eg:

[code]

* Rename all variables and tandems for instances of TimeControlNode. Note that this

[2022-08-04 15:48] pixelzoom commented on #194
I'd also be interested in hearing from @arouinfar on this issue, since she commented in https://github.com/phetsims/greenhouse-effect/issues/194#issuecomment-1190517474.  Fourier and Greenhouse both have identical uses of TimeControlNode, and identical problems -- no hotkey for the Step button.  Why did we decide to disable TimeControlNode  hotkeys in Fourier, but enable them in Greenhouse? Is it

[2022-08-04 23:41] arouinfar opened #199 "Further updates to Explore Mode RadioButtonGroup Responsive Descriptions"
When switching between the Explore Mode radio buttons, the concentrationProperty changes and the model is no longer in equilibrium. This triggers a ton of responsive descriptions (IR redirected/emitted, energy balance) that seem out of place.

Switching between the Explore Modes is not an act of experimentation, and the goal should be inform users that they are switching modes and that the surface

[2022-08-04 23:52] arouinfar opened #200 "Shorten time period descriptions"
We currently describe the time periods in three places:
1. Scene Summary:  time period is the {{year seventeen fifty}} and there is {{a farm}}.
2. Time Period radio button responsive descriptions: Now there is {{a farm}} in observation window.
3. Explore Mode radio button responsive descriptions: Currently, the time period is the {{year seventeen fifty}} and there is a {{farm}}.

@Matthew-Moore240

[2022-08-04 23:57] arouinfar opened #201 "When concentration = none, IR redirected should be "No" not "Less""
When the concentrationProperty changes we state:
* {{More/Less}} infrared radiation redirecting back to surface.
* {{More/Less}} infrared radiation emitting from surface.

However, the first statement is incorrect if the greenhouse gas concentration is zero. In the absence of greenhouse gases, we should be saying:
* {{No}} infrared radiation redirecting back to surface.
* {{Less}} infrared radiati

[2022-08-05 00:10] arouinfar opened #202 "Minor grammatical changes"
When updating the description doc, I noticed two small grammatical issues. These requests are not a priority for interviews.

- [x] Equilibrium temperature statement: remove the comma between the qualitative and quantitative temperatures.
  * Example from master: Surface temperature stable and historically moderate, at 13.6 degrees Celsius.
  * Desired statement: Surface temperature stable and his

[2022-08-09 22:15] jbphet commented on #143
The sound design team reviewed the current version in today's meeting, and we like what we've got.  @Ashton-Morris will check the mix, then we should be done.

[2022-08-09 22:44] arouinfar opened #203 "Energy Balance sound out-of-sync with description"
@Matthew-Moore240 and I noticed the Energy Balance sound for the first time today during our description meeting. There is a serious mismatch between the sound and description associated with the Energy Balance. This is particularly problematic because the Extra Sounds are designed to support users with visual disabilities who are likely to use a screen reader.

Here's a recording of the a11y view

[2022-08-09 23:25] jbphet commented on #203
@arouinfar - I'm happy to look at this, but it feels a little premature.  This is an in-progress feature, see https://github.com/phetsims/greenhouse-effect/issues/143 and https://github.com/phetsims/greenhouse-effect/issues/84.

I understand that we are trying to get a version ready for interviews, and I've published two dev versions towards that goal, but it seems to be taking quite a while to ac

[2022-08-10 14:23] jessegreenberg commented on #201
Potential change made above, @arouinfar @Matthew-Moore240 can you please confirm?

[2022-08-10 15:39] jessegreenberg commented on #199
Just trying to list the changes from what is currently in place, as I understand from the design doc
- [ ] A change to the way time period is described when changing control mode. This was covered in #200
- [ ] "Cloud added to sky" alert needs to come after the "Time period is ..." description.
    -  The order is correct when switching from date -> slider but incorrect when switching from slider

[2022-08-10 15:54] arouinfar commented on #199
@jessegreenberg this summary looks good overall.

The order seems to be incorrect in both directions.

Selecting "By time period"
<img width="437" alt="image" src="https://user-images.githubusercontent.com/8419308/183953804-fb53d989-6fb1-4c09-aa6d-c1d1e3f88ffa.png">

Selecting "By concentration"
<img width="365" alt="image" src="https://user-images.githubusercontent.com/8419308/183953932-ab4bb257-

[2022-08-10 15:56] arouinfar commented on #201
Looks good, thanks @jessegreenberg!

[2022-08-10 15:56] #201 closed

[2022-08-10 16:01] arouinfar commented on #200
Looks good, thanks @jessegreenberg!

[2022-08-10 16:01] #200 closed

[2022-08-10 16:07] jessegreenberg commented on #192
Clearing the utterance queue will not help with this. I verified that the alerts have been given to the screen reader before they can be cleared in this case.

Order of alerts currently:
![image](https://user-images.githubusercontent.com/6396244/183957884-5ce34915-44d8-40bb-8387-063e1135f141.png)

We want to hear all of these, it is just that they are coming through in an odd order. This will requ

[2022-08-10 17:50] jessegreenberg commented on #199
We got all but the last checkbox implemented today. We would like to check in about the two second delay during design meeting today.

[2022-08-10 18:59] jessegreenberg commented on #192
OK, a change was made to the description implementation so that we should always hear the observation window scene description before "infrared radiation redirecting" descriptions. This should resolve the comment in https://github.com/phetsims/greenhouse-effect/issues/192#issuecomment-1204040202.

@Nancy-Salpepi can you please try this situation again and see if it is improved?

[2022-08-10 19:59] jessegreenberg commented on #193
The delay in temperature alerts was added in the above commit. @arouinfar @Matthew-Moore240 would you mind testing this change out?

[2022-08-10 20:16] jbphet commented on #199
Discussed in the 8/10/2022 design meeting, here are the next steps that we've decided upon:

- [ ] Fix the problem where some of the timed alerts come out when the sim is paused
- [ ] Suppress the alerts about changes to IR and energy balance when switching between concentration control modes
- [ ]  Reset the `timeSinceLastAlert` when switching concentration control modes so that the behavior is p

[2022-08-10 21:14] jessegreenberg commented on #193
Actually, hold on review for a moment, I see overlap with this and what is requested her and https://github.com/phetsims/greenhouse-effect/issues/199.

[2022-08-10 21:48] jessegreenberg commented on #193
@arouinfar and I discussed over a zoom call and reviewed the current sim behavior and descriptions. We agreed not to do anything for this issue and accept it as the natural behavior of the model. We tried to increase the delay before describing temperatures and still saw this behavior. It was esecially noticeable as the sim starts up, you can reduce the concentration but still observe the temperat

[2022-08-10 21:48] #193 closed

[2022-08-10 22:08] jessegreenberg commented on #203
We discussed this today and I think the energy balance sounds were made hidden behind "enhanced"  sounds, or possibly behind a query param. We decided for now to continue with dev versions and tests for upcoming interviews. Removing my assignment.

[2022-08-10 22:37] jessegreenberg commented on #199
OK this is done, and @jbphet and I reviewed the changes and made some code improvements. @arouinfar @Matthew-Moore240 can you please verify things are working as you would expect? We are also going to proceed with a dev test soon.

[2022-08-10 23:02] arouinfar commented on #199
@jessegreenberg @jbphet this all looks great! I tested in VO/Safari and reviewed the a11y view.

[2022-08-10 23:04] jbphet commented on #202
These changes have been made, please verify them on master or on the dev version that I plan to put out within the hour.

[2022-08-11 12:13] Nancy-Salpepi commented on #192
@jessegreenberg I still hear IR radiation description before scene description

https://user-images.githubusercontent.com/87318828/184130433-7bb53082-0a08-42ec-90dc-d7192f33a374.mov

[2022-08-11 14:02] jessegreenberg commented on #192
Thanks @Nancy-Salpepi! I can hear the "beep" in your screen recording from the assertive alert so I think this is happening because VO reads the assertive alert and then reads the polite alerts without cancelling them. I am going to go ahead and revert my change in https://github.com/phetsims/greenhouse-effect/commit/102839a16d3c5208a6738187c27dfcb494afc892.

Alerts should come out in the right or

[2022-08-11 15:33] Nancy-Salpepi commented on #192
@jessegreenberg the alerts are now coming out in the right order 😁

[2022-08-11 15:43] Nancy-Salpepi commented on #199
The first three items in https://github.com/phetsims/greenhouse-effect/issues/199#issuecomment-1210885875 look good in version 1.1.0-dev.11 with VO on mac and in a11y view.

[2022-08-11 15:45] jessegreenberg commented on #192
Hooray! Thanks @Nancy-Salpepi. Closing.

[2022-08-11 15:45] #192 closed

[2022-08-12 15:21] jessegreenberg commented on #135
Reopening. Over slack @Nancy-Salpepi and @arouinfar reported that this is still a problem if you press and hold an arrow key to cycle through the radio buttons. But it is fixed if you quickly tap an arrow key to move through the dates.

The reason is because the browser adds a a small delay when you press and hold an arrow key and that delay is longer than the 500 wait time we added to wait before

[2022-08-12 15:25] jessegreenberg commented on #135
@arouinfar @Matthew-Moore240 can you review this and let me know if you would like to try changing anything?

[2022-08-12 15:55] jessegreenberg commented on #135
I found that a delay of 1 second is not enough to fix it on MacOS, but is enough for Windows. Over slack we agreed to try 1.5 second delay, which does work for default macOS settings.

It is just important that the delay be less than `ALERT_DELAY_AFTER_CHANGING_CONCENTRATION` (2 seconds) so that the other alerts related to temperature/IR still come out in the right order. I added an assertion so t

[2022-08-12 16:00] jessegreenberg commented on #199
Excellent, I think https://github.com/phetsims/greenhouse-effect/issues/199#issuecomment-1211379427 and https://github.com/phetsims/greenhouse-effect/issues/199#issuecomment-1212164829 are the sufficient review for this issue. Closing.

[2022-08-12 16:00] #199 closed

[2022-08-12 16:33] Nancy-Salpepi commented on #135
@jessegreenberg with VO and in a11y view, I no longer hear/see any scene descriptions for the years in between 2020 and the Ice Age when navigating quickly from one to the other.

[2022-08-12 16:35] arouinfar commented on #135
@jessegreenberg increasing the `alertStableDelay` to 1.5 eliminates the transient radio button aria values from being read out in VO, and behavior feels very natural.  I'll use dev.13 in today's interview and see how it goes.

I'll leave this issue open and self-assigned as a reminder to watch how users switch between the radio buttons. Even when quickly skipping through time periods, the comparat

[2022-08-12 16:43] Nancy-Salpepi commented on #135
@arouinfar and @jessegreenberg I do want to point out that this leads to a delay in the sound. For visual users using keyboard nav, the movements and sounds no longer match (delay when hearing sound after checking checkboxes, moving through radio buttons or pressing reset all). It is really obvious when VO isn't on.

[2022-08-12 16:48] Nancy-Salpepi commented on #135
actually it happens with the mouse too.

https://user-images.githubusercontent.com/87318828/184405747-6442ec74-1134-40d9-9478-55c28ed2a8c1.mov

[2022-08-12 17:17] Nancy-Salpepi commented on #135
@jessegreenberg after clearing history, sound is no longer delayed!

[2022-08-15 22:41] arouinfar commented on #202
Thanks @jbphet, this all looks good.

[2022-08-15 22:41] #202 closed

[2022-08-16 00:43] jbphet commented on #171
Thanks @jessegreenberg - the initial commits looked good.  I made some pretty significant changes.  I've added reference marks behind the arrows so that the scale is discernable, made the zoom factor exponential rather than linear to accommodate a bigger range, made sure that the max values fit, and added an additional zoom level in each direction.  So back at you for review.

At this point, I thi

[2022-08-16 00:44] jbphet commented on #171
Assigning also to @arouinfar in case you'd like to review it at a design meeting while I'm out of town.

[2022-08-17 19:20] jessegreenberg commented on #171
Reviewed during design meeting today -

The team thought the behavior and look is great. People really liked the addition of the tick marks for zoom context.

Some requests from the meeting
- Remove the last zoomed in level, the arrows tend to go way off plot and the next level is good enough.
- Remove the grey backgound rectangles behind the energy arrows.
- The title font for "Energy Flux" shoul

[2022-08-17 20:42] jessegreenberg commented on #171
These items were done in the above commit. @arouinfar can you please confirm, is there anything remaining for this issue?

[2022-08-17 22:16] arouinfar commented on #171
Thanks @jessegreenberg. Everything looks good in master, closing.

[2022-08-17 22:16] #171 closed

[2022-08-30 15:57] Ashton-Morris commented on #143
@jbphet I think you should turn up the Energy Balance Indicator 10%. Its pretty close to perfect but it needs a small boost.

[2022-08-30 20:22] jbphet commented on #203
The energy balance sounds are indeed now behind the "Extra Sounds" settings in the Preferences dialog.  Still, much of the behavior is the same as @arouinfar describes above once these extra sounds are enabled.  So, I have two questions.

First, @arouinfar says above:

The reason for the 3-4 second delay is actually because many of the object responses occur based on a periodic timer which is curr

[2022-08-30 21:46] jbphet commented on #203
@arouinfar - I was just thinking about the 2nd of the two items I've listed above, and I've come to the conclusion that it makes a lot of sense to use the model property that tracks whether the Earth-sun system is in radiative balance to gate the production of sounds for the energy balance sound generator.  This would make it naturally sync up with the object responses.  I'll move forward with tha

[2022-08-31 00:17] jbphet commented on #109
This is done, closing.

[2022-08-31 00:17] #109 closed

[2022-08-31 16:32] jbphet commented on #143
I've increased the output level.  Please check it out on master.  Remember that you need to turn on "Extra Sounds" from the preferences dialog to turn it on.

[2022-08-31 20:15] jbphet commented on #203
@arouinfar - I've added code that links the sound production to the model property that tracks whether the atmosphere is in radiative balance with the sun.  This works a lot better (in my opinion).  However, because the energy balance equilibrium alert is driven by the 4-second polling interval (discussed above), the turning off of the sound generation often happens a few seconds before the alert.

[2022-09-03 03:42] samreid commented on #124
@jbphet is this issue still ready for review? Should it be brought back to design meeting?  I'm just triaging the unassigned ready for review issues, and saw this one.

[2022-09-06 18:21] jbphet opened #204 "Add support for dynamic locales"
PhET has recently decided that we need to support dynamic locales, meaning that the locale can be changed while the sim is running and the strings and layout will correctly update to the new locale.  I asked @kathy-phet whether this feature was needed in Greenhouse Effect, and she said (over Slack):

Then later said:

[2022-09-06 18:30] jbphet commented on #204
Here is a link to a parallel issue for another sim.  It may be helpful to reference this in the implementation process.  https://github.com/phetsims/greenhouse-effect/issues/204

[2022-09-06 18:38] jbphet commented on #124
Thanks for calling this to my attention @samreid.  This has been implemented for a while and can be closed.

[2022-09-06 18:38] #124 closed

[2022-09-07 20:04] jessegreenberg opened #205 "Add Interactive Highlights to the sim"
In one of the recent accessibility tests, feedback indicated that hover styles are not sufficient for accessibility with combinations of zoom. We think interactive highlights would greatly help with this. Lets enable it and see if it helps!

[2022-09-07 20:12] jessegreenberg commented on #205
Interactive Highlights have been enabled in this sim, and they can be enabled in the Preferences dialog. @arouinfar can you please review and confirm the feature is working as expected?

[2022-09-07 20:43] arouinfar opened #206 "Increase size of greenhouse gas concentration slider thumb"
During recent accessibility testing, some users reported issues with the size of the slider thumb.

Dragon NaturallySpeaking with Chrome

OS Magnification with Chrome

The slider thumb does look a bit small. Its current dimensions are (20, 10). Let's increase that to (26, 13).
<img width="250" alt="image" src="https://user-images.githubusercontent.com/8419308/188973367-ae9366f6-d505-40f5-807d-ee1f

[2022-09-07 20:44] arouinfar commented on #205
Thanks @jessegreenberg! The interactive highlights look great in master.

[2022-09-08 21:32] samreid commented on #168
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-09 21:52] jbphet commented on #206
Done.

@arouinfar - Based on the comments that motivated this change, should we also consider enlarging the slider thumbs on the Layer Model screen (which hasn't had any accessibility testing yet)?

[2022-09-09 21:59] jbphet commented on #168
There is another issue that already exists about removing the sim-specific options UI, see https://github.com/phetsims/greenhouse-effect/issues/179.  I've updated the TODOs in the code to reference that issue instead, since it seems more appropriate.  Closing this one.

[2022-09-09 21:59] #168 closed

[2022-09-09 22:07] jbphet commented on #188
I am a bit bothered by how close the tick marks are to the text at the top of the meter now that the background rectangles have been removed.  This can be seen in the screenshot below.  I asked about it in the design meeting this week, and we decided that I should create a little more space here.

![image](https://user-images.githubusercontent.com/3082831/189452120-89057947-c736-4d1c-b75e-ff7197d9

[2022-09-09 22:16] arouinfar commented on #206
Excellent point, @jbphet. I'd forgotten about the sliders on the Layer Model screen. Let's apply the change to all slider thumbs.

[2022-09-12 19:01] mariahmaephet commented on #49
![1750  Recovered](https://user-images.githubusercontent.com/11527557/189734654-d6ff7b85-0f34-4fcf-a54f-5c3571fab5da.png)

[2022-09-12 19:05] mariahmaephet commented on #49
![1750](https://user-images.githubusercontent.com/11527557/189735258-f5aff549-f6a2-4583-b2e9-c97c013da673.png)

[2022-09-12 19:34] mariahmaephet commented on #49
![1950](https://user-images.githubusercontent.com/11527557/189740200-04f65ec2-16a6-437f-a173-9abaafbc8692.png)

[2022-09-13 23:24] jbphet commented on #206
@arouinfar - This is now done on master.  Please have a look and close this if it looks decent.  Please note that I had to make the slider tickmarks larger on the Layer Model screen sliders so that the larger thumb wouldn't obscure them.

[2022-09-14 19:38] arouinfar opened #207 "Absorbing Layers NumberPicker is too small"
Self-assigning to suggest an alternative size.

[2022-09-14 22:42] KatieWoe commented on #46
Closing for https://github.com/phetsims/qa/issues/832 as this seems solved. If this is in error, feel free to close.

[2022-09-14 22:42] #46 closed

[2022-09-14 23:09] jbphet commented on #206
We reviewed the larger thumbs and related changes in today's design meeting, and the group was good with it.  Closing.

[2022-09-14 23:09] #206 closed

[2022-09-15 00:59] arouinfar opened #208 "Make Celsius the default unit"
Celsius is a more naturally understood unit than Kelvin, and in recent interviews, users made a point to switch the units to *C before exploring.  In today's design meeting we decided to proceed with using Celsius as the default unit for all screens.

Kelvin was the default unit because it is necessary when using the equation related to blackbody radiation and radiative balance. However, there are

[2022-09-15 16:42] KatieWoe opened #209 "CT required tandems must be supplied"
[code]

[2022-09-16 17:15] jbphet commented on #209
CT is now clear - closing.

[2022-09-16 17:15] #209 closed

[2022-09-16 18:51] jbphet opened #210 "Branch: betterEnergyBalanceBehavior"
This branch is being used to experiment with different ways to render the waves so that it is more obvious when changes in their energy reach the top of the atmosphere.  This will make the behavior of the energy balance indicator make more sense.  See https://github.com/phetsims/greenhouse-effect/issues/84.

[2022-09-16 23:25] jbphet commented on #84
I've implemented the behavior where the thickness of the lines representing the waves include variations in thickness to indicate their intensity at various locations along the wave.  I've done this on a branch in case we end up not using it.  We reviewed an early version in a design meeting a few weeks back, and @kathy-phet and @arouinfar felt it was worth continuing to refine it.

I have it work

[2022-09-20 16:41] arouinfar commented on #174
This was not an issue for users during interviews. Screen reader users used the PlayPauseButton quite a bit, and it was clear to them what state the sim was in, so "play" language is fine. Also, users generally rely on the responsive descriptions and do not generally return to the Scene Summary for the latest information.

[2022-09-20 16:41] #174 closed

[2022-09-20 16:44] arouinfar commented on #156
Based on the interviews with screen readers,  I think we can close this issue. Users rely heavily on the responsive descriptions for information. They are unlikely to read the Observation Window content while the system is equilibrating since there are lots of context responses describing what is going on.

[2022-09-20 16:44] #156 closed

[2022-09-20 16:46] arouinfar commented on #155
During interviews and compatibility testing with screen readers, I don't think anyone experienced any confusion with the "max" or "lots" descriptors, so let's close.

[2022-09-20 16:46] #155 closed

[2022-09-20 16:51] arouinfar commented on #135
During interviews with screen reader users, this was not an issue. Both users (Mobile VO & JAWS) moved the focus between the radio buttons without actually selecting them, so they heard the appropriate comparative statements, so let's close.

[2022-09-20 16:51] #135 closed

[2022-09-20 16:53] arouinfar commented on #197
During the student interview, compatibility testing, and screen reader interviews, there didn't seem to be any issue with the association of these two checkboxes. I do not recommend making any changes at this time, especially given the consistency issues we would run into across screens, closing.

[2022-09-20 16:53] #197 closed

[2022-09-20 18:24] arouinfar commented on #84
Thanks @jbphet. I prefer the version with the opacity, and I think the artifacts at the stroke boundaries are generally small. Here are some examples of the extreme cases:

<img width="224" alt="image" src="https://user-images.githubusercontent.com/8419308/191300362-5aa1cdf9-6671-4db9-8a6d-7b119b028fe0.png"> <img width="227" alt="image" src="https://user-images.githubusercontent.com/8419308/191300

[2022-09-20 18:32] arouinfar commented on #188
@jbphet made some tweaks and the team reviewed in the 9/14/22 design meeting. In general, we liked the changes but recommended reducing the padding between the Visible/Infrared titles and the grid lines to be more similar to the bottom padding.  Looks like @jbphet may have already made that change, here's what it looks like in master:
<img width="90" alt="image" src="https://user-images.githubuser

[2022-09-20 18:35] arouinfar commented on #180
Tagging for design meeting. The current implementation uses a slider, so I don't think we need specific information in the keyboard help dialog, but let's confirm with the team.

[2022-09-20 18:48] arouinfar commented on #207
Here's a mockup of some alternative sizes:
<img width="957" alt="image" src="https://user-images.githubusercontent.com/8419308/191339895-c5057a16-1744-44f3-85ff-dd711e094f37.png">

[2022-09-20 18:58] arouinfar opened #211 "Update help text for Show Surface Temperature checkbox"
During a screen reader interview, one participant interpreted the help text, "Surface glows to indicate temperature." as being only applicable to visual users. We originally chose to reference the surface glow because students may hear their classmates or teachers reference the glow.  However, there are other representations in the simulation we chose not to describe the appearance of, such as the

[2022-09-20 19:04] arouinfar opened #212 "Rename "Explore Mode" to "Experiment Mode""
Based on the screen reader interviews, we want to improve the experience of switching between the two experimentation modes and provide better scaffolding around the experience.

@Matthew-Moore240 and I discussed, and decided to make these changes:
- [x] Rename "Explore Mode" to "Experiment Mode"
- [x] Update the Play Area paragraph in the Scene Summary. Changes were made to 2nd and 3rd sentences:

[2022-09-20 20:08] jbphet commented on #208
Done, closing.

[2022-09-20 20:08] #208 closed

[2022-09-20 21:25] jbphet commented on #185
@Ashton-Morris and I discussed this in the 9/20/2022 sound design meeting, and he has some recollections about the feedback he got from this mockup.  He'll write those up in this issue, then create some sounds that I can try to integrate.

[2022-09-21 18:27] Ashton-Morris commented on #185
[Adding some files. ](https://drive.google.com/drive/folders/19bEE-mjkSfpZBq5C6TtlKjP4yJa5zr3C?usp=sharing)

- GHE_Energy_Flux_Top_and_Top_IR.wav
- GHE_Energy_Flux_Top_and_Top_IR.mp3
- GHE_Energy_Flux_Top_and_Bottom_IR_B.wav
- GHE_Energy_Flux_Top_and_Bottom_IR_B.mp3
- GHE_Energy_Flux_Top_and_Bottom_IR_A.wav
- GHE_Energy_Flux_Top_and_Bottom_IR_A.mp3

In the mapping "GHE_Energy_Flux_Top_and_Top_IR"

[2022-09-21 19:25] jbphet commented on #207
The design team just took a took at this, and decided that we should go with 30%.

[2022-09-21 19:33] jbphet commented on #180
At today's meeting we decided that we would change the heading for the Slider Controls in the keyboard help dialog to say "Slider and Flux Meter" controls.  This pertains to the screens that include a flux meter, which are the Photons and Layer Model screens.

[2022-09-21 19:58] jbphet commented on #194
The Greenhouse Effect design team (AR,KP,JG,JB,MN,MM) discussed the naming of the controls, tandems, and what is presented in the keyboard help dialog in our meeting today.  Here are some notes.

Above, @pixelzoom said:

@arouinfar and @kathy-phet said yes to both of the questions above.

So, the only thing that we believe needs to change is the keyboard help section in the code from `TimingContro

[2022-09-21 20:45] KatieWoe opened #213 "CT required tandems must be supplied"
[code]

[2022-09-22 20:04] jbphet commented on #213
I've committed a fix that should correct this.  Closing.

[2022-09-22 20:04] #213 closed

[2022-09-22 21:00] jbphet commented on #207
Done.  @arouinfar - Would you like to check it on master and see if it's what we're after?

[2022-09-23 16:11] arouinfar commented on #207
Thanks @jbphet! The changes look great.

Here's a before and after (also includes the changes in #206)
<img width="266" alt="image" src="https://user-images.githubusercontent.com/8419308/192005117-b727c395-1c19-40d0-a44b-a664c556f04f.png"> <img width="269" alt="image" src="https://user-images.githubusercontent.com/8419308/192005056-188bd542-c3d8-4bd5-83bc-e2500889cbcc.png">

[2022-09-23 16:11] #207 closed

[2022-09-23 22:41] jbphet opened #214 "Remove the Micro screen for the next set of releases"
The first release of this sim, as a prototype, included only the "Waves" screen.  The next major release is slated to add the "Photons" and "Layer Model" screens.  The "Micro" screen needs to be designed, and much of the functionality is already available in the "Molecules and Light" sim.  We discussed all of this at this week's design meeting and decided to remove the "Micro" screen entirely for

[2022-09-23 22:54] jbphet commented on #214
Done, closing.

[2022-09-23 22:54] #214 closed

[2022-09-23 23:25] jbphet commented on #212
I've made the changes described above.  Because I thought it made sense, I also change the string key `exploreModeHelpText` to `experimentModeHelpText`.  The wording for that one is "Explore a wide range of concentrations from none to lots or zoom in and compare historical time periods."  Are you okay with that wording or does it need an update as well?

[2022-09-23 23:29] jbphet commented on #211
Done, closing.

[2022-09-23 23:29] #211 closed

[2022-09-26 16:46] arouinfar commented on #212
Thanks @jbphet, good catch on the string key. Everything looks good in master.

We decided to leave this one "explore", so no edits needed there.

[2022-09-26 16:46] #212 closed

[2022-09-27 17:41] jbphet commented on #188
We looked at this in the last design meeting, and the team agreed that the spacing now looks good.  I think this can be safely closed now.

[2022-09-27 17:41] #188 closed

[2022-09-27 19:38] jbphet commented on #185
Note: I've downloaded `GHE_Energy_Flux_Top_and_Top_IR` and renamed to `irFluxUp`.

[2022-09-28 22:31] jbphet commented on #84
In the review meeting, the design team said that they are fine with the way the waves look when rendered with opacity, and the points where sections of the waves overlap didn't bother them.  I'll remove the query parameter and make it always render the waves using opacity as part of the intensity indication.

[2022-09-30 17:52] jbphet opened #215 "Non-sourced waves are not being correctly conveyed in state"
Waves that have gone from being sourced to being un-sourced, which means that they are propagating on their own through space, are not being correctly conveyed via state.  Perhaps the best way to show this is with a picture from the state wrapper.  This capture a moment after setting the gas concentration to "None", thus "freeing" the waves that were being sent back to the Earth.

![image](https:/

[2022-09-30 18:27] jbphet commented on #215
It turns out that the start point of the wave wasn't being set in the `applyState` method.  I added it, and it appears to have fixed the problem.  Closing.

[2022-09-30 18:27] #215 closed

[2022-09-30 18:28] jbphet commented on #210
This branch has now been moved into master.  Most of the history about it can be found in https://github.com/phetsims/greenhouse-effect/issues/84 if it's ever needed.  I'll delete the branch and close this issue.

[2022-09-30 18:29] #210 closed

[2022-10-03 21:19] mariahmaephet commented on #49
![1750  Recovered](https://user-images.githubusercontent.com/11527557/193684681-04a3dd6b-978d-4e46-b92f-16440a8164b0.png)

[2022-10-03 21:53] mariahmaephet commented on #49
![1950b](https://user-images.githubusercontent.com/11527557/193692747-bf695f32-abbe-42a2-b5fa-56da50f1de8b.png)

[2022-10-04 22:23] jbphet commented on #185
I've improved the fade in/out algorithm for the sound generation for IR in the up direction and added the pitch adjustment.  At this point, it works reasonably well on the Photons screen, but is too active on the Layer Model screen.  I'll need to refine the thresholds and algorithms to make this work better.  Once this is done, I'll move on to making the sounds work for the IR flux in the downward

[2022-10-05 17:41] jbphet opened #216 "Publish dev version for next round of interviews"
@arouinfar is planning to do some more accessibility-oriented interviews on the Waves screen and has requested a dev version with the most recent updates.

[2022-10-05 17:53] jbphet commented on #216
@arouinfar - I've published [this dev version](https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.14/phet/greenhouse-effect_en_phet.html?screens=1) from master - please check it over and let me know if it is adequate for your needs.

Also, do you feel that we should have QA do a dev test on this?

[2022-10-05 18:02] mariahmaephet commented on #49
![noroad](https://user-images.githubusercontent.com/11527557/194129961-48444f89-148d-4bc5-b38f-1cdca671649a.png)

[2022-10-10 23:21] jbphet commented on #84
The changes where the waves change in thickness according the the amount of energy at a given level in the atmosphere is now fully integrated into master.  @arouinfar - I'm assigning this to you for the final call on whether this fully addresses the original issue where the balance meter behavior seemed delayed.

[2022-10-11 17:07] jbphet commented on #185
I've added sound for the downward direction.  It uses a base sound and a low-pass filter to create the effect that I believe I'm hearing in the mockup.  I think this is now ready for review with the sound design team.

[2022-10-11 19:27] jbphet commented on #49
I've integrated the artwork above and shared some of it with the design team.  For the most part, it's starting to look really good.  Here are a few requests that came out of the integration and review:

1. The background landscape (the shape of the foreground hills and the background mountains) changes between the agricultural and early industrial images.  We'd like this to remain the same.  In f

[2022-10-11 19:39] jbphet commented on #49
@RVieyra - The design team for this sim was looking over the preliminary artwork above, and @kathy-phet suggested that we run it by you to see if you think it may be in need of localization.  This is in the early stages, but we'd like your input: Do you think the artwork shown above, and any landscape artwork that is done for this sim, should be localized?

[2022-10-11 19:59] RVieyra commented on #49
Let me take this back to the #Global team and see what they say. I think the answer would always be "yes," but let me identify some potential options for you.

[2022-10-12 13:05] RVieyra commented on #49
This is not yet all-inclusive of potential options, but here are a few for your consideration:

**Africa**
Zach shares these possible landscapes:
<img width="581" alt="Screen Shot 2022-10-12 at 9 05 41 AM" src="https://user-images.githubusercontent.com/89751562/195350497-c7ea139a-5357-4d63-a799-57c95fd956d1.png">
<img width="352" alt="Screen Shot 2022-10-12 at 9 05 50 AM" src="https://user-images.

[2022-10-12 16:43] mariahmaephet commented on #49
![iceage  Recovered](https://user-images.githubusercontent.com/11527557/195400737-e2906563-1b3e-4c54-a39c-7e8c0e4aaf59.png)

[2022-10-12 16:59] RVieyra commented on #49
And an additional comment from Diana about Latin America:

- Houses in Latin America are very rarely A-style roof. Rather, most are flat (square/rectangle).
- And farms are like this. no roofed barns, windmills, tall grain stores.
![image](https://user-images.githubusercontent.com/89751562/195403843-572884a3-4b22-436a-8ecf-3542ed8c9589.png)

[2022-10-12 17:52] jbphet commented on #185
At the sound design meeting yesterday we realized that @Ashton-Morris had intended to cross fade between two sounds for the downward direction IR instead of using a bandpass filter.  I'll fix this up for the next review.

[2022-10-12 19:45] jbphet commented on #49
better contrast with waves and photons against the background colors
less cluttered 1950 and 2020
road path shifted so not so parallel with intersection point
keep intersection path relatively clear
lower corners where controls are (particularly the right side) less stuff
fairly flat colors and low detail are good

[2022-10-13 15:59] jessegreenberg opened #217 "Issue with licenses for media types"
Just noticed when running pre-commit hooks, it looks like one of the license entries got removed in https://github.com/phetsims/greenhouse-effect/commit/5ca64c1556508eed503dbee9bc5837394a51681f.

[2022-10-13 16:05] jessegreenberg commented on #217
I added the license entry back, just an fyi @jbphet in case pre-commit hooks are not set up. Closing.

[2022-10-13 16:05] #217 closed

[2022-10-16 23:34] arouinfar commented on #84
We reviewed this at last week's design meeting, and it looks good. Closing.

[2022-10-17 00:02] arouinfar commented on #203
I completely agree, it's working much better! Thanks @jbphet.

The delay doesn't sound too unreasonable, and I can make sure to document this in the Teacher Tips.

I tested this out a bit in VO/Safari, and I'm not bothered by the current behavior. I don't think it's necessary to restart the timer, so I think we can go ahead an close.

[2022-10-17 00:02] #203 closed

[2022-10-17 00:50] arouinfar commented on #167
I think it's time to revisit this in a design meeting. With the current implementation (see latest [dev version](https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.14/phet/greenhouse-effect_en_phet.html)) the photons are generally easy to track. However, it's hard to detect when a photon is absorbed and emitted upward since there's only a slight effect on the direction of travel. I thi

[2022-10-18 22:39] jbphet commented on #185
The sound design just reviewed the behavior in our weekly meeting.  I think we all felt like it's not perfect, but it's pretty good. The biggest problem is that it's a bit hard to tease out the distinction between the sound that represent IR moving up and IR moving down, but this is known to be a tricky issue with sonification in general.  So, the bottom line is that we're going to go with what we

[2022-10-18 22:39] #185 closed

[2022-10-18 22:59] jbphet opened #218 "Balance volume levels for the sounds"
One of the steps in the sound design process is to balance the sounds once all - or at least most - of them are in place.  We've reached the point where it is time to do this.

I've published a dev version that we can use as a baseline, see https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.15/phet/greenhouse-effect_en_phet.html.

@Ashton-Morris and I discussed this over Zoom, and he i

[2022-10-19 18:16] mariahmaephet commented on #49
![2020back](https://user-images.githubusercontent.com/11527557/196772192-4d110445-5a49-4298-a51b-70f36bc902c1.png)
![2020objects](https://user-images.githubusercontent.com/11527557/196772196-592ea1d9-80a3-4a37-b5cb-5a3319e3a329.png)

[2022-10-19 19:32] arouinfar opened #219 "Concentration readout for time periods should be accurate"
Looks like 2020 data appears, but 1950, 1750, and Ice Age data needs to be added. This should be done before publishing a prototype in #220. Self-assigning to confirm data.

<img width="273" alt="image" src="https://user-images.githubusercontent.com/8419308/196786412-979c325d-8915-43aa-b259-905c91825c1c.png">

[2022-10-19 19:39] jbphet opened #220 "Publish prototype version that includes the "Photons" and "Layer Model" screens"
We'd like to make the 2nd and 3rd screens available to users sooner rather than later, but we have a ways to go on description, so we'd like to publish a prototype version that includes the basic functionality and excludes phet-io (the phet-io brand would not be published) and interactive description.

Here are some notes:

- This release should include dynamic locales and layout
- We will leave t

[2022-10-19 20:03] jbphet commented on #49
Thoughts from the design team on the icons:

- Waves screen: One sunlight wave, one radiated IR wave from ground and splitting in atmosphere, background of hill and sky
- Photons screen: Same background for sky and ground, a handful of photons, visible and IR, scattered about, more IR at the lower portion
- Layer screen: A single layer, sky gradient behind it, a couple IR photons below and fewer (

[2022-10-19 20:14] jbphet commented on #49
For the artwork, the design team feels like there are a few too many buildings, trees and such, and the complexity could be reduced.  There could probably be about 1/3 as many objects as there currently are (i.e. reduce it by about 2/3).  The city could look like how the city of Denver looks from Boulder, where it is a cluster in the distance and fairly faint.

[2022-10-20 17:27] zepumph commented on #198
I would recommend this as a "blocks-sim-publication", and creating a "pointer" issue if needed in Molecules and Light because otherwise every dev will see this issue when going to publish any sim (like I just did for getting ready for Friction and Ratio and Proportion.

[2022-10-21 22:29] jbphet commented on #16
I decided to undefer this and take care of it because the mockups are not being used much anymore and their presence was interfering with the use of the Scenery "helper".  The mockups have now been removed, closing.

[2022-10-21 22:29] #16 closed

[2022-10-24 21:16] Ashton-Morris commented on #218
I have some suggestions.

- Start sunlight can be turned down 10%
- Energy balance net could be turned up 15%
- Energy Flux IR (Up Red)  can be turned down 20%

@jbphet  I think the **photon levels** compared to what the temperature sounds are sound pretty good to me, but you have used it for more time and mentioned them feeling too loud after a time. Would you like to turn them down to your prefe

[2022-10-25 22:26] arouinfar commented on #219
@jbphet I added the data for the greenhouse gas concentrations to the [design doc](https://docs.google.com/document/d/1rsAHW3hP58FaXbRctqI_ovuvL6CKbCVGlh8Cf3ralpw/edit#heading=h.ofraczijzo4w). Over to you to update the readouts for each time period.

[2022-10-25 22:41] arouinfar opened #221 "Focus Order for Photons and Layer Model screens"
Related to #220. Alt input is technically working on the Photons and Layer Model screens, but the focus order is currently jumbled which makes the sim difficult to use. @jbphet please let me know if you have any questions.

**Photons Screen**
The Photons screen should have the same focus order as the Waves screen. The only additions are the Flux Meter checkbox and slider, which should slot in like

[2022-10-25 22:42] arouinfar commented on #49
Tagging for #220

[2022-10-26 19:17] arouinfar commented on #216
I self-tested dev.14 and it all seemed good. I've shared the link with Aleeza for the next round of user testing, so closing.

[2022-10-26 19:17] #216 closed

[2022-11-02 21:38] jbphet commented on #221
This is now implemented.  @arouinfar - please check it over and let me know if you see any problems.

[2022-11-02 21:59] arouinfar commented on #221
Thanks @jbphet! Everything looks good in master, closing.

[2022-11-02 21:59] #221 closed

[2022-11-08 19:54] Ashton-Morris commented on #218
@jbphet I think it sounds good!

[2022-11-09 18:46] jbphet commented on #204
This effort is now complete, so I'll close the issue.

For reference, I feel I should describe how I approached converting the a11y strings to StringProperty instances.  In many, though not all, cases the a11y strings are used in "describers" that return a description string when provided with certain information from the model.  For example, the class `ConcentrationDescriber` has a number of stat

[2022-11-09 18:46] #204 closed

[2022-11-14 18:56] mariahmaephet commented on #49
![g17hill](https://user-images.githubusercontent.com/11527557/201742723-6b207c6f-1383-481a-a6ec-f0e27594c927.png)
![g17obj](https://user-images.githubusercontent.com/11527557/201742725-67bf3250-723c-4555-997b-a73e72ad4352.png)
![g19hilll](https://user-images.githubusercontent.com/11527557/201742728-e33ee973-b75e-4b86-835b-4740576bc76e.png)
![g19obj](https://user-images.githubusercontent.com/115275

[2022-11-15 00:24] jbphet opened #222 "Review sound design (a11y team)"
The sound design is now fully functional for this sim.  @emily-phet requested that we have members of the a11y team take it for a test drive and give us any feedback before sharing it with the larger design team.  I've published a dev version at https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.16/phet/greenhouse-effect_en_phet.html for this purpose.

Please try out the sound and let

[2022-11-15 22:30] Ashton-Morris commented on #222
- On Waves Screen: Not sure if its intended but if you have Show Surface Temp Checked but Show Thermometer Unchecked you can still hear the Temperature ambiance.

- On Layer Model Screen: You hear temperature sounds regardless of if all thermometers are unchecked.

[2022-11-16 20:20] jbphet commented on #49
Notes from review with the design team of the home screen and nav bar icons:
- Use regular red, and not color blind red, for the IR wave color
- Use bigger photons.  The size when the scale was set to 2 looked about right.  The number of photons should be reduced to look reasonable with ones that are this big.
- For the Layer Model icons, use just one bigger layer so that it is more visible in the

[2022-11-16 20:50] jbphet commented on #49
Notes from review of the landscape artwork with the design team:

- For the 2020 artwork, let's just have two windmills off to the left of the factory and a 2nd factory of some kind where the windmills are
- We'd like an indication of more traffic.  How about making the road a divided highway, which would help to imply more traffic.
- In general, we'd like more of a clear contrast from 1950 to 202

[2022-11-16 20:55] jbphet commented on #219
I've added in the data that @arouinfar supplied, and we reviewed it in the context of the sim in this week's design meeting, and here are the follow ups:

- [ ] The position of the data shouldn't shift when going to different dates (there is currently a big jump for the Ice Age date due to the narrow string for H2O). @jbphet will follow up on this.
- [ ] Can we just get rid of the H2O indication?

[2022-11-17 01:13] jbphet commented on #219
@arouinfar - The relative humidity portion has been removed.  I'm assigning this to you for follow-up on whether we're good to go with that change.

[2022-11-17 21:19] jbphet opened #273 "Should we use ppb instead of ppm for some of the concentration values?"
As of this writing, the concentration display looks like this:

![image](https://user-images.githubusercontent.com/3082831/202560704-170430e0-e886-45f2-a60d-8597dd8d3166.png)

During the 11/16/2022 design meeting Mark N pointed out that using ppm for the CH<sub>4</sub> and the N<sub>2</sub>O concentrations is pretty unconventional, and it's more common to see these described in ppb (parts per bill

[2022-11-17 21:23] jbphet commented on #102
Since the sound design for the "Photons" and "Layer Model" screens is now implemented, there isn't much point in interviewing on just the wave screen.  We've decided to close this issue and first do an internal review of the complete sound design (see https://github.com/phetsims/greenhouse-effect/issues/222), which will be followed up by a review by the full design team.  After that, we will likel

[2022-11-17 21:23] #102 closed

[2022-11-18 00:33] jbphet opened #223 "Check colors and color profile"
In the 11/16/2022 design meeting we discussed whether we should consider using `PhetColorScheme.RED_COLORBLIND` for the IR wave depictions.  @arouinfar said that she generally likes to test this sort of thing out by using the color profile, which wasn't available at the time.  I have now added it, so we can do this and address a couple of other things as well.  Here are the questions that come to

[2022-11-21 13:20] jessegreenberg commented on #222
I played with the sim for a while and I think I heard all of the sounds and understood what they are representing. I just noticed one bug:

- Switching screens while the Flux Meter's "Extra Sounds" are playing causes those sounds to be stuck playing forever on the new screen. Going back to the original screen with the flux meter allows the sounds to finish playing and stop.

[2022-11-21 18:10] Matthew-Moore240 commented on #222
I think the sounds are good! I didn't notice anything wrong other than the few things others have noted.

[2022-11-22 22:40] jbphet commented on #222
@Ashton-Morris said:

This is intentional, and I recall it being specifically requested, though I'm not sure by whom.

Also,

I should probably hook this sound to the ground temperature for consistency with the other screens.

- [ ] Disable sound on Layer Model screen when ground thermometer is off.

@jessegreenberg noticed that switching screens while the flux meter was producing sounds caused th

[2022-11-22 22:53] jbphet commented on #222
In response to @terracoda's comment:

I'll bring the question of whether we want something more distinct to the larger design team.  We could potentially adjust the volume curve to make the sound of IR waves coming back more noticeable in this range.

- [ ] Discuss behavior of sound over Ice Age to 2020 range with design team, decide on whether to make any changes.

Another things that @terracoda

[2022-11-28 20:50] jbphet opened #224 "Consider ducking ambient temperature sounds to make other sounds more distinguishable"
In https://github.com/phetsims/greenhouse-effect/issues/222, @BLFiedler said, "On my laptop speakers (MS Surface 10) it is a little difficult to pick out the flux meter sound with the temperature on..." @Ashton-Morris and I thought that this might be a good opportunity to try out ducking between different sounds.  Note that tambo doesn't support ducking at all yet, and we don't yet know if we are

[2022-11-28 20:56] jbphet opened #225 "Add sound tips"
During the review of the sound design in https://github.com/phetsims/greenhouse-effect/issues/222, @terracoda said, "For me there [are] a lot of sounds, so I find hearing the different sounds a bit difficult. I think the sound tip sheet will be very helpful for this sim."  This issue is to make sure that the "sound tips" are added.  I'm not very familiar with this process, and I don't know if the

[2022-11-29 16:59] mariahmaephet commented on #49
Hey! So for the 2020 one, I think we decided not to put objects on the far left because of the graphics that go on top of it? So I just made that power plant larger and widened the road, but if you do want to switch to another separate plant I can do that too.

(1750 replacement, con ovejas, below)
![2020power](https://user-images.githubusercontent.com/11527557/204593102-5aaaf8c8-cee0-438f-b9f4-ac

[2022-11-29 21:09] jbphet opened #226 "Use `_private` in state schemas to prevent internal information from appearing in phet-io"
In https://github.com/phetsims/tandem/issues/282#issuecomment-1324244418 @pixelzoom noted that the `_private` keyword and the functionality that goes with it is not being used in Greenhouse Effect.  I asked about how to use it, and @samreid said:

Because I don't have much insight into how we anticipate that phet-io customers will use state information like this, it's hard for me to make an inform

[2022-11-29 22:16] jbphet commented on #49
Thanks for the update @mariahmaephet.  The ovejas look awesome in context!  I think we need a few updates for the other elements.  Specifically:

- The road looks great in the 2020 background image, but the buildings disappeared, so we will need those added back.
- The idea of expanding the factory from the 50's to 2020 sounds great, but we'd still like to remove most of the windmills and put just

[2022-11-29 22:38] jbphet commented on #225
According to @emily-phet, there will be a sound features video that is created to cover this need, and it's on @BLFiedler's plate.  I'll go ahead and close this.

[2022-11-29 22:38] #225 closed

[2022-11-29 23:28] mariahmaephet commented on #49
Oh right, how do these look?

![2020city](https://user-images.githubusercontent.com/11527557/204670837-e2942059-2b02-4019-9b78-a223ab5348f4.png)
![2020edit](https://user-images.githubusercontent.com/11527557/204670839-f97105e6-5bb6-43e4-816c-5849f222352e.png)
![iceage](https://user-images.githubusercontent.com/11527557/204668640-b48efcbe-059b-4b94-b26f-cbb8d1605206.png)

[2022-11-30 20:24] jbphet commented on #219
In a recent design meeting, it was brought up that using decimal values of ppm, as we do now, is unusual.  It is more common to use ppb.  Should we do that here?  If we do, should we have a little info dialog like we do in other sims (e.g. Fourier).

Screenshot of current indicator:

![image](https://user-images.githubusercontent.com/3082831/204900574-00c12913-6d43-45f7-83e9-d42c0f60e9e2.png)

[2022-11-30 20:28] jbphet commented on #219
@arouinfar said during today's design meeting to go ahead with ppb for the upcoming prototype release.  We won't worry about having an info dialog for now and will follow up on whether it's needed for the full release later.